<div class="organization-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 团委活动</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.ylcaForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="activitiesname">活动名称</label>
                  <input name="activitiesname" type="text" ng-model="vm.ylcaData.activitiesname"
                         id="activitiesname" class="form-control"
                         placeholder="请输入团活动名称" required autofocus>
                  <div ng-messages="vm.yloForm.activitiesname.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">团活动名称不能为空</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group">
                  <label class="control-label">活动类别</label>
                  <select class="form-control"
                          ng-model="vm.ylcaData.activitiestype"
                          ng-options="yt.id as yt.name for yt in ylcaTypeInfo">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="activitiestime">活动时间</label>
                  <p class="input-group">
                    <input name="activitiestime" type="text" class="form-control"
                           id="activitiestime" uib-datepicker-popup
                           ng-model="vm.ylcaData.activitiestime"
                           is-open="popup1.opened"
                           datepicker-options="inlineOptions" ng-required="true"
                           close-text="Close" ng-disabled="vm.disabled"
                           placeholder="请选择活动时间"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open1()" ng-disabled="vm.disabled"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
                  </p>
                  <div ng-messages="vm.yloForm.activitiestime.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">活动时间不能为空！</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">活动图片</label>
                <div class="form-group text-center">
                  <img ngf-src="vm.fileSelected ? vm.picFile : vm.ylcaData.activitiespic"
                       alt="" class="img-thumbnail organization-profile-picture" ngf-drop>
                </div>
                <div ng-show="vm.loading" class="form-group text-center">
                  <img ng-src="/modules/core/client/img/loaders/loader.gif"
                       height="80" width="40" alt="Loading image...">
                </div>
                <div class="text-center form-group">
                  <button class="btn btn-default btn-file"
                          ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                          ng-model="vm.picFile" accept="image/*"
                          ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                          ngf-resize-if="$width > 400 || $height > 400">点击选择活动图片
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix" >
          <div class="col-xs-12 column">
            <div class="form-group col-xs-3 column">
              <label class="control-label">上传文件</label>
            </div>
            <div class="col-xs-6 column text-center" >
              <label>{{vm.fileSelect ? vm.fileFile.name: vm.ylcaData.file_path}}</label>
            </div>
            <div class="col-xs-3 column text-right" >
              <button class="btn btn-default btn-file"
                      ngf-select="(vm.fileSelect = true) && (vm.loading = false)"
                      ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                      ng-model="vm.fileFile"
                      accept="application/xhtml+xml">点击选择文件
              </button>
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12 form-group">
          <label class="control-label" for="activitiescontent">活动内容</label>
          <textarea name="activitiescontent" data-ng-model="vm.ylcaData.activitiescontent"
                    maxlength="2500"
                    id="activitiescontent" class="form-control" cols="30"
                    rows="3" placeholder="请输入活动内容"></textarea>
          <div>
            <span style="color: red" ng-show="vm.yzActivitiescontent">*活动内容不能为空！</span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.ylcaForm.$valid)">提交</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">退出</button>
  </div>
</div>
