<div class="organization-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 团组织</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.yloForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="col-md-12 form-group" show-errors>
          <label class="control-label" for="ylo_name">组织名称</label>
          <input name="ylo_name" type="text" ng-model="vm.yloData.ylo_name"
                 id="ylo_name" class="form-control" placeholder="请输入团组织名称" required autofocus>
          <div ng-messages="vm.yloForm.ylo_name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">团组织名称不能为空</p>
          </div>
        </div>
        <div class="col-md-12 form-group" show-errors>
          <label class="control-label" for="ylo_code">组织机构代码</label>
          <input name="ylo_code" type="text" ng-model="vm.yloData.ylo_code"
                 id="ylo_code" class="form-control" placeholder="请输入组织机构代码" required autofocus>
          <div ng-messages="vm.yloForm.ylo_code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">组织机构代码不能为空</p>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <label class="control-label">组织类别</label>
          <select class="form-control"
                  ng-model="vm.yloData.ylo_type"
                  ng-options="t.typename as t.typename for t in typeInfo">
          </select>
        </div>
        <div class="col-md-12 form-group">
          <label class="control-label">行业类别</label>
          <select class="form-control"
                  ng-model="vm.yloData.ylo_industrytype"
                  ng-options="it.industryTypeName as it.industryTypeName for it in industryTypeInfo">
          </select>
        </div>
        <div class="col-md-12 form-group" show-errors>
          <label class="control-label" for="ylo_secretary">团组织书记</label>
          <input name="ylo_secretary" type="text" ng-model="vm.yloData.ylo_secretary"
                 id="ylo_secretary" class="form-control" placeholder="请输入团组织书记" required autofocus>
          <div ng-messages="vm.yloForm.ylo_secretary.$error" role="alert">
            <p class="help-block error-text" ng-message="required">团组织书记不能为空</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.yloForm.$valid)">提交</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">退出</button>
  </div>
</div>
