<div class="dynamic-modal">
  <div class="modal-header">
    <h3>{{mo.method}} {{mo.tablename}}</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="mo.dynamicForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="mo.disabled">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 form-group" show-errors>
                <label class="control-label" for="title">活动主题</label>
                <input name="title" type="text" ng-model="mo.dynamicData.title"
                       maxlength="50"
                       id="title" class="form-control" placeholder="请输入活动主题" required autofocus>
                <div ng-messages="mo.dynamicForm.title.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">活动主题不能为空！</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="control-label">所属社区</label>
                <select class="form-control"
                        ng-disabled="mo.userCommId"
                        ng-model="mo.dynamicData.communityid"
                        ng-options="c.id as c.name for c in communityInfo">
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="control-label">活动类型：</label>
                <label class="control-label" ng-show="mo.tablename !== '两学一做'">{{mo.dynamicData.type}}</label>
                <select class="form-control"
                        ng-show="mo.tablename === '两学一做'"
                        ng-disabled="true"
                        ng-model="mo.dynamicData.typeId"
                        ng-options="t.id as t.name for t in typeInfo">
                </select>
              </div>
              <div class="col-md-12 form-group">
                <label class="control-label">党建类型</label>
                <select class="form-control"
                        ng-model="mo.dynamicData.partytype"
                        ng-options="p.name as p.name for p in partytypesInfo">
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <label class="control-label">活动图片</label>
              <div class="form-group text-center">
                <img ngf-src="mo.fileSelected ? mo.picFile : mo.dynamicData.photo"
                     alt="" class="img-thumbnail dynamic-profile-picture" ngf-drop>
              </div>
              <div ng-show="mo.loading" class="form-group text-center">
                <img ng-src="/modules/core/client/img/loaders/loader.gif"
                     height="80" width="40" alt="Loading image...">
              </div>
              <div ng-show="!mo.fileSelected" class="text-center form-group">
                <button class="btn btn-default btn-file"
                        ngf-select="(mo.fileSelected = true) && (mo.loading = false)"
                        ng-model="mo.picFile" accept="image/*"
                        ngf-before-model-change="mo.loading = true" ngf-resize="{width: 400}"
                        ngf-resize-if="$width > 400 || $height > 400">点击选择活动图片
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix" >
          <div class="col-xs-12 column">
            <div class="form-group col-xs-2 column">
              <label class="control-label">上传文件</label>
            </div>
            <div class="col-xs-8 column text-center" >
              <label>{{mo.fileSelect ? mo.fileFile.name: mo.dynamicData.file_path}}</label>
            </div>
            <div class="col-xs-2 column text-right" >
              <button class="btn btn-default btn-file"
                      ngf-select="(mo.fileSelect = true) && (mo.loading = false)"
                      ngf-before-model-change="mo.loading = true" ngf-resize="{width: 400}"
                      ng-model="mo.fileFile"
                      accept="application/xhtml+xml">点击选择文件
              </button>
            </div>
          </div>
        </div>
        <div>
        <div class="row" ng-if="mo.show">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="starttime">开始时间</label>
                  <p class="input-group">
                    <input name="starttime" type="text" class="form-control" id="starttime"
                           uib-datepicker-popup ng-model="mo.dynamicData.starttime" is-open="popup1.opened"
                           datepicker-options="inlineOptions" ng-required="true"
                           close-text="Close" ng-disabled="mo.disabled"
                           placeholder="请选择开始时间"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open1()" ng-disabled="mo.disabled"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
                  </p>
                  <div ng-messages="mo.dynamicForm.starttime.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">开始时间不能为空！</p>
                  </div>
                  <div>
                    <span style="color: red" ng-show="mo.yzStartAndEndTime">*开始时间不能大于等于结束时间！</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="endtime">结束时间</label>
                  <p class="input-group">
                    <input name="endtime" type="text" class="form-control" id="endtime"
                           uib-datepicker-popup ng-model="mo.dynamicData.endtime" is-open="popup2.opened"
                           datepicker-options="inlineOptions" ng-required="true"
                           close-text="Close" ng-disabled="mo.disabled"
                           placeholder="请选择结束时间"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open2()" ng-disabled="mo.disabled"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
                  </p>
                  <div ng-messages="mo.dynamicForm.endtime.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">结束时间不能为空！</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="head">责任人</label>
                  <input name="head" type="text" ng-model="mo.dynamicData.head"
                         id="head" class="form-control"
                         ng-pattern="/^[\u4e00-\u9fa5]/" maxlength="20"
                         placeholder="请输入责任人" required autofocus>
                  <div ng-messages="mo.dynamicForm.head.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">责任人不能为空！</p>
                  </div>
                  <div ng-show="mo.dynamicForm.head.$dirty && mo.dynamicForm.head.$invalid" class="has-error"
                       style="text-align: left">
                    <span class="help-block" ng-show="mo.dynamicForm.head.$error.pattern">责任人必须是汉字!</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="peoplenum">参加人数</label>
                  <input name="peoplenum" type="text" ng-model="mo.dynamicData.peoplenum"
                         id="peoplenum" class="form-control"
                         ng-pattern="/^[0-9]*$/" maxlength="10"
                         placeholder="请输入参加人数" required autofocus>
                  <div ng-messages="mo.dynamicForm.peoplenum.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">参加人数不能为空！</p>
                  </div>
                  <div ng-show="mo.dynamicForm.peoplenum.$dirty && mo.dynamicForm.peoplenum.$invalid" class="has-error"
                       style="text-align: left">
                    <span class="help-block" ng-show="mo.dynamicForm.peoplenum.$error.pattern">参加人数只能为数字!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="mo.show">
          <div class="col-md-6">
            <div class="col-md-12 form-group" show-errors>
              <label class="control-label" for="phone">联系电话</label>
              <input name="phone" type="text" ng-model="mo.dynamicData.phone" id="phone"
                     ng-minlength="11" maxlength="11"
                     ng-pattern="/^[0-9]*$/"
                     class="form-control" placeholder="请输入联系电话" required autofocus>
              <div ng-messages="mo.dynamicForm.phone.$error" role="alert">
                <p class="help-block error-text" ng-message="required">联系电话不能为空！</p>
              </div>
              <div ng-show="mo.dynamicForm.phone.$dirty && mo.dynamicForm.phone.$invalid" class="has-error"
                   style="text-align: left">
                <span class="help-block" ng-show="mo.dynamicForm.phone.$error.pattern||
                mo.dynamicForm.phone.$error.minlength">请输入有效的手机号码!</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12 form-group" show-errors>
              <label class="control-label" for="address">活动地点</label>
              <input name="address" type="text" ng-model="mo.dynamicData.address" id="address"
                     maxlength="50"
                     class="form-control" placeholder="请输入活动地点" required autofocus>
              <div ng-messages="mo.dynamicForm.address.$error" role="alert">
                <p class="help-block error-text" ng-message="required">活动地点不能为空！</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 form-group" ng-if="mo.show">
          <label class="control-label" for="content">活动内容</label>
          <textarea name="content" data-ng-model="mo.dynamicData.content" id="content"
                    class="form-control" cols="30" rows="3" maxlength="2000"
                    placeholder="请输入活动内容"></textarea>
          <div>
            <span style="color: red" ng-show="mo.yzContent">*活动内容不能为空！</span>
          </div>
        </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!mo.disabled" ng-click="mo.ok(mo.dynamicForm.$valid)">提交</button>
    <button class="btn btn-warning" ng-click="mo.cancel()">取消</button>
  </div>
</div>
