<div class="basicinfo-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 社区党建共建联合会</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.FederationsForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="title">标题</label>
                  <input name="title" type="text" ng-model="vm.FederationsData.title"
                         id="title" class="form-control" placeholder="请输入标题"
                         maxlength="100" required autofocus>
                  <div ng-messages="vm.FederationsData.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">标题不能为空</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="time">活动时间</label>
                  <p class="input-group">
                    <input name="time" type="text" class="form-control" id="time"
                           uib-datepicker-popup ng-model="vm.FederationsData.time"
                           is-open="popup1.opened"
                           datepicker-options="inlineOptions" ng-required="true"
                           close-text="Close" ng-disabled="vm.disabled"
                           placeholder="请选择活动时间"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open1()" ng-disabled="vm.disabled"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
                  </p>
                  <div ng-messages="vm.FederationsData.time.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">活动时间不能为空！</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="head">负责人</label>
                  <input name="head" type="text" ng-model="vm.FederationsData.head"
                         id="head" class="form-control" placeholder="请输入负责人名称"
                         maxlength="20" required autofocus>
                  <div ng-messages="vm.FederationsForm.head.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">负责人名称不能为空</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="vm.iscreatedate">
              <div class="col-md-12">
                <label>创建时间：{{vm.FederationsData.createdate | date:'yyyy-MM-dd HH:mm:ss'}}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">图片</label>
                <div class="form-group text-center">
                  <img ngf-src="vm.fileSelected ? vm.picFile : vm.FederationsData.photos"
                       alt="" class="img-thumbnail organization-profile-picture" ngf-drop>
                </div>
                <div ng-show="vm.loading" class="form-group text-center">
                  <img ng-src="/modules/core/client/img/loaders/loader.gif"
                       height="80" width="40" alt="Loading image...">
                </div>
                <div class="text-center form-group">
                  <button class="btn btn-default btn-file"
                          ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                          ng-model="vm.picFile" accept="image/*"
                          ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                          ngf-resize-if="$width > 400 || $height > 400">点击选择图片
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix" >
          <div class="col-xs-12 column">
            <div class="form-group col-xs-2 column">
              <label class="control-label">上传文件</label>
            </div>
            <div class="col-xs-6 column text-center" >
              <label>{{vm.fileSelect ? vm.fileFile.name: vm.FederationsData.file_path}}</label>
            </div>
            <div class="col-xs-2 column text-right" >
              <button class="btn btn-default btn-file"
                      ngf-select="(vm.fileSelect = true) && (vm.loading = false)"
                      ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                      ng-model="vm.fileFile"
                      accept="application/msword">点击选择文件
              </button>
            </div>
            <div class="col-xs-2 column text-center" >
              <a href="{{vm.fileSelect ? vm.fileFile.name: vm.FederationsData.file_path}}" ng-show="vm.FederationsData.file_path" target="_blank" style="display: inline-block;width: 80px;height: 34px;line-height: 34px;margin-top: 10px;border: 1px solid #ccc;border-radius: 5px;background-color: #e0e0e0;opacity: 0.65">查看</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="headdepartment">负责部门</label>
                  <input name="headdepartment" type="text" ng-model="vm.FederationsData.headdepartment"
                         id="headdepartment" class="form-control" placeholder="请输入负责部门名称"
                         maxlength="25" required autofocus>
                  <div ng-messages="vm.FederationsForm.headdepartment.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">负责部门名称不能为空</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="peoplenum">参加人数</label>
                  <input name="peoplenum" type="text" ng-model="vm.FederationsData.peoplenum"
                         id="peoplenum" class="form-control" placeholder="请输入参加人数"
                         ng-pattern="/^[0-9]*$/"
                         maxlength="20" required autofocus>
                  <div ng-messages="vm.FederationsForm.peoplenum.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">参加人数不能为空</p>
                  </div>
                  <div ng-show="vm.FederationsForm.peoplenum.$dirty && vm.FederationsForm.peoplenum.$invalid"
                       class="has-error" style="text-align: left">
                    <span class="help-block" ng-show="vm.FederationsForm.peoplenum.$error.pattern">参加人数只能为数字!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="tel">联系电话</label>
                  <input name="tel" type="text" ng-model="vm.FederationsData.tel"
                         id="tel" class="form-control" placeholder="请输入联系电话"
                         ng-minlength="11" maxlength="11"
                         ng-pattern="/^[0-9]*$/" required autofocus>
                  <div ng-messages="vm.FederationsForm.tel.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">联系电话不能为空</p>
                  </div>
                  <div ng-show="vm.FederationsForm.tel.$dirty && vm.FederationsForm.tel.$invalid"
                       class="has-error" style="text-align: left">
                <span class="help-block" ng-show="vm.FederationsForm.tel.$error.pattern||
                vm.FederationsForm.tel.$error.minlength">请输入有效的联系电话!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="address">活动地址</label>
                  <input name="address" type="text" ng-model="vm.FederationsData.address"
                         id="address" class="form-control" placeholder="请输入活动地址"
                         maxlength="100" required autofocus>
                  <div ng-messages="vm.FederationsForm.address.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">活动地址不能为空</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label">所属社区</label>
              <select class="form-control"
                      ng-disabled="vm.userCommId"
                      ng-model="vm.FederationsData.communityid"
                      ng-options="s.id as s.name for s in communityInfo">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label" for="deeds">动态内容</label>
              <textarea name="deeds" data-ng-model="vm.FederationsData.content"
                        id="deeds" class="form-control" cols="30" rows="3"
                        maxlength="5000" placeholder="请输入动态内容"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzContent">*动态内容不能为空！</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled"
            ng-click="vm.ok(vm.FederationsForm.$valid)">提交
    </button>
    <button class="btn btn-warning" ng-click="vm.cancel()">退出</button>
  </div>
</div>
