<div class="basicinfo-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 学习动态</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.LearningDynamicsForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="title">动态标题</label>
                  <input name="title" type="text" ng-model="vm.LearningDynamicsData.title"
                         id="title" class="form-control" placeholder="请输入动态标题"
                         maxlength="50" required autofocus>
                  <div ng-messages="vm.LearningDynamicsForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">动态标题不能为空</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group">
                  <label class="control-label">所属社区</label>
                  <select class="form-control"
                          ng-disabled="vm.userCommId"
                          ng-model="vm.LearningDynamicsData.communityid"
                          ng-options="s.id as s.name for s in communityInfo">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="head">负责人</label>
                  <input name="head" type="text" ng-model="vm.LearningDynamicsData.head"
                         id="head" class="form-control" placeholder="请输入负责人名称"
                         maxlength="10" required autofocus>
                  <div ng-messages="vm.LearningDynamicsForm.head.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">负责人名称不能为空</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="vm.iscreatedate">
              <div class="col-md-12">
                <label>创建时间：{{vm.LearningDynamicsData.createdate | date:'yyyy-MM-dd HH:mm:ss'}}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">动态图片</label>
                <div class="form-group text-center">
                  <img ngf-src="vm.fileSelected ? vm.picFile : vm.LearningDynamicsData.photos"
                       alt="" class="img-thumbnail organization-profile-picture" ngf-drop>
                </div>
                <div ng-show="vm.loading" class="form-group text-center">
                  <img ng-src="/modules/core/client/img/loaders/loader.gif"
                       height="80" width="40" alt="Loading image...">
                </div>
                <div class="text-center form-group">
                  <button class="btn btn-default btn-file"
                          ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                          ng-model="vm.picFile" accept="image/*"
                          ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                          ngf-resize-if="$width > 400 || $height > 400">点击选择动态图片
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix" >
          <div class="col-xs-12 column">
            <div class="form-group col-xs-2 column">
              <label class="control-label">上传文件</label>
            </div>
            <div class="col-xs-6 column text-center" >
              <label>{{vm.fileSelect ? vm.fileFile.name: vm.LearningDynamicsData.file_path}}</label>
            </div>
            <div class="col-xs-2 column text-right" >
              <button class="btn btn-default btn-file"
                      ngf-select="(vm.fileSelect = true) && (vm.loading = false)"
                      ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                      ng-model="vm.fileFile"
                      accept="application/msword">点击选择文件
              </button>
            </div>
            <div class="col-xs-2 column text-center" >
              <a href="{{vm.fileSelect ? vm.fileFile.name: vm.LearningDynamicsData.file_path}}" ng-show="vm.LearningDynamicsData.file_path" target="_blank" style="display: inline-block;width: 80px;height: 34px;line-height: 34px;margin-top: 10px;border: 1px solid #ccc;border-radius: 5px;background-color: #e0e0e0;opacity: 0.65">查看</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label" for="deeds">动态内容</label>
              <textarea name="deeds" data-ng-model="vm.LearningDynamicsData.content"
                        id="deeds" class="form-control" cols="30" rows="3"
                        maxlength="2500" placeholder="请输入动态内容"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzContent">*动态内容不能为空！</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled"
            ng-click="vm.ok(vm.LearningDynamicsForm.$valid)">提交
    </button>
    <button class="btn btn-warning" ng-click="vm.cancel()">退出</button>
  </div>
</div>
