<div class="basicinfo-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 软弱涣散党组织整顿</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.RectifyingForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="name">党组织名称</label>
                  <input name="name" type="text" ng-model="vm.RectifyingData.name"
                         id="name" class="form-control" placeholder="请输入党组织名称"
                         maxlength="50" required autofocus>
                  <div ng-messages="vm.RectifyingForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">党组织名称不能为空</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="head">负责人</label>
                  <input name="head" type="text" ng-model="vm.RectifyingData.head"
                         id="head" class="form-control" placeholder="请输入负责人名称"
                         maxlength="10" required autofocus>
                  <div ng-messages="vm.RectifyingForm.head.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">负责人名称不能为空</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="tel">联系方式</label>
                  <input name="tel" type="text" ng-model="vm.RectifyingData.tel"
                         id="tel" class="form-control" placeholder="请输入联系方式"
                         ng-pattern="/^[0-9]*$/" ng-minlength="11"
                         maxlength="11" required autofocus>
                  <div ng-messages="vm.RectifyingForm.tel.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">联系方式不能为空</p>
                  </div>
                  <div ng-show="vm.RectifyingForm.tel.$dirty && vm.RectifyingForm.tel.$invalid"
                       class="has-error" style="text-align: left">
                <span class="help-block" ng-show="vm.RectifyingForm.tel.$error.pattern||
                vm.RectifyingForm.tel.$error.minlength">请输入有效的联系方式!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="peoplenum">党员人数</label>
                  <input name="peoplenum" type="text" ng-model="vm.RectifyingData.peoplenum"
                         id="peoplenum" class="form-control" placeholder="请输入党员人数"
                         ng-pattern="/^[0-9]*$/"
                         maxlength="20" required autofocus>
                  <div ng-messages="vm.RectifyingForm.peoplenum.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">党员人数不能为空</p>
                  </div>
                  <div ng-show="vm.RectifyingForm.peoplenum.$dirty && vm.RectifyingForm.peoplenum.$invalid"
                       class="has-error" style="text-align: left">
                    <span class="help-block" ng-show="vm.RectifyingForm.peoplenum.$error.pattern">党员人数只能为数字!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix" >
          <div class="col-xs-12 column">
            <div class="form-group col-xs-2 column">
              <label class="control-label">上传文件</label>
            </div>
            <div class="col-xs-6 column text-center" >
              <label>{{vm.fileSelect ? vm.fileFile.name: vm.RectifyingData.file_path}}</label>
            </div>
            <div class="col-xs-2 column text-right" >
              <button class="btn btn-default btn-file"
                      ngf-select="(vm.fileSelect = true) && (vm.loading = false)"
                      ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                      ng-model="vm.fileFile"
                      accept="application/msword">点击选择文件
              </button>
            </div>
            <div class="col-xs-2 column text-center" >
              <a href="{{vm.fileSelect ? vm.fileFile.name: vm.RectifyingData.file_path}}" ng-show="vm.RectifyingData.file_path" target="_blank" style="display: inline-block;width: 80px;height: 34px;line-height: 34px;margin-top: 10px;border: 1px solid #ccc;border-radius: 5px;background-color: #e0e0e0;opacity: 0.65">查看</a>
            </div>
          </div>
        </div>
        <div class="row" ng-show="vm.iscreatedate">
          <div class="col-md-12">
            <label>创建时间：{{vm.RectifyingData.createdate | date:'yyyy-MM-dd HH:mm:ss'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label">所属社区</label>
              <select class="form-control"
                      ng-disabled="vm.userCommId"
                      ng-model="vm.RectifyingData.communityid"
                      ng-options="s.id as s.name for s in communityInfo">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label" for="mainproblem">存在的主要问题</label>
              <textarea name="mainproblem" data-ng-model="vm.RectifyingData.mainproblem"
                        id="mainproblem" class="form-control" cols="30" rows="3"
                        maxlength="2500" placeholder="请输入问题内容"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzMainProblem">*问题内容不能为空！</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label" for="Measures">整改措施</label>
              <textarea name="Measures" data-ng-model="vm.RectifyingData.Measures"
                        id="Measures" class="form-control" cols="30" rows="3"
                        maxlength="2500" placeholder="请输入整改措施"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzMeasures">*整改措施不能为空！</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.RectifyingForm.$valid)">提交</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">退出</button>
  </div>
</div>
