/*模态窗口*/
.regionalization-modal {
	margin: 10px;
}

/*表格*/
.regionalization-grid {
	height: 740px;
}

.regionalization-progress-grid {
	height: 300px;
}

/*图片*/
.project-profile-picture {
	max-height: 140px;
	min-height: 140px;
}

/*图片*/
.progress-profile-picture {
	max-height: 140px;
	min-height: 140px;
}

/*图片*/
.djdynamic-profile-picture {
	max-height: 200px;
	min-height: 200px;
}
