<div class="publicproject-modal">
  <div class="modal-header">
    <h1>{{vm.methodname}} 项目公示</h1>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.publicprojectForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="form-group" show-errors>
          <label class="control-label" for="title">标题</label>
          <input name="title" type="text" ng-model="vm.publicprojectData.title" id="title" class="form-control"
                 placeholder="Title" required autofocus>
          <div ng-messages="vm.publicprojectForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入标题.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="intro">简介</label>
          <textarea name="intro" data-ng-model="vm.publicprojectData.intro" id="intro" class="form-control"
                    cols="30" rows="10" placeholder="intro"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">照片</label>
          <div>
            <button class="btn btn-default btn-file"
                    ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                    ng-model="vm.publicprojectData.photo" accept="image/*" ngf-before-model-change="vm.loading = true"
                    ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400"
                    ng-show="vm.methodname !== '查看'">照片
            </button>
          </div>
          <div class="text-center" style="margin-top: 10px;">
            <img id="create_photo" ngf-src="vm.fileSelected ? vm.create_photoPicFile : vm.publicprojectData.photo"
                 alt="没有图片" class="img-thumbnail" ngf-drop>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="projectsource">项目来源</label>
          <input name="projectsource" type="text" ng-model="vm.publicprojectData.projectsource" id="projectsource"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.projectsource.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入项目来源.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="projecttype">项目类型</label>
          <input name="projecttype" type="text" ng-model="vm.publicprojectData.projecttype" id="projecttype"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.projecttype.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入项目类型.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="sbtime">申报时间</label>
          <input type="text" uib-datepicker-popup
                 ng-model="dt1" is-open="popup1.opened"
                 datepicker-options="inlineOptions" ng-required="true" close-text="Close" name="sbtime" id="sbtime"
                 class="form-control" cols="30" rows="10" placeholder="申报时间"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group">
          <label class="control-label" for="endtime">完成时间</label>
          <input type="text" uib-datepicker-popup
                 ng-model="dt2" is-open="popup2.opened"
                 datepicker-options="inlineOptions" ng-required="true" close-text="Close" name="endtime" id="endtime"
                 class="form-control" cols="30" rows="10" placeholder="完成时间"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="claimunit">认领单位</label>
          <input name="claimunit" type="text" ng-model="vm.publicprojectData.claimunit" id="claimunit" class="form-control"
                 required autofocus>
          <div ng-messages="vm.publicprojectForm.claimunit.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入认领单位.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="claimperson">认领人</label>
          <input name="claimperson" type="text" ng-model="vm.publicprojectData.claimperson" id="claimperson"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.claimperson.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入认领人.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="chargeperson">负责人</label>
          <input name="chargeperson" type="text" ng-model="vm.publicprojectData.chargeperson" id="chargeperson"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.chargeperson.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入负责人.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="benefitnum">受益人数</label>
          <input name="benefitnum" type="text" ng-model="vm.publicprojectData.benefitnum" id="benefitnum"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.benefitnum.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入受益人数.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="starlevel">项目星级</label>
          <input name="starlevel" type="text" ng-model="vm.publicprojectData.starlevel" id="starlevel"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.starlevel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入项目星级（数字）.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="measure">项目推进措施</label>
          <input name="measure" type="text" ng-model="vm.publicprojectData.measure" id="measure"
                 class="form-control" required autofocus>
          <div ng-messages="vm.publicprojectForm.measure.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入项目推进措施.</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.publicprojectForm.$valid)">确认</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
