<div class="baseinfomanage-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 三级包抓机制</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.areadepartmentmanagementForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <!--  <div class="form-group" show-errors ng-repeat="col in vm.columnDefs">
            <label class="control-label" for="{{col.field}}">{{col.displayName}}</label>
            <input name="{{col.field}}" type="text" ng-model="vm.areadepartmentmanagementData[col.field]" id="{{col.field}}"
                   class="form-control" placeholder="" required autofocus>
            <div ng-messages="vm.areadepartmentmanagementForm[col.field].$error" role="alert">
              <p class="help-block error-text" ng-message="required">{{col.field}} is required.</p>
            </div>
          </div>-->
        <!--第1行-->
        <div class="row clearfix">
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label>社区(村)</label>
                <select class="form-control"
                        ng-disabled="vm.userCommId"
                        ng-model="vm.areadepartmentmanagementData.communityid"
                        ng-options="cv.id as cv.name for cv in cvs"
                        required
                        name = 'name'
                >
                </select>
                <div ng-messages="vm.areadepartmentmanagementForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请选择社区(村).</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="leader">责任领导</label>
                <input name="leader" type="text" ng-model="vm.areadepartmentmanagementData.leader" id="leader"
                       class="form-control" placeholder="" required>
                <div ng-messages="vm.areadepartmentmanagementForm.leader.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入责任领导.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第2行-->
        <div class="row clearfix">
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="chief">责任科长</label>
                <input name="chief" type="text" ng-model="vm.areadepartmentmanagementData.chief" id="chief"
                       class="form-control" placeholder="" required>
                <div ng-messages="vm.areadepartmentmanagementForm.chief.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入责任科长.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="fzr">负责人</label>
                <input name="fzr" type="text" ng-model="vm.areadepartmentmanagementData.fzr" id="fzr"
                       class="form-control" placeholder="" required>
                <div ng-messages="vm.areadepartmentmanagementForm.fzr.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入负责人.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第3行-->
        <div class="row clearfix">
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12 column">
                <label for="tel">联系电话</label>
                <input name="tel" type="text" ng-model="vm.areadepartmentmanagementData.tel" id="tel"
                       class="form-control" placeholder=""
                       ng-minlength="11"
                       maxlength="11"
                       ng-pattern="/^[0-9]*$/"
                       required>
                <div
                  ng-show="vm.areadepartmentmanagementForm.tel.$dirty && vm.areadepartmentmanagementForm.tel.$invalid"
                  class="has-error" role="alert">
                  <p class="help-block error-text"
                     ng-show="vm.areadepartmentmanagementForm.tel.$error.pattern||vm.areadepartmentmanagementForm.tel.$error.minlength">
                    联系电话有误,请重填.</p>
                </div>
                <div ng-messages="vm.areadepartmentmanagementForm.tel.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入联系电话.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            style="width: 100px"
            ng-if="!vm.disabled"
            ng-click="vm.ok(vm.areadepartmentmanagementForm.$valid)">确定
    </button>
    <button class="btn btn-warning"
            style="width: 100px"
            ng-click="vm.cancel()">取消
    </button>
  </div>
</div>
