<div class="baseinfomanage-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 基层站所</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.basicStationManagementForm"
          class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">

        <div class="col-md-12 form-group" show-errors >
          <label class="control-label"
                 for="name">部门名称</label>
          <input name="name"
                 type="text"
                 ng-model="vm.basicStationManagementData.name"
                 id="name"
                 class="form-control"
                 placeholder=""
                 required autofocus>
          <div ng-messages="vm.basicStationManagementForm.name.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required"> 请输入部门名称.</p>
          </div>
        </div>

        <div class="col-md-12 form-group" show-errors >
          <label class="control-label"
                 for="address">办公地点</label>
          <input name="address"
                 type="text"
                 ng-model="vm.basicStationManagementData.address"
                 id="address"
                 class="form-control"
                 placeholder=""
                 required autofocus>
          <div ng-messages="vm.basicStationManagementForm.address.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required"> 请输入办公地点.</p>
          </div>
        </div>

        <div class="col-md-12 form-group" show-errors >
          <label class="control-label"
                 for="fzr">负责人</label>
          <input name="fzr"
                 type="text"
                 ng-model="vm.basicStationManagementData.fzr"
                 id="fzr"
                 class="form-control"
                 placeholder=""
                 required autofocus>
          <div ng-messages="vm.basicStationManagementForm.fzr.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required"> 请输入负责人.</p>
          </div>
        </div>

        <div class="col-md-12 form-group" show-errors >
          <label class="control-label"
                 for="contact_information">联系电话</label>
          <input name="contact_information"
                 type="text"
                 ng-model="vm.basicStationManagementData.contact_information"
                 id="contact_information"
                 ng-minlength="11"
                 maxlength="11"
                 ng-pattern="/^[0-9]*$/"
                 class="form-control"
                 placeholder=""
                 required autofocus>
          <div ng-show="vm.basicStationManagementForm.contact_information.$dirty && vm.basicStationManagementForm.contact_information.$invalid" class="has-error" role="alert">
            <p class="help-block error-text" ng-show="vm.basicStationManagementForm.contact_information.$error.pattern||vm.basicStationManagementForm.contact_information.$error.minlength">联系电话有误,请重填.</p>
          </div>
          <div ng-messages="vm.basicStationManagementForm.contact_information.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required">请输入联系电话.</p>
          </div>
        </div>

        <div class="col-md-12 form-group" show-errors >
          <label class="control-label"
                 for="email">邮箱</label>
          <input name="email"
                 type="text"
                 ng-model="vm.basicStationManagementData.email"
                 id="email"
                 class="form-control"
                 ng-pattern="/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/"
                 placeholder=""
                 required autofocus>
          <div ng-show="vm.basicStationManagementForm.email.$dirty && vm.basicStationManagementForm.email.$invalid" class="has-error" role="alert">
            <p class="help-block error-text" ng-show="vm.basicStationManagementForm.email.$error.pattern||vm.basicStationManagementForm.email.$error.minlength">邮箱有误,请重填.</p>
          </div>
          <div ng-messages="vm.basicStationManagementForm.email.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required"> 请输入邮箱.</p>
          </div>
        </div>

        <div class="col-md-12 form-group">
          <label class="control-label"
                 for="remark">备注</label>
          <input name="remark"
                 type="text"
                 ng-model="vm.basicStationManagementData.remark"
                 id="remark"
                 class="form-control"
                 placeholder=""
                 autofocus>
          <!--<div ng-messages="vm.basicStationManagementForm.remark.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required"> 请输入备注.</p>
          </div>-->
        </div>

      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary"
            style="width: 100px"
            ng-if="!vm.disabled"
            ng-click="vm.ok(vm.basicStationManagementForm.$valid)">确定</button>
    <button class="btn btn-warning"
            style="width: 100px"
            ng-click="vm.cancel()">取消</button>
  </div>
</div>
