<div class="baseinfomanage-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 团组织</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.leagueOrganizationTableForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <!--第1行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors >
              <div class="col-xs-12">
                <label class="control-label"
                       for="name">团组织名称</label>
                <input name="name"
                       type="text"
                       ng-model="vm.leagueOrganizationTableData.name"
                       id="name"
                       class="form-control"
                       placeholder=""
                       required autofocus>
                <div ng-messages="vm.leagueOrganizationTableForm.name.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required"> 请输入团组织名称.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第2行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label class="control-label"
                       for="code">团组织机构代码</label>
                <input name="code"
                       type="text"
                       ng-model="vm.leagueOrganizationTableData.code"
                       id="code"
                       class="form-control"
                       placeholder=""
                       required autofocus>
                <div ng-messages="vm.leagueOrganizationTableForm.code.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required"> 请输入团组织机构代码.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第3行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors >
              <div class="col-xs-12">
                <label class="control-label"
                       for="organization_type">组织类别</label>
                <input name="organization_type"
                       type="text"
                       ng-model="vm.leagueOrganizationTableData.organization_type"
                       id="organization_type"
                       class="form-control"
                       placeholder="" required autofocus>
                <div ng-messages="vm.leagueOrganizationTableForm.organization_type.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required"> 请输入组织类别.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第4行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors >
              <div class="col-xs-12">
                <label class="control-label"
                       for="trade_type">行业类别</label>
                <input name="trade_type"
                       type="text"
                       ng-model="vm.leagueOrganizationTableData.trade_type"
                       id="trade_type"
                       class="form-control"
                       placeholder=""
                       required autofocus>
                <div ng-messages="vm.leagueOrganizationTableForm.trade_type.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required"> 请输入行业类别.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第5行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label class="control-label"
                       for="secretary">书记</label>
                <input name="secretary"
                       type="text"
                       ng-model="vm.leagueOrganizationTableData.secretary"
                       id="secretary"
                       class="form-control"
                       placeholder=""
                       required autofocus>
                <div ng-messages="vm.leagueOrganizationTableForm.secretary.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required"> 请输入书记.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            style="width: 100px"
            ng-if="!vm.disabled"
            ng-click="vm.ok(vm.leagueOrganizationTableForm.$valid)">确定
    </button>
    <button class="btn btn-warning"
            style="width: 100px"
            ng-click="vm.cancel()">取消
    </button>
  </div>
</div>
