<div class="baseinfomanage-modal">
  <style>
    .form-horizontal .form-group {
      margin-right: 0px;
      margin-left: 0px;
    }

  </style>
  <div class="modal-header">
    <h3>{{vm.method}} 驻地单位</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.stationUnitManagementForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <!--第1行-->
        <div class="form-group" show-errors>
          <label class="control-label"
                 for="name">单位名称</label>
          <input name="name"
                 type="text"
                 ng-model="vm.stationUnitManagementData.name"
                 id="name"
                 class="form-control"
                 placeholder=""
                 required autofocus/>
          <div ng-messages="vm.stationUnitManagementForm.name.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required">
              请输入单位名称
            </p>
          </div>
        </div>
        <!--第2行-->
        <div class="form-group" show-errors>
          <label class="control-label"
                 for="address">地址</label>
          <input name="address"
                 type="text"
                 ng-model="vm.stationUnitManagementData.address"
                 id="address"
                 class="form-control"
                 placeholder=""
                 required autofocus/>
          <div ng-messages="vm.stationUnitManagementForm.address.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required">
              请输入地址
            </p>
          </div>
        </div>
        <!--第3行-->
        <div class="form-group" show-errors>
          <label class="control-label"
                 for="zip_code">邮编</label>
          <input name="zip_code"
                 type="text"
                 ng-model="vm.stationUnitManagementData.zip_code"
                 id="zip_code"
                 class="form-control"
                 maxlength="6"
                 ng-minlength="6"
                 ng-pattern="/^[0-9][0-9]{5}$/"
                 placeholder=""
                 required autofocus/>
          <div ng-show="vm.stationUnitManagementForm.zip_code.$dirty && vm.stationUnitManagementForm.zip_code.$invalid"
               class="has-error" role="alert">
            <p class="help-block error-text"
               ng-show="vm.stationUnitManagementForm.zip_code.$error.pattern || vm.stationUnitManagementForm.zip_code.$error.minlength">
              邮编有误,请重填.</p>
          </div>
          <div ng-messages="vm.stationUnitManagementForm.zip_code.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required">
              请输入邮编
            </p>
          </div>
        </div>
        <!--第4行-->
        <div class="form-group" show-errors>
          <label class="control-label"
                 for="contact_information">联系电话</label>
          <input name="contact_information"
                 type="text"
                 ng-model="vm.stationUnitManagementData.contact_information"
                 id="contact_information"
                 ng-minlength="11"
                 maxlength="11"
                 ng-pattern="/^[0-9]*$/"
                 class="form-control"
                 placeholder=""
                 required autofocus/>
          <div
            ng-show="vm.stationUnitManagementForm.contact_information.$dirty && vm.stationUnitManagementForm.contact_information.$invalid"
            class="has-error" role="alert">
            <p class="help-block error-text"
               ng-show="vm.stationUnitManagementForm.contact_information.$error.pattern||vm.stationUnitManagementForm.contact_information.$error.minlength">
              联系电话有误,请重填.</p>
          </div>
          <div ng-messages="vm.stationUnitManagementForm.contact_information.$error" role="alert">
            <p class="help-block error-text"
               ng-message="required">
              请输入联系电话
            </p>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            style="width: 100px"
            ng-if="!vm.disabled"
            ng-click="vm.ok(vm.stationUnitManagementForm.$valid)">确定
    </button>
    <button class="btn btn-warning"
            style="width: 100px"
            ng-click="vm.cancel()">取消</button>
  </div>
</div>
