<div class="baseinfomanage-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 街道班子成员</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.streetMemberTableForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <!-- 第1行-->
        <div class="row clearfix">
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label class="control-label" for="name">姓名</label>
                <input name="name" type="text" ng-model="vm.streetMemberTableData.name" id="name" class="form-control"
                       placeholder="" required autofocus>
                <div ng-messages="vm.streetMemberTableForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入姓名.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 column" style="margin-top: 0;margin-bottom: 0;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label>性别</label>
                <select class="form-control"
                        ng-model="vm.streetMemberTableData.sex"
                        ng-options="cv_sex.name as cv_sex.name for cv_sex in cvs_sex"
                        required
                        name = 'sex'
                >
                </select>
            <!--    <input name="sex" type="text" ng-model="vm.streetMemberTableData.sex" id="sex" class="form-control"
                       placeholder="" required autofocus>-->
                <div ng-messages="vm.streetMemberTableForm.sex.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请选择性别</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 第2行-->
        <div class="row clearfix">
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label class="control-label" for="duty">职务</label>
                <input name="duty" type="text" ng-model="vm.streetMemberTableData.duty" id="duty" class="form-control"
                       placeholder="" required autofocus>
                <div ng-messages="vm.streetMemberTableForm.duty.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入职务.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label class="control-label" for="work_unit">工作单位</label>
                <input name="work_unit" type="text" ng-model="vm.streetMemberTableData.work_unit" id="work_unit"
                       class="form-control"
                       placeholder="" required autofocus>
                <div ng-messages="vm.streetMemberTableForm.work_unit.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入工作单位.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--第3行-->
        <div class="row clearfix">
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-xs-12">
                <label class="control-label" for="type_style">类型</label>
                <input name="type_style" type="text" ng-model="vm.streetMemberTableData.type_style" id="type_style"
                       class="form-control"
                       placeholder="" required autofocus>
                <div ng-messages="vm.streetMemberTableForm.type_style.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入类型.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group">
              <div class="col-xs-12">
                <label class="control-label" for="remark">备注</label>
                <input name="remark" type="text" ng-model="vm.streetMemberTableData.remark" id="remark"
                       class="form-control"
                       placeholder="" autofocus>

              </div>
            </div>
          </div>
        </div>
        <!--第4行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group">
              <div class="col-xs-12">
                <label class="control-label">人员照片</label>
                <!--<input name="photo" type="text" ng-model="vm.streetMemberTableData.photo" id="photo" class="form-control"
                       placeholder="" autofocus>-->

          <div class="form-group text-center">
            <img ngf-src="vm.fileSelected ? vm.picFile : vm.streetMemberTableData.photo" alt="" class="img-thumbnail person-profile-picture" ngf-drop>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
          <div ng-show="!vm.fileSelected" class="text-center form-group">
            <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">点击选择人员照片</button>
          </div>
          <div ng-show="false" class="progress text-center">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
              <span class="sr-only">{{vm.progress}}%</span>
            </div>
          </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            style="width: 100px"
            ng-if="!vm.disabled"
            ng-click="vm.ok(vm.streetMemberTableForm.$valid)">确定</button>
    <button class="btn btn-warning"
            style="width: 100px"
            ng-click="vm.cancel()">取消</button>
  </div>
</div>
