<div class="basicinfo-modal">
  <div class="modal-header">
    <h3>{{vm.method}} 领头雁</h3>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.pioneerexemplaryForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="name">姓名</label>
                  <input name="name" type="text" ng-model="vm.pioneerexemplaryData.name"
                         id="name" class="form-control" placeholder="请输入姓名"
                         maxlength="50" required autofocus>
                  <div ng-messages="vm.pioneerexemplaryForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">姓名不能为空</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 form-group">
                  <label class="control-label">性别</label>
                  <select class="form-control"
                          ng-model="vm.pioneerexemplaryData.sex"
                          ng-options="s.sexname as s.sexname for s in sexInfo">
                  </select>
                </div>
              </div>
            </div>
            <div class="row" ng-show="vm.iscreatedate" style="margin-top: 30px;">
              <div class="col-md-12">
                <label>创建时间：{{vm.pioneerexemplaryData.createdate | date:'yyyy-MM-dd HH:mm:ss'}}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">图片</label>
                <div class="form-group text-center">
                  <img ngf-src="vm.fileSelected ? vm.picFile : vm.pioneerexemplaryData.photos"
                       alt="" class="img-thumbnail organization-profile-picture" ngf-drop>
                </div>
                <div ng-show="vm.loading" class="form-group text-center">
                  <img ng-src="/modules/core/client/img/loaders/loader.gif"
                       height="80" width="40" alt="Loading image...">
                </div>
                <div class="text-center form-group">
                  <button class="btn btn-default btn-file"
                          ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                          ng-model="vm.picFile" accept="image/*"
                          ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                          ngf-resize-if="$width > 400 || $height > 400">点击选择图片
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label">所属社区</label>
              <select class="form-control"
                      ng-disabled="vm.userCommId"
                      ng-model="vm.pioneerexemplaryData.communityid"
                      ng-options="c.id as c.name for c in commInfo">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label">事迹类型</label>
              <select class="form-control"
                      ng-model="vm.pioneerexemplaryData.type"
                     >
                <option value="{{leixing}}" ng-repeat=" leixing in vm.leixing">{{leixing}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 form-group">
              <label class="control-label" for="deeds">模范事迹</label>
              <textarea name="deeds" data-ng-model="vm.pioneerexemplaryData.deeds"
                        id="deeds" class="form-control" cols="30" rows="3"
                        maxlength="5000" placeholder="请输入模范事迹"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzDeeds">*模范事迹不能为空！</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.pioneerexemplaryForm.$valid)">提交</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">退出</button>
  </div>
</div>
