<div class="applyNow-modal">
  <div class="modal-header">
    <h1>党关系转接在线申请表</h1>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.applyNowForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled || !vm.yuyue">
        <!-- 第1行-->
        <div class="row clearfix">
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="name">姓名</label>
                <input name="name" type="text" ng-model="vm.applyNowData.name" id="name"
                       class="form-control"  required autofocus>
                <div ng-messages="vm.applyNowForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入姓名.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label>性别</label>
                <select class="form-control"
                        ng-model="vm.applyNowData.gender"
                        ng-options="cv_sex.name as cv_sex.name for cv_sex in cvs_sex"
                        required
                        name = 'gender'
                >
                </select>
                <div ng-messages="vm.applyNowForm.gender.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请选择性别.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label>民族</label>
                <select class="form-control"
                        ng-model="vm.applyNowData.mingzu"
                        ng-options="cv_nation.name as cv_nation.name for cv_nation in cvs_nation"
                        required
                        name = 'mingzu'
                >
                </select>
                <div ng-messages="vm.applyNowData.mingzu.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请选择民族.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label>籍贯</label>
                <select class="form-control"
                        ng-model="vm.applyNowData.jiguan"
                        ng-options="cv_nation_place.name as cv_nation_place.name for cv_nation_place in cvs_nation_place"
                        required
                        name = 'jiguan'
                >
                </select>
                <div ng-messages="vm.applyNowForm.jiguan.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请选择籍贯.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 第2行-->
        <div class="row clearfix">

          <div class="col-xs-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="danwei">工作单位</label>
                <input name="danwei" type="text" ng-model="vm.applyNowData.danwei" id="danwei"
                       class="form-control" placeholder="" required>
                <div ng-messages="vm.applyNowForm.danwei.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入工作单位.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="idcard">身份证号</label>

                <input name="idcard" type="text" ng-model="vm.applyNowData.idcard" id="idcard"
                       class="form-control"
                       placeholder=""
                       maxlength="18"
                       ng-minlength="18"
                       ng-pattern="/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/"
                       required/>

                <div ng-show="vm.applyNowForm.idcard.$dirty && vm.applyNowForm.idcard.$invalid"
                     class="has-error" role="alert">
                  <p class="help-block error-text"
                     ng-show="vm.applyNowForm.idcard.$error.pattern||vm.applyNowForm.idcard.$error.minlength">
                    身份证有误,请重填.</p>
                </div>
                <div ng-messages="vm.applyNowForm.idcard.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入身份证号.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="brith">出生日期</label>
                <p class="input-group">
                  <input name="brith"
                         type="text"
                         ng-model="vm.applyNowData.brith"
                         id="brith"
                         uib-datepicker-popup
                         is-open="popup1.opened"
                         ng-required="true"
                         current-text="今天"
                         clear-text="清空"
                         close-text="关闭"
                         class="form-control"
                         placeholder="1900-01-01"
                         required/>
                  <span class="input-group-btn">
                      <button type="button"
                              class="btn btn-default"
                              ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                 </span>
                </p>
                <div ng-messages="vm.applyNowForm.brith.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入出生日期.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 第3行-->
        <div class="row clearfix">
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="phoneNumber">联系电话</label>
                <input name="phoneNumber"
                       type="text"
                       ng-model="vm.applyNowData.phoneNumber"
                       ng-minlength="11"
                       maxlength="11"
                       ng-pattern="/^[0-9]*$/"
                       id="phoneNumber"
                       class="form-control"
                       placeholder=""
                       required>
                <div ng-show="vm.applyNowForm.phoneNumber.$dirty && vm.applyNowForm.phoneNumber.$invalid" class="has-error" role="alert">
                  <p class="help-block error-text" ng-show="vm.applyNowForm.phoneNumber.$error.pattern||vm.applyNowForm.phoneNumber.$error.minlength">联系电话有误,请重填.</p>
                </div>
                <div ng-messages="vm.applyNowForm.phoneNumber.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入联系电话.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="partytime">入党时间</label>
                <p class="input-group">
                  <input name="partytime"
                         type="text"
                         ng-model="vm.applyNowData.partytime"
                         id="partytime"
                         uib-datepicker-popup
                         is-open="popup2.opened"
                         ng-required="true"
                         current-text="今天"
                         clear-text="清空"
                         close-text="关闭"
                         class="form-control"
                         placeholder="1900-01-01"
                         required/>
                  <span class="input-group-btn">
                      <button type="button"
                              class="btn btn-default"
                              ng-click="open2()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                 </span>
                </p>
                <div ng-messages="vm.applyNowForm.partytime.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入入党时间.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="zhibu">所在党支部</label>
                <select class="form-control"
                        id="zhibu"
                        ng-model="vm.applyNowData.zhibu"
                        ng-options="cv_party_branch.name as cv_party_branch.name for cv_party_branch in cvs_party_branch"
                        required
                        name = 'zhibu'
                >
                </select>
                <div ng-messages="vm.applyNowForm.zhibu.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入所在党支部</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row" show-errors>
              <div class="col-xs-12">
                <label for="partymoney">月交党费</label>
                <input name="partymoney" type="text" ng-model="vm.applyNowData.partymoney" id="partymoney"
                       ng-pattern="/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/"
                       class="form-control" required>
                <div ng-messages="vm.applyNowForm.partymoney.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入月交党费</p>
                  <p class="help-block error-text" ng-show="vm.applyNowForm.partymoney.$error.pattern">请填写正确的金额</p>
                </div>
                </div>
              </div>
            </div>
          </div>
        <!-- 第4行-->
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row">
              <div class="col-xs-12">
                <label for="adress">家庭住址</label>
                <input name="adress" type="text" ng-model="vm.applyNowData.adress" id="adress"
                       class="form-control" placeholder="" required>
                <div ng-messages="vm.applyNowForm.adress.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">请输入家庭住址</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 第5行-->
		<!--
        <div class="row clearfix">
          <div class="col-xs-12 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group row">
              <div class="col-xs-12">
                <label for="remark">备注</label>
                <input name="remark" type="text" ng-model="vm.applyNowData.remark" id="remark"
                       class="form-control" placeholder="">

              </div>
            </div>
          </div>
        </div>
		-->
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.applyNowForm.$valid)"><span ng-if="vm.yuyue">确认</span><span ng-if="!vm.yuyue">预约通知</span></button>
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
