/*模态窗口*/
.baseinfomanage-modal {
    margin: 10px;
}
/*表格*/
.baseinfomanage-grid {
    height: 740px;
}
.person-profile-picture {
	max-height: 250px;
	min-height: 250px;
}
.women-photo-picture {
	max-height: 200px;
	min-height: 200px;
}
.style-for-it{
	height: 350px;
	width: 100%
}
.form-group-b {
	margin-bottom: 0px;
	/* height: 70px; */
}
