body {
    background-color: #3d3d3d;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px;
    direction: ltr;
}
a:hover{
	text-decoration: none;
}
/*只设置最外层的页头*/
body>.page-header /*, .page-header .container-fluid*/ {
    padding: 0;
    margin: 0;
}

.page-header .navbar .navbar-brand {
    width: 140px;   /*调整位置,使toggle-sidebarmenu靠菜单右边*/
}

/*左边菜单打开关闭按钮*/
.page-header .navbar .toggle-sidebarmenu {
    float: left;
}

/*标题栏宽度较小时*/
@media (max-width: 767px) {
    .page-header .navbar .toggle-sidebarmenu {
        float: right;
        width: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .page-header .navbar .navbar-brand {
        width: auto;
        margin-right: 10px;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .page-header .navbar .navbar-brand img {
        margin-left: 4px !important;
    }

    .page-header .navbar .top-menu .navbar-nav {
        /*display: inline-block; */
        float: left;
        margin: 0;
    }

    .page-header .navbar .top-menu .navbar-nav.navbar-right {
        float: right;
    }

    .page-header .navbar .top-menu .navbar-nav > li {
        float: left;
    }

    .page-header .navbar .top-menu .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .page-header .navbar .top-menu .navbar-nav .nav li.dropdown i {
        display: inline-block;
        position: relative;
        top: 1px;
        right: 0;
    }
    .page-header .navbar .top-menu .navbar-nav .open .dropdown-menu {
        position: absolute;
        background-color: #333333;
    }
}

/*内容区*/
body>.page-container {
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-wrap: nowrap;  /*不换行*/
}
/*屏幕宽度小于767, 菜单和内容分行显示*/
@media (max-width: 767px) {
    body>.page-container {
        display: block;
    }
}

/*底栏*/
body>.page-footer {
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

/*内容区左栏*/
.page-sidebar{
    flex: 0;
}
/*内容区主内容区*/
.page-content{
    background-color: #fff;
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /*
        display: table-cell;
        width: 2000px;
        *display: inline-block;
        *width: auto;
    */
}

/*菜单最小宽度*/
.sidebar-menu {
    min-width: 200px;
}
/*一级菜单颜色*/
.sidebar-menu > ul > li > a {color: #d9d9d9; border-top: 1px solid #484848;}
/*菜单选择后样式*/
.sidebar-menu li.selected > a, .menus li > a:hover { background-color: #474747;}
/*一级菜单选择后样式*/
.sidebar-menu > ul > li.selected > a {background-color: darkblue;}

/* 指示有子菜单*/
.sidebar-menu li a i.icon-arrow {
    position: absolute;
    display: block;
    top: 14px;
    right: 10px;
}
/*子菜单内容靠右对齐*/
.sidebar-menu ul.submenu li > a {color: #bdbdbd; text-align: right; }

/*拖动*/
div[ng-drag]{
    display: inline-block;
}
div[ng-drop].drag-enter{
    border:solid 1px blue;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    border-radius: 50%;
    height: 28px;
    margin-right: 5px;
    opacity: 0.8;
    width: 28px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-bottom: 11px !important;
    padding-top: 11px !important;
}

.user-primary-account {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}

.imgCropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

