.modal-body form{
	overflow: inherit;
}
.form-group label {
	width: auto;
	text-align: left;
	float: none;
}
.form-group p{
	font-size: 13px;
	position: relative;
	text-indent: 0;
	padding: 0;
	width: 100%;
	line-height: 29px;
	overflow: auto;
}
fieldset .form-group{
	margin-top: 10px;
	height: auto;
	clear: both;
}
.modal-body .form-horizontal label{
	float: left;
}
.modal-body .form-horizontal{
	overflow: visible;
}
.column>button{
	margin-top:10px;
}
