<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/gonghui/gh.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/gonghui">
                    <i class="keyword_ico"></i>
                    <span>工会</span>
                </a>
              <ul>
                <li><a href="/gonghui0"><span>劳务派遣暂行规定</span></a></li>
                <li><a href="/gonghui1"><span>工伤保险条例</span></a></li>
                <li><a href="/gonghui2"><span>实施《中华人民共和国社会保险法》若干规定</span></a></li>
                <li><a href="/gonghui3"><span>中国工会章程</span></a></li>
                <li><a href="/gonghui4"><span>禁止使用童工规定</span></a></li>
                <li><a href="/gonghui5"><span>未成年工特殊保护规定</span></a></li>
                <li><a href="/gonghui6"><span>城市居民最低生活保障条例</span></a></li>
                <li><a href="/gonghui7"><span>女职工劳动保护规定</span></a></li>
                <li><a href="/gonghui8"><span>大雁塔街道总工会四项基本职能</span></a></li>
                <li><a href="/gonghui9"><span>大雁塔街道总工会岗位职责</span></a></li>
                <li><a href="/gonghui10"><span>大雁塔街道总工会工作制度</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/gonghui">
                            <i></i>
                            当前位置：基础信息>工会>政策法规
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>中国工会章程</h1>
                        <br>
                        <div class="keyworkxq_js">
                        <div style="font-size:18px;font-family:SimSun;">
                              <p align="center">（中国工会第十六次全国代表大会部分修改，2013年10月22日通过）</p>
                            </div>
      					<div style="font-size:18px;font-family:SimSun;">
                               <p align="center"><b>总则</b>
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">中国工会是中国共产党领导的职工自愿结合的工人阶级群众组织，是党联系职工群众的桥梁和纽带，是国家政权的重要社会支柱，是会员和职工利益的代表。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                  中国工会以宪法为根本活动准则，按照《中华人民共和国工会法》和本章程独立自主地开展工作，依法行使权利和履行义务。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                 工人阶级是我国的领导阶级，是先进生产力和生产关系的代表，是改革开放和社会主义现代化建设的主力军，是维护社会安定的强大而集中的社会力量。中国工会高举中国特色社会主义伟大旗帜，以马克思列宁主义、毛泽东思想、邓小平理论、 "三个代表"重要思想、科学发展观为指导，贯彻执行党的以经济建设为中心，坚持四项基本原则，坚持改革开放的基本路线，坚定不移地走中国特色社会主义工会发展道路，推动党的全心全意依靠工人阶级的根本指导方针的贯彻落实，全面履行工会的社会职能，在维护全国人民总体利益的同时，更好地表达和维护职工的具体利益，团结和动员全国职工自力更生、艰苦创业，坚持和发展中国特色社会主义，为全面建成小康社会、把我国建设成为富强民主文明和谐的社会主义现代化国家、实现中华民族伟大复兴的中国梦而奋斗。
                                                                  </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               中国工会的基本职责是维护职工合法权益。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                中国工会动员和组织职工积极参加建设和改革，努力促进经济、政治、文化、社会和生态文明建设；代表和组织职工参与国家和社会事务管理，参与企业、事业单位和机关的民主管理；教育职工不断提高思想道德素质和科学文化素质，建设有理想、有道德、有文化、有纪律的职工队伍，不断发展工人阶级先进性。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               中国工会坚持组织起来、切实维权的工作方针，坚持以职工为本，主动依法科学维权的维权观，促进完善社会主义劳动法律，维护职工的经济、政治、文化和社会权利，参与协调劳动关系和社会利益关系，努力构建和谐劳动关系，促进经济发展和社会的长期稳定，为构建社会主义和谐社会作贡献。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           中国工会维护工人阶级领导的、以工农联盟为基础的人民民主专政的社会主义国家政权，协助人民政府开展工作，依法发挥民主参与和社会监督作用。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           中国工会在企业、事业单位中，按照促进企事业发展、维护职工权益的原则，支持行政依法行使管理权力，组织职工参加民主管理和民主监督，与行政方面建立协商制度，保障职工的合法权益，调动职工的积极性，促进企业、事业的发展。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">


                               <p style="text-indent:2em;">
                                中国工会实行产业和地方相结合的组织领导原则，坚持民主集中制。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               中国工会坚持以改革创新精神加强自身建设，坚持群众化、民主化，保持同会员群众的密切联系，依靠会员群众开展工会工作。各级工会领导机关坚持把工作重点放到基层，全心全意为基层、为职工服务，增强基层工会的活力，把工会建设成为深受职工群众信赖的学习型、服务型、创新型"职工之家"。                        </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          工会兴办的企业、事业，坚持为改革开放和发展社会生产力服务，为职工群众服务，为推进工运事业服务。                             </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                中国工会努力巩固和发展工农联盟，坚持爱国统一战线，加强包括香港特别行政区同胞、澳门特别行政区同胞、台湾同胞和海外侨胞在内的全国各族人民的大团结，促进祖国的统一、繁荣和富强。 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             中国工会在国际事务中坚持独立自主、互相尊重、求同存异、加强合作、增进友谊的方针，在独立、平等、互相尊重、互不干涉内部事务的原则基础上，广泛建立和发展同国际和各国工会组织的友好关系，推动形成公正合理、民主和谐的国际工运新秩序，同全世界工人和工会一起，为世界的和平、发展、工人权益和社会进步而共同努力。                       </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                           第一章 会员
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第一条 凡在中国境内的企业、事业单位、机关和其他社会组织中，以工资收入为主要生活来源或者与用人单位建立劳动关系的体力劳动者和脑力劳动者，不分民族、种族、性别、职业、宗教信仰、教育程度，承认工会章程，都可以加入工会为会员。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第二条 职工加入工会，由本人自愿申请，经工会基层委员会批准并发给会员证。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第三条 会员享有以下权利：
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （一）选举权、被选举权和表决权。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （二）对工会工作进行监督，提出意见和建议，要求撤换或者罢免不称职的工会工作人员。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （三）对国家和社会生活问题及本单位工作提出批评与建议，要求工会组织向有关方面如实反映。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	（四）在合法权益受到侵犯时，要求工会给予保护。                         </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">（五）工会提供的文化、教育、体育、旅游、疗休养事业、生活救助、法律服务、就业服务等优惠待遇；工会给予的各种奖励。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （六）在工会会议和工会媒体上，参加关于工会工作和职工关心问题的讨论。              </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第四条 会员履行下列义务：
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （一）学习政治、经济、文化、法律、科学、技术和工会基本知识。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （二）积极参加民主管理，努力完成生产和工作任务。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （三）遵守宪法和法律，践行社会主义核心价值观，维护社会公德和职业道德，遵守劳动纪律。      </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （四）正确处理国家、集体、个人三者利益关系，向危害国家、社会利益的行为作斗争。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （五）维护中国工人阶级和工会组织的团结统一，发扬阶级友爱，搞好互助互济。                   </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （六）遵守工会章程，执行工会决议，参加工会活动，按月交纳会费。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第五条 会员组织关系随劳动（工作）关系变动，凭会员证明接转。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第六条 会员有退会自由。会员退会由本人向工会小组提出，由工会基层委员会宣布其退会并收回会员证。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	会员没有正当理由连续六个月不交纳会费、不参加工会组织生活，经教育拒不改正，应当视为自动退会。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第七条 对不执行工会决议、违反工会章程的会员，给予批评教育。对严重违法犯罪并受到刑事处分的会员，开除会籍。开除会员会籍，须经工会小组讨论，提出意见，由工会基层委员会决定，报上一级工会备案。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第八条 会员离休、退休和失业，可保留会籍。保留会籍期间免交会费。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                              工会组织要关心离休、退休和失业会员的生活，积极向有关方面反映他们的愿望和要求。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            第二章 组织制度
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第九条 中国工会实行民主集中制，主要内容是：
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	（一）个人服从组织，少数服从多数，下级组织服从上级组织。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （二）工会的各级领导机关，除它们派出的代表机关外，都由民主选举产生。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （三）工会的最高领导机关，是工会的全国代表大会和它所产生的中华全国总工会执行委员会。工会的地方各级领导机关，是工会的地方各级代表大会和它所产生的总工会委员会。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               （四）工会各级委员会，向同级会员大会或者会员代表大会负责并报告工作，接受会员监督。会员大会和会员代表大会有权撤换或者罢免其所选举的代表和工会委员会组成人员。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （五）工会各级委员会，实行集体领导和分工负责相结合的制度。凡属重大问题由委员会民主讨论，作出决定，委员会成员根据集体的决定和分工，履行自己的职责。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （六）工会各级领导机关，经常向下级组织通报情况，听取下级组织和会员的意见，研究和解决他们提出的问题。下级组织向上级组织请示报告工作。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第十条 工会各级代表大会的代表和委员会的产生，要充分体现选举人的意志。候选人名单，要反复酝酿，充分讨论。选举采用无记名投票方式，可以直接采用候选人数多于应选人数的差额选举办法进行正式选举，也可以先采用差额选举办法进行预选，产生候选人名单，然后进行正式选举。任何组织和个人，不得以任何方式强迫选举人选举或不选举某个人。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十一条 中国工会实行产业和地方相结合的组织领导原则。同一企业、事业单位、机关和其他社会组织中的会员，组织在一个工会基层组织中；同一行业或者性质相近的几个行业，根据需要建立全国的或者地方的产业工会组织。除少数行政管理体制实行垂直管理的产业，其产业工会实行产业工会和地方工会双重领导，以产业工会领导为主外，其他产业工会均实行以地方工会领导为主，同时接受上级产业工会领导的体制。各产业工会的领导体制，由中华全国总工会确定。
                               </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              省、自治区、直辖市，设区的市和自治州，县（旗）、自治县、不设区的市建立地方总工会。地方总工会是当地地方工会组织和产业工会地方组织的领导机关。全国建立统一的中华全国总工会。中华全国总工会是各级地方总工会和各产业工会全国组织的领导机关。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              中华全国总工会执行委员会委员和产业工会全国委员会委员实行替补制，各级地方总工会委员会委员和地方产业工会委员会委员，也可以实行替补制。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十二条 县和县以上各级地方总工会委员会，根据工作需要可以派出代表机关。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            县和县以上各级工会委员会，在两次代表大会之间，认为有必要时，可以召集代表会议，讨论和决定需要及时解决的重大问题。代表会议代表的名额和产生办法，由召集代表会议的总工会决定。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         全国产业工会、各级地方产业工会、乡镇工会和城市街道工会的委员会，可以按照联合制、代表制原则，由下一级工会组织民主选举的主要负责人和适当比例的有关方面代表组成。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              上级工会可以派员帮助和指导用人单位的职工组建工会。
                               </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	第十三条 各级工会代表大会选举产生同级经费审查委员会。中华全国总工会经费审查委员会设常务委员会，省、自治区、直辖市总工会经费审查委员会和独立管理经费的全国产业工会经费审查委员会，应当设常务委员会。经费审查委员会负责审查同级工会组织及其直属企业、事业单位的经费收支和资产管理情况，监督财经法纪的贯彻执行和工会经费的使用，并接受上级工会经费审查委员会的指导。工会经费审查委员会向同级会员大会或会员代表大会负责并报告工作；在大会闭会期间，向同级工会委员会负责并报告工作。                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	上级经费审查委员会应当对下一级工会及其直属企业、事业单位的经费收支和资产管理情况进行审查。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              中华全国总工会经费审查委员会委员实行替补制，各级地方总工会经费审查委员会委员和独立管理经费的产业工会经费审查委员会委员，也可以实行替补制。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第十四条 各级工会建立女职工委员会，表达和维护女职工的合法权益。女职工委员会由同级工会委员会提名，在充分协商的基础上组成或者选举产生，女职工委员会与工会委员会同时建立，在同级工会委员会领导下开展工作。企业工会女职工委员会是县或者县以上妇联的团体会员，通过县以上地方工会接受妇联的业务指导。


                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	 第十五条 县和县以上各级工会组织应当建立法律服务机构，为保护职工和工会组织的合法权益提供服务。                                                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	各级工会组织应当组织和代表职工开展劳动法律监督。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十六条 成立或者撤销工会组织，必须经会员大会或者会员代表大会通过，并报上一级工会批准。工会基层组织所在的企业终止，或者所在的事业单位、机关和其他社会组织被撤销，该工会组织相应撤销，并报上级工会备案。其他组织和个人不得随意撤销工会组织，也不得把工会组织的机构撤销、合并或者归属其他工作部门。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                          第三章 全国组织


                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十七条 中国工会全国代表大会，每五年举行一次，由中华全国总工会执行委员会召集。在特殊情况下，由中华全国总工会执行委员会主席团提议，经执行委员会全体会议通过，可以提前或者延期举行。代表名额和代表选举办法由中华全国总工会决定。                                                                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	第十八条 中国工会全国代表大会的职权是：
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （一）审议和批准中华全国总工会执行委员会的工作报告。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （二）审议和批准中华全国总工会执行委员会的经费收支情况报告和经费审查委员会的工作报告。


                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（三）修改中国工会章程。                                                              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（四）选举中华全国总工会执行委员会和经费审查委员会。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第十九条 中华全国总工会执行委员会，在全国代表大会闭会期间，负责贯彻执行全国代表大会的决议，领导全国工会工作。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          执行委员会全体会议选举主席一人、副主席若干人、主席团委员若干人，组成主席团。


                                                                  </p>
                            </div>

                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              执行委员会全体会议由主席团召集，每年至少举行一次。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第二十条 中华全国总工会执行委员会全体会议闭会期间，由主席团行使执行委员会的职权。主席团全体会议，由主席召集。

                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	主席团闭会期间，由主席、副主席组成的主席会议行使主席团职权。主席会议由中华全国总工会主席召集并主持。                                                           </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	主席团下设书记处，由主席团在主席团成员中推选第一书记一人，书记若干人组成。书记处在主席团领导下，主持中华全国总工会的日常工作。          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第二十一条 产业工会全国组织的设置，由中华全国总工会根据需要确定。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        产业工会全国委员会的建立，经中华全国总工会批准，可以按照联合制、代表制原则组成，也可以由产业工会全国代表大会选举产生。全国委员会每届任期五年。任期届满，应当如期召开会议，进行换届选举。在特殊情况下，经中华全国总工会批准，可以提前或者延期举行。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              产业工会全国代表大会和按照联合制、代表制原则组成的产业工会全国委员会全体会议的职权是：审议和批准产业工会全国委员会的工作报告；选举产业工会全国委员会或者产业工会全国委员会常务委员会。独立管理经费的产业工会，选举经费审查委员会，并向产业工会全国代表大会或者委员会全体会议报告工作。产业工会全国委员会常务委员会由主席一人、副主席若干人、常务委员若干人组成。                      </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                          第四章 地方组织
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	 第二十二条 省、自治区、直辖市，设区的市和自治州，县（旗）、自治县、不设区的市的工会代表大会，由同级总工会委员会召集，每五年举行一次。在特殊情况下，由同级总工会委员会提议，经上一级工会批准，可以提前或者延期举行。工会的地方各级代表大会的职权是：                                                         </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（一）审议和批准同级总工会委员会的工作报告。            </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （二）审议和批准同级总工会委员会的经费收支情况报告和经费审查委员会的工作报告。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                       （三）选举同级总工会委员会和经费审查委员会。

                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               各级地方总工会委员会，在代表大会闭会期间，执行上级工会的决定和同级工会代表大会的决议，领导本地区的工会工作，定期向上级总工会委员会报告工作。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          根据工作需要，省、自治区总工会可在地区设派出代表机关。直辖市和设区的市总工会可在区建立区一级工会组织或者设派出代表机关。

                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               县和城市的区可在乡镇和街道建立乡镇工会和街道工会组织，具备条件的，建立总工会。                                                             </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	 第二十三条 各级地方总工会委员会选举主席一人、副主席若干人、常务委员若干人，组成常务委员会。工会委员会、常务委员会和主席、副主席以及经费审查委员会的选举结果，报上一级总工会批准。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            各级地方总工会委员会全体会议，每年至少举行一次，由常务委员会召集。各级地方总工会常务委员会，在委员会全体会议闭会期间，行使委员会的职权。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第二十四条 各级地方产业工会组织的设置，由同级地方总工会根据本地区的实际情况确定。

                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                              	 第五章 基层组织                                                              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	第二十五条 企业、事业单位、机关和其他社会组织等基层单位，应当依法建立工会组织。社区和行政村可以建立工会组织。有会员二十五人以上的，应当成立工会基层委员会；不足二十五人的，可以单独建立工会基层委员会，也可以由两个以上单位的会员联合建立工会基层委员会，也可以选举组织员或者工会主席一人，主持基层工会工作。工会基层委员会有女会员十人以上的建立女职工委员会，不足十人的设女职工委员。                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            职工二百人以上企业、事业单位的工会设专职工会主席。工会专职工作人员的人数由工会与企业、事业单位协商确定。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        基层工会具备法人条件，依法取得社团法人资格，工会主席为法定代表人。                            </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第二十六条 工会基层组织的会员大会或者会员代表大会，每年至少召开一次。经基层工会委员会或者三分之一以上的工会会员提议，可以临时召开会员大会或者会员代表大会。工会会员在一百人以下的基层工会应当召开会员大会。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         工会会员大会或者会员代表大会的职权是：
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（一）审议和批准工会基层委员会的工作报告。                                                          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（二）审议和批准工会基层委员会的经费收支情况报告和经费审查委员会的工作报告。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （三）选举工会基层委员会和经费审查委员会。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         （四）撤换或者罢免其所选举的代表或者工会委员会组成人员。

                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（五）讨论决定工会工作的重大问题。                                                          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	工会基层委员会和经费审查委员会每届任期三年至五年，具体任期由会员大会或者会员代表大会决定。任期届满，应当如期召开会议，进行换届选举。在特殊情况下，经上一级工会批准，可以提前或者延期举行。                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            会员代表大会的代表实行常任制，任期与本单位工会委员会相同。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         第二十七条 工会基层委员会的委员，应当在会员或者会员代表充分酝酿协商的基础上选举产生；主席、副主席，可以由会员大会或者会员代表大会直接选举产生，也可以由工会基层委员会选举产生。大型企业、事业单位的工会委员会，根据工作需要，经上级工会委员会批准，可以设立常务委员会。工会基层委员会、常务委员会和主席、副主席以及经费审查委员会的选举结果，报上一级工会批准。

                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第二十八条 工会基层委员会的基本任务是：                              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         （一）执行会员大会或者会员代表大会的决议和上级工会的决定，主持基层工会的日常工作。
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （二）代表和组织职工依照法律规定，通过职工代表大会、厂务公开和其他形式，参加本单位民主管理和民主监督。企业、事业单位工会委员会是职工代表大会工作机构，负责职工代表大会的日常工作，检查、督促职工代表大会决议的执行。                                                          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （三）参与协调劳动关系和调解劳动争议，与企业、事业单位行政方面建立协商制度，协商解决涉及职工切身利益问题。帮助和指导职工与企业、事业单位行政方面签订和履行劳动合同，代表职工与企业、事业单位行政方面签订集体合同或者其他专项协议，并监督执行。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （四）组织职工开展劳动竞赛、合理化建议、技术革新和技术协作等活动，总结推广先进经验。做好先进生产（工作）者和劳动模范的评选、表彰、培养和管理服务工作。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （五）对职工进行思想政治教育，鼓励支持职工学习文化科学技术和管理知识，开展健康的文化体育活动。推进企业文化职工文化建设，办好工会文化、教育、体育事业。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （六）监督有关法律、法规的贯彻执行。协助和督促行政方面做好工资、劳动安全卫生和社会保险等方面的工作，办好职工集体福利事业，改善职工生活，对困难职工开展帮扶。依法参与劳动安全卫生事故的调查处理。                                                              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （七）维护女职工的特殊利益，同歧视、虐待、摧残、迫害女职工的现象作斗争。                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         （八）搞好工会组织建设，健全民主制度和民主生活。建立和发展工会积极分子队伍。做好会员的发展、接收、教育和会籍管理工作。加强职工之家建设。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        （九）收好、管好、用好工会经费，管理好工会资产和工会的企业、事业。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第二十九条 教育、科研、文化、卫生、体育等事业单位和机关工会，从脑力劳动者比较集中的特点出发开展工作，积极了解和关心职工的思想、工作和生活，推动党的知识分子政策的贯彻落实。组织职工搞好本单位的民主管理和民主监督，为发挥职工的聪明才智，创造良好的条件。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第三十条 工会基层委员会根据工作需要，可以在分厂、车间（科室）建立分厂、车间（科室）工会委员会。分厂、车间（科室）工会委员会由分厂、车间（科室）会员大会或者会员代表大会选举产生，任期和工会基层委员会相同。
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              工会基层委员会和分厂、车间（科室）委员会，可以根据需要设若干专门委员会或者专门小组。                                                           </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            按照生产（行政）班组建立工会小组，民主选举工会小组长，积极开展工会小组活动。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            第六章 工会干部
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         第三十一条 各级工会组织按照革命化、年轻化、知识化、专业化的要求，努力建设一支坚持党的基本路线，熟悉本职业务，热爱工会工作，受到职工信赖的干部队伍。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第三十二条 工会干部要努力做到：                                                             </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （一）认真学习马克思列宁主义、毛泽东思想、邓小平理论、"三个代表"重要思想和科学发展观，学习经济、法律和工会业务知识。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （二）执行党的基本路线和各项方针政策，遵守国家法律、法规，在改革开放和社会主义现代化建设中勇于开拓创新。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        （三）忠于职守，勤奋工作，廉洁奉公，顾全大局，维护团结。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （四）坚持实事求是，认真调查研究，如实反映职工的意见、愿望和要求。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （五）坚持原则，不谋私利，热心为职工说话办事，依法维护职工的合法权益。
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （六）作风民主，联系群众，自觉接受职工群众的批评和监督。                                                    </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第三十三条 各级工会组织根据有关规定管理工会干部，重视培养和选拔青年干部、妇女干部、少数民族干部，成为培养干部的重要基地。            </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           基层工会主席、副主席任期未满不得随意调动其工作。因工作需要调动时，应事先征得本级工会委员会和上一级工会同意。                                    </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                       第三十四条 各级工会组织建立与健全干部培训制度。办好工会干部院校和各种培训班。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第三十五条 各级工会组织关心工会干部的思想、学习和生活，督促落实相应的待遇，支持他们的工作，坚决同打击报复工会干部的行为作斗争。                                                            </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	 县和县以上工会设立工会干部权益保障金，保障工会干部依法履行职责。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            县和县以上工会可以为基层工会选派、聘用工作人员。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                         第七章 工会经费和资产
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第三十六条 工会经费的来源：
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （一）会员缴纳的会费。
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （二）企业、事业单位、机关和其他社会组织按全部职工工资总额的百分之二向工会拨缴的经费或者建会筹备金。                                                         </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	（三）工会所属的企业、事业单位上缴的收入。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （四）人民政府和企业、事业单位、机关和其他社会组织的补助。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        （五）其他收入。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第三十七条 县和县以上各级工会应当与税务、财政等有关部门合作，依照规定做好工会经费收缴和应当由财政负担的工会经费拨缴工作。                                                           </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	 未成立工会的企业、事业单位、机关和其他社会组织，按工资总额的百分之二向上级工会拨缴工会建会筹备金。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         具备社团法人资格的工会可以设立独立经费账户。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                      第三十八条 工会资产是社会团体资产，中华全国总工会对各级工会的资产拥有终极所有权。各级工会应当加强对工会资产的监督、管理，保护工会资产不受损害，促进工会资产保值增值。根据经费独立原则，建立预算、决算、资产监管和经费审查监督制度。实行"统一领导、分级管理"的财务体制、"统一所有、分级监管、单位使用"的资产监管体制和"统一领导、分级管理、分级负责"的经费审查监督体制。工会经费、资产的管理和使用办法以及工会经费审查监督制度，由中华全国总工会制定。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第三十九条 各级工会委员会按照规定编制和审批预算、决算，定期向会员大会或者会员代表大会和上一级工会委员会报告经费收支和资产管理情况，接受上级和同级工会经费审查委员会审查监督。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第四十条 工会经费、资产和国家及企业、事业单位等拨给工会的不动产和拨付资金形成的资产受法律保护，任何单位和个人不得侵占、挪用和任意调拨；不经批准，不得改变工会所属企业、事业单位的隶属关系和产权关系。
                                                                  </p>
                            </div> <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              工会组织合并，其经费资产归合并后的工会所有；工会组织撤销或者解散，其经费资产由上级工会处置。                                                              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                              	  第八章 会徽                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第四十一条 中国工会会徽，选用汉字"中"、"工"两字，经艺术造型呈圆形重叠组成，并在两字外加一圆线，象征中国工会和中国工人阶级的团结统一。会徽的制作标准，由中华全国总工会规定。                         </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第四十二条 中国工会会徽，可在工会办公地点、活动场所、会议会场悬挂，可作为纪念品、办公用品上的工会标志，也可以作为徽章佩戴。


                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                              	   第九章 附则                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第四十三条 本章程解释权属于中华全国总工会。                         </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
