<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/gonghui/gh.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/gonghui">
                    <i class="keyword_ico"></i>
                    <span>工会</span>
                </a>
              <ul>
                <li><a href="/gonghui0"><span>劳务派遣暂行规定</span></a></li>
                <li><a href="/gonghui1"><span>工伤保险条例</span></a></li>
                <li><a href="/gonghui2"><span>实施《中华人民共和国社会保险法》若干规定</span></a></li>
                <li><a href="/gonghui3"><span>中国工会章程</span></a></li>
                <li><a href="/gonghui4"><span>禁止使用童工规定</span></a></li>
                <li><a href="/gonghui5"><span>未成年工特殊保护规定</span></a></li>
                <li><a href="/gonghui6"><span>城市居民最低生活保障条例</span></a></li>
                <li><a href="/gonghui7"><span>女职工劳动保护规定</span></a></li>
                <li><a href="/gonghui8"><span>大雁塔街道总工会四项基本职能</span></a></li>
                <li><a href="/gonghui9"><span>大雁塔街道总工会岗位职责</span></a></li>
                <li><a href="/gonghui10"><span>大雁塔街道总工会工作制度</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/gonghui">
                            <i></i>
                            当前位置：基础信息>工会>政策法规
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>大雁塔街道总工会四项基本职能</h1>
                        <br>
                        <div class="keyworkxq_js">

                            <div style="font-size:18px;font-family:SimSun;">
                               <p align="center"><b>维 护 职 能</b>
 </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                          《中华人民共和国工会法》明确：维护职工的合法权益是工会的基本职责。工会在维护全国人民总体利益的同时，代表和维护职工的合法权益和民主权利。这是我国工会最重要最基本的职能，是工会之所以存在的基础。

  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                             <b>参 与 职 能</b>
     </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        工会的参与职能，是工会代表和组织职工参与国家和社会事务管理，参与企业、事业和机关的民主管理。这是由于广大职工在国家政治、经济、文化和社会生活中处于主要地位，并在企业、事业、机关中享有民主权利，工会作为广大会员和职工利益的代表而确定的一项社会职能。                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p align="center"><b>
                            建 设 职 能           </b></p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             工会的建设职能，是动员和组织广大职工群众积极参加改革和建设，努力完成经济和社会发展任务。这是社会主义条件下,我国工会具有的一项社会职能。
              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                         	<b>教 育 职 能</b>
                              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                      工会的教育职能，是教育职工不断提高思想道德素质和科学文化素质，建设有理想、有道德、有文化、有纪律的职工队伍。这是由工人阶级历史使命与工人阶级成员自身素质的需要确定的。</p>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
