<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/gonghui/gh.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/gonghui">
                    <i class="keyword_ico"></i>
                    <span>工会</span>
                </a>
              <ul>
                <li><a href="/gonghui0"><span>劳务派遣暂行规定</span></a></li>
                <li><a href="/gonghui1"><span>工伤保险条例</span></a></li>
                <li><a href="/gonghui2"><span>实施《中华人民共和国社会保险法》若干规定</span></a></li>
                <li><a href="/gonghui3"><span>中国工会章程</span></a></li>
                <li><a href="/gonghui4"><span>禁止使用童工规定</span></a></li>
                <li><a href="/gonghui5"><span>未成年工特殊保护规定</span></a></li>
                <li><a href="/gonghui6"><span>城市居民最低生活保障条例</span></a></li>
                <li><a href="/gonghui7"><span>女职工劳动保护规定</span></a></li>
                <li><a href="/gonghui8"><span>大雁塔街道总工会四项基本职能</span></a></li>
                <li><a href="/gonghui9"><span>大雁塔街道总工会岗位职责</span></a></li>
                <li><a href="/gonghui10"><span>大雁塔街道总工会工作制度</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/gonghui">
                            <i></i>
                            当前位置：基础信息>工会>政策法规
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>女职工劳动保护规定</h1>
                        <br>
                        <div class="keyworkxq_js">

                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">第一条　为维护女职工的合法权益，减少和解决女职工在劳动和工作（以下统称劳动）中因生理特点造成的特殊困难，保护其健康，以利于社会主义现代化建设，制定本规定。
 </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                          第二条　本规定适用于中华人民共和国境内一切国家机关、人民团体、企业、事业单位（以下统称单位）的女职工。

  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第三条　凡适合妇女从事劳动的单位，不得拒绝招收女职工。
     </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         第四条　不得在女职工怀孕期、产期、哺乳期降低其基本工资，或者解除劳动合同。                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第五条　禁止安排女职工从事矿山井下、国家规定的第四级体力劳动强度的劳动和其他女职工禁忌从事的劳动。                        </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             　第六条　女职工在月经期间，所在单位不得安排其从事高空、低温、冷水和国家规定的第三级体力劳动强度的劳动。
              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         	　第七条　女职工在怀孕期间，所在单位不得安排其从事国家规定的第三级体力劳动强度的劳动和孕期禁忌从事的劳动，不得在正常劳动日以外延长劳动时间；对不能胜任原劳动的，应当根据医务部门的证明，予以减轻劳动量或者安排其他劳动。
                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                       怀孕七个月以上（含七个月）的女职工，一般不得安排其从事夜班劳动；在劳动时间内应当安排一定的休息时间。
</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">


                               <p style="text-indent:2em;">
                            怀孕的女职工，在劳动时间内进行产前检查，应当算作劳动时间。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第八条　女职工产假为九十天，其中产前休假十五天。难产的，增加产假十五天。多胞胎生育的，每多生育一个婴儿，增加产假十五天。        </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        女职工怀孕流产的，其所在单位应当根据医务部门的证明，给予一定时间的产假。     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第九条　有不满一周岁婴儿的女职工，其所在单位应当在每班劳动时间内给予其两次哺乳（含人工喂养）时间，每次三十分钟。多胞胎生育的，每多哺乳一个婴儿，每次哺乳时间增加三十分钟。女职工每班劳动时间内的两次哺乳时间，可以合并使用。哺乳时间和在本单位内哺乳往返途中的时间，算作劳动时间。
 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          　第十条　女职工在哺乳期内，所在单位不得安排其从事国家规定的第三级体力劳动强度的劳动和哺乳期禁忌从事的劳动，不得延长其劳动时间，一般不得安排其从事夜班劳动。
                       </p>
                            </div>

                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                    第十一条　女职工比较多的单位应当按照国家有关规定，以自办或者联办的形式，逐步建立女职工卫生室、孕妇休息室、哺乳室、托儿所、幼儿园等设施，并妥善解决女职工在生理卫生、哺乳、照料婴儿方面的困难。
            </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                         　第十二条　女职工劳动保护的权益受到侵害时，有权向所在单位的主管部门或者当地劳动部门提出申诉。受理申诉的部门应当自收到申诉书之日起三十日内作出处理决定；女职工对处理决定不服的，可以在收到处理决定之日起十五日内向人民法院起诉。
       </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         　第十三条　对违反本规定侵害女职工劳动保护权益的单位负责人及其直接责任人员，其所在单位的主管部门，应当根据情节轻重，给予行政处分，并责令该单位给予被侵害女职工合理的经济补偿；构成犯罪的，由司法机关依法追究刑事责任。    </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          　第十四条　各级劳动部门负责对本规定的执行进行检查。
              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           各级卫生部门和工会、妇联组织有权对本规定的执行进行监督。                     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         　第十五条　女职工违反国家有关计划生育规定的，其劳动保护应当按照国家有关计划生育规定办理，不适用本规定。                         </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	第十六条　女职工因生理特点禁忌从事劳动的范围由劳动部规定。
     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">　第十七条　省、自治区、直辖市人民政府可以根据本规定，制定具体办法。

    </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第十八条　本规定由劳动部负责解释。
           </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第十九条　本规定自１９８８年９月１日起施行。１９５３年１月２日政务院修正发布的《中华人民共和国劳动保险条例》中有关女工人、女职员生育待遇的规定和１９５５年４月２６日《国务院关于女工作人员生产假期的通知》同时废止。   </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
