<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/gonghui/gh.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
              <a href="/gonghui">
                    <i class="keyword_ico"></i>
                    <span>工会</span>
                </a>
              <ul>
                <li><a href="/gonghui0"><span>劳务派遣暂行规定</span></a></li>
                <li><a href="/gonghui1"><span>工伤保险条例</span></a></li>
                <li><a href="/gonghui2"><span>实施《中华人民共和国社会保险法》若干规定</span></a></li>
                <li><a href="/gonghui3"><span>中国工会章程</span></a></li>
                <li><a href="/gonghui4"><span>禁止使用童工规定</span></a></li>
                <li><a href="/gonghui5"><span>未成年工特殊保护规定</span></a></li>
                <li><a href="/gonghui6"><span>城市居民最低生活保障条例</span></a></li>
                <li><a href="/gonghui7"><span>女职工劳动保护规定</span></a></li>
                <li><a href="/gonghui8"><span>大雁塔街道总工会四项基本职能</span></a></li>
                <li><a href="/gonghui9"><span>大雁塔街道总工会岗位职责</span></a></li>
                <li><a href="/gonghui10"><span>大雁塔街道总工会工作制度</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/gonghui">
                            <i></i>
                            当前位置：基础信息>工会>政策法规
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>实施《中华人民共和国社会保险法》若干规定</h1>
                        <br>
                        <div class="keyworkxq_js">
                        <div style="font-size:18px;font-family:SimSun;">
                              <p align="center">（2011年6月29日人力资源和社会保障部令第13号发布）</p>
                            </div>
      					<div style="font-size:18px;font-family:SimSun;">
                               <p align="center">第一章 关于基本养老保险
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">第一条社会保险法第十五条规定的统筹养老金，按照国务院规定的基础养老金计发办法计发。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                   第二条参加职工基本养老保险的个人达到法定退休年龄时，累计缴费不足十五年的，可以延长缴费至满十五年。社会保险法实施前参保、延长缴费五年后仍不足十五年的，可以一次性缴费至满十五年。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                 第三条参加职工基本养老保险的个人达到法定退休年龄后，累计缴费不足十五年（含依照第二条规定延长缴费）的，可以申请转入户籍所在地新型农村社会养老保险或者城镇居民社会养老保险，享受相应的养老保险待遇。
                                                                  </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                参加职工基本养老保险的个人达到法定退休年龄后，累计缴费不足十五年（含依照第二条规定延长缴费），且未转入新型农村社会养老保险或者城镇居民社会养老保险的，个人可以书面申请终止职工基本养老保险关系。社会保险经办机构收到申请后，应当书面告知其转入新型农村社会养老保险或者城镇居民社会养老保险的权利以及终止职工基本养老保险关系的后果，经本人书面确认后，终止其职工基本养老保险关系，并将个人账户储存额一次性支付给本人。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               　第四条参加职工基本养老保险的个人跨省流动就业，达到法定退休年龄时累计缴费不足十五年的，按照《国务院办公厅关于转发人力资源社会保障部财政部城镇企业职工基本养老保险关系转移接续暂行办法的通知》（国办发〔2009〕66号）有关待遇领取地的规定确定继续缴费地后，按照本规定第二条办理。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                第五条参加职工基本养老保险的个人跨省流动就业，符合按月领取基本养老金条件时，基本养老金分段计算、统一支付的具体办法，按照《国务院办公厅关于转发人力资源社会保障部财政部城镇企业职工基本养老保险关系转移接续暂行办法的通知》（国办发〔2009〕66号）执行。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第六条职工基本养老保险个人账户不得提前支取。个人在达到法定的领取基本养老金条件前离境定居的，其个人账户予以保留，达到法定领取条件时，按照国家规定享受相应的养老保险待遇。其中，丧失中华人民共和国国籍的，可以在其离境时或者离境后书面申请终止职工基本养老保险关系。社会保险经办机构收到申请后，应当书面告知其保留个人账户的权利以及终止职工基本养老保险关系的后果，经本人书面确认后，终止其职工基本养老保险关系，并将个人账户储存额一次性支付给本人。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               参加职工基本养老保险的个人死亡后，其个人账户中的余额可以全部依法继承。
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                                 第二章 关于基本医疗保险
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                                第七条社会保险法第二十七条规定的退休人员享受基本医疗保险待遇的缴费年限按照各地规定执行。                        </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               　参加职工基本医疗保险的个人，基本医疗保险关系转移接续时，基本医疗保险缴费年限累计计算。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第八条参保人员在协议医疗机构发生的医疗费用，符合基本医疗保险药品目录、诊疗项目、医疗服务设施标准的，按照国家规定从基本医疗保险基金中支付。     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             　参保人员确需急诊、抢救的，可以在非协议医疗机构就医；因抢救必须使用的药品可以适当放宽范围。参保人员急诊、抢救的医疗服务具体管理办法由统筹地区根据当地实际情况制定。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                               第三章 关于工伤保险
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第九条职工（包括非全日制从业人员）在两个或者两个以上用人单位同时就业的，各用人单位应当分别为职工缴纳工伤保险费。职工发生工伤，由职工受到伤害时工作的单位依法承担工伤保险责任。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十条社会保险法第三十七条第二项中的醉酒标准，按照《车辆驾驶人员血液、呼气酒精含量阈值与检验》（GB19522-2004）执行。公安机关交通管理部门、医疗机构等有关单位依法出具的检测结论、诊断证明等材料，可以作为认定醉酒的依据。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第十一条社会保险法第三十八条第八项中的因工死亡补助金是指《工伤保险条例》第三十九条的一次性工亡补助金，标准为工伤发生时上一年度全国城镇居民人均可支配收入的20倍。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              　上一年度全国城镇居民人均可支配收入以国家统计局公布的数据为准。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              　第十二条社会保险法第三十九条第一项治疗工伤期间的工资福利，按照《工伤保险条例》第三十三条有关职工在停工留薪期内应当享受的工资福利和护理等待遇的规定执行。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            第四章 关于失业保险
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	第十三条失业人员符合社会保险法第四十五条规定条件的，可以申请领取失业保险金并享受其他失业保险待遇。其中，非因本人意愿中断就业包括下列情形：                          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">（一）依照劳动合同法第四十四条第一项、第四项、第五项规定终止劳动合同的；
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               （二）由用人单位依照劳动合同法第三十九条、第四十条、第四十一条规定解除劳动合同的；               </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （三）用人单位依照劳动合同法第三十六条规定向劳动者提出解除劳动合同并与劳动者协商一致解除劳动合同的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （四）由用人单位提出解除聘用合同或者被用人单位辞退、除名、开除的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （五）劳动者本人依照劳动合同法第三十八条规定解除劳动合同的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （六）法律、法规、规章规定的其他情形。      </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十四条失业人员领取失业保险金后重新就业的，再次失业时，缴费时间重新计算。失业人员因当期不符合失业保险金领取条件的，原有缴费时间予以保留，重新就业并参保的，缴费时间累计计算。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              　第十五条失业人员在领取失业保险金期间，应当积极求职，接受职业介绍和职业培训。失业人员接受职业介绍、职业培训的补贴由失业保险基金按照规定支付。                   </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            第五章 关于基金管理和经办服务
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第十六条社会保险基金预算、决算草案的编制、审核和批准，依照《国务院关于试行社会保险基金预算的意见》（国发〔2010〕2号）的规定执行。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第十七条社会保险经办机构应当每年至少一次将参保人员个人权益记录单通过邮寄方式寄送本人。同时，社会保险经办机构可以通过手机短信或者电子邮件等方式向参保人员发送个人权益记录。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	　第十八条社会保险行政部门、社会保险经办机构及其工作人员应当依法为用人单位和个人的信息保密，不得违法向他人泄露下列信息：
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               （一）涉及用人单位商业秘密或者公开后可能损害用人单位合法利益的信息；
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               （二）涉及个人权益的信息。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                              第六章 关于法律责任
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第十九条用人单位在终止或者解除劳动合同时拒不向职工出具终止或者解除劳动关系证明，导致职工无法享受社会保险待遇的，用人单位应当依法承担赔偿责任。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　第二十条职工应当缴纳的社会保险费由用人单位代扣代缴。用人单位未依法代扣代缴的，由社会保险费征收机构责令用人单位限期代缴，并自欠缴之日起向用人单位按日加收万分之五的滞纳金。用人单位不得要求职工承担滞纳金。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	第二十一条用人单位因不可抗力造成生产经营出现严重困难的，经省级人民政府社会保险行政部门批准后，可以暂缓缴纳一定期限的社会保险费，期限一般不超过一年。暂缓缴费期间，免收滞纳金。到期后，用人单位应当缴纳相应的社会保险费。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第二十二条用人单位按照社会保险法第六十三条的规定，提供担保并与社会保险费征收机构签订缓缴协议的，免收缓缴期间的滞纳金。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第二十三条用人单位按照本规定第二十一条、第二十二条缓缴社会保险费期间，不影响其职工依法享受社会保险待遇。
                                                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第二十四条用人单位未按月将缴纳社会保险费的明细情况告知职工本人的，由社会保险行政部门责令改正；逾期不改的，按照《劳动保障监察条例》第三十条的规定处理。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              第二十五条医疗机构、药品经营单位等社会保险服务机构以欺诈、伪造证明材料或者其他手段骗取社会保险基金支出的，由社会保险行政部门责令退回骗取的社会保险金，处骗取金额二倍以上五倍以下的罚款。对与社会保险经办机构签订服务协议的医疗机构、药品经营单位，由社会保险经办机构按照协议追究责任，情节严重的，可以解除与其签订的服务协议。对有执业资格的直接负责的主管人员和其他直接责任人员，由社会保险行政部门建议授予其执业资格的有关主管部门依法吊销其执业资格。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第二十六条社会保险经办机构、社会保险费征收机构、社会保险基金投资运营机构、开设社会保险基金专户的机构和专户管理银行及其工作人员有下列违法情形的，由社会保险行政部门按照社会保险法第九十一条的规定查处：
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （一）将应征和已征的社会保险基金，采取隐藏、非法放置等手段，未按规定征缴、入账的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （二）违规将社会保险基金转入社会保险基金专户以外的账户的；
                               </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （三）侵吞社会保险基金的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （四）将各项社会保险基金互相挤占或者其他社会保障基金挤占社会保险基金的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （五）将社会保险基金用于平衡财政预算，兴建、改建办公场所和支付人员经费、运行费用、管理费用的；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （六）违反国家规定的投资运营政策的。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                          第七章 其他
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                               第二十七条职工与所在用人单位发生社会保险争议的，可以依照《中华人民共和国劳动争议调解仲裁法》、《劳动人事争议仲裁办案规则》的规定，申请调解、仲裁，提起诉讼。
                               </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	职工认为用人单位有未按时足额为其缴纳社会保险费等侵害其社会保险权益行为的，也可以要求社会保险行政部门或者社会保险费征收机构依法处理。社会保险行政部门或者社会保险费征收机构应当按照社会保险法和《劳动保障监察条例》等相关规定处理。在处理过程中，用人单位对双方的劳动关系提出异议的，社会保险行政部门应当依法查明相关事实后继续处理。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	第二十八条在社会保险经办机构征收社会保险费的地区，社会保险行政部门应当依法履行社会保险法第六十三条所规定的有关行政部门的职责。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	第二十九条2011年7月1日后对用人单位未按时足额缴纳社会保险费的处理，按照社会保险法和本规定执行；对2011年7月1日前发生的用人单位未按时足额缴纳社会保险费的行为，按照国家和地方人民政府的有关规定执行。
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第三十条本规定自2011年7月1日起施行。


                                                                  </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
<script>
    $('.top_right a').eq(0).mouseover(function(){
        $('.top_ewm').css('display','block');
    });
    $('.top_right a').eq(0).mouseout(function(){
        $('.top_ewm').css('display','none');
    });
    $(function() {
        var left = ($(window).width() - 1200) / 2;
        $('.tubiao>div').css('left', (left - 40) + 'px');
        $('.asa').css('left', left + 'px');
        $('.index1_imgt div:nth-of-type(2)').css({
            'margin-right':(left-50)+'px'
        });
        $('.index1_imgt div:nth-of-type(1)').css({
            'margin-left':(left-50)+'px'
        });
        $('.logo').click(function (event) {
            event.preventDefault();
            $('#index1_nav').css({
                'background': '#ddd',
                'opacity': 0.5
            });
            $('.asa').css('display', 'block');
        });
        $('.asa').on('click', function () {
            $('.asa').css('display', 'none');
            $('#index1_nav').css({
                'background': '',
                'opacity': ''
            });
        });
    })
</script>
</body>
</html>
