<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/gonghui/gh.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/gonghui">
                    <i class="keyword_ico"></i>
                    <span>工会</span>
                </a>
              <ul>
                <li><a href="/gonghui0"><span>劳务派遣暂行规定</span></a></li>
                <li><a href="/gonghui1"><span>工伤保险条例</span></a></li>
                <li><a href="/gonghui2"><span>实施《中华人民共和国社会保险法》若干规定</span></a></li>
                <li><a href="/gonghui3"><span>中国工会章程</span></a></li>
                <li><a href="/gonghui4"><span>禁止使用童工规定</span></a></li>
                <li><a href="/gonghui5"><span>未成年工特殊保护规定</span></a></li>
                <li><a href="/gonghui6"><span>城市居民最低生活保障条例</span></a></li>
                <li><a href="/gonghui7"><span>女职工劳动保护规定</span></a></li>
                <li><a href="/gonghui8"><span>大雁塔街道总工会四项基本职能</span></a></li>
                <li><a href="/gonghui9"><span>大雁塔街道总工会岗位职责</span></a></li>
                <li><a href="/gonghui10"><span>大雁塔街道总工会工作制度</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/gonghui">
                            <i></i>
                            当前位置：基础信息>工会>政策法规
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>未成年工特殊保护规定</h1>
                        <br>
                        <div class="keyworkxq_js">

                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">第一条　为维护未成年工的合法权益，保护其在生产劳动中的健康，根据《中华人民共和国劳动法》的有关规定，制定本规定。  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                               第二条　未成年工是指年满十六周岁，未满十八周岁的劳动者。
  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              未成年工的特殊保护是针对未成年工处于生长发育期的特点，以及接受义务教育的需要，采取的特殊劳动保护措施。          </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第三条　用人单位不得安排未成年工从事以下范围的劳动：

                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （一）《生产性粉尘作业危害程度分级》国家标准中第一级以上的接尘作业；
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （二）《有毒作业分级》国家标准中第一级以上的有毒作业；                            </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         	（三）《高处作业分级》国家标准中第二级以上的高处作业；                      </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         （四）《冷水作业分级》国家标准中第二级以上的冷水作业；
</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">


                               <p style="text-indent:2em;">
                              （五）《高温作业分级》国家标准中第三级以上的高温作业；
                                                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （六）《低温作业分级》国家标准中第三级以上的低温作业；          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        （七）《体力劳动强度分级》国家标准中第四级体力劳动强度的作业；     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              （八）矿山井下及矿山地面采石作业； </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （九）森林业中的伐木、流放及守林作业；
                       </p>
                            </div>

                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                       （十）工作场所接触放射性物质的作业；               </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （十一）有易燃易爆、化学性烧伤和热烧伤等危险性大的作业；                              </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （十二）地质勘探和资源勘探的野外作业；                </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             （十三）潜水、涵洞、涵道作业和海拔三千米以上的高原作业（不包括世居高原者）；                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （十四）连续负重每小时在六次以上并每次超过二十公斤，间断负重每次超过二十五公斤的作业；                        </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （十五）使用凿岩机、捣固机、气镐、气铲、铆钉机、电锤的作业；                            </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	（十六）工作中需要长时间保持低头、弯腰、上举、下蹲等强迫体位和动作频率每分钟大于五十次的流水线作业；                         </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">（十七）锅炉司炉。
    </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            第四条　未成年工患有某种疾病或具有某些生理缺陷（非残疾型）时，用人单位不得安排其从事以下范围的劳动：
           </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （一）《高处作业分级》国家标准中第一级以上的高处作业；    </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （二）《低温作业分级》国家标准中第二级以上的低温作业；               </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （三）《高温作业分级》国家标准中第二级以上的高温作业；                   </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （四）《体力劳动强度分级》国家标准中第三级以上体力劳动强度的作业；     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （五）接触铅、苯、汞、甲醛、二硫化碳等易引起过敏反应的作业。
           </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第五条　患有某种疾病或具有某些生理缺陷（非残疾型）的未成年工，是指有以下一种或一种以上情况者：
              </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （一）心血管系统
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           １.先天性心脏病；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            ２.克山病；
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	３.收缩期或舒张期二级以上心脏杂音。              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　（二）呼吸系统                   </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             １.中度以上气管炎或支气管哮喘；                    </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            ２.呼吸音明显减弱；                     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           ３.各类结核病；                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          ４.体弱儿，呼吸道反复感染者。  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            	（三）消化系统
                                                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　１.各类肝炎；              </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            ２.肝、脾肿大；                    </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                           ３.胃、十二指肠溃疡；                     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          ４.各种消化道疝。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （四）泌尿系统  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　１.急、慢性肾炎；          </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             ２.泌尿系感染。                   </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                           （五）内分泌系统                    </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          １.甲状腺机能亢进；                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         ２.中度以上糖尿病。  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　（六）精神神经系统                 </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            １.智力明显低下；                 </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            ２.精神忧郁或狂暴。                   </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （七）肌肉、骨骼运动系统              </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          １.身高和体重低于同龄人标准；  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　２.一个及一个以上肢体存在明显功能障碍；                </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            ３.躯干四分之一以上部位活动受限，包括强直或不能旋转。                    </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                           （八）其他                     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          １.结核性胸膜炎；                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          ２.各类重度关节炎；  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　３.血吸虫病；                </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             ４.严重贫血，其血色素每升低于九十五克（<９.５g/dL）。                   </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                            第六条　用人单位应按下列要求对未成年工定期进行健康检查：                     </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （一）安排工作岗位之前；                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （二）工作满一年；  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （三）年满十八周岁，距前一次的体检时间已超过半年。
               </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第七条　未成年工的健康检查，应按本规定所附《未成年工健康检查表》列出的项目进行。
                   </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                          第八条　用人单位应根据未成年工的健康检查结果安排其从事适合的劳动，对不能胜任原劳动岗位的，应根据医务部门的证明，予以减轻劳动量或安排其他劳动。                   </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         第九条　对未成年工的使用和特殊保护实行登记制度。
          </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （一）用人单位招收使用未成年工，除符合一般用工要求外，还须向所在地的县级以上劳动行政部门办理登记。劳动行政部门根据《未成年工健康检查表》、《未成年工登记表》，核发《未成年工登记证》。  </p>
                            </div>
                     <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                           （二）各级劳动行政部门须按本规定第三、四、五、七条的有关规定，审核体检情况和拟安排的劳动范围。                    </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           （三）未成年工须持《未成年工登记证》上岗。                 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （四）《未成年工登记证》由国务院劳动行政部门统一印制。 </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           第十条　未成年工上岗前用人单位应对其进行有关的职业安全卫生教育、培训；未成年工体检和登记，由用人单位统一办理和承担费用。

               </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p align="center">
                           第十一条　县级以上劳动行政部门对用人单位执行本规定的情况进行监督检查，对违犯本规定的行为依照有关法规进行处罚。
                   </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          各级工会组织对本规定的执行情况进行监督。             </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          　第十二条　省、自治区、直辖市劳动行政部门可以根据本规定制定实施办法。；  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            　第十三条　本规定自１９９５年１月１日起施行.
               </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
