
<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/tuanwei/tuanwei.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/tuanwei">
                    <i class="keyword_ico"></i>
                    <span>团委知识</span>
                </a>
              <ul>
                <li><a href="/tuanwei0"><span>团的基层组织基本任务</span></a></li>
                <li><a href="/tuanwei1"><span>团的组织要求</span></a></li>
                <li><a href="/tuanwei2"><span>中国共产主义青年团团旗</span></a></li>
                <li><a href="/tuanwei3"><span>中国共产主义青年团团徽</span></a></li>
                <li><a href="/tuanwei4"><span>中国共产主义青年团团歌</span></a></li>
                <li><a href="/tuanwei5"><span>第一章　团员</span></a></li>
                <li><a href="/tuanwei6"><span>第二章　团的组织制度</span></a></li>
                <li><a href="/tuanwei7"><span>第三章　团的中央组织</span></a></li>
                <li><a href="/tuanwei8"><span>第四章　团的地方和军队的组织</span></a></li>
                <li><a href="/tuanwei9"><span>第五章　团的基层组织</span></a></li>
                <li><a href="/tuanwei10"><span>第六章　团的干部</span></a></li>
                <li><a href="/tuanwei11"><span>第七章　团旗、团徽、团歌、团员证</span></a></li>
                <li><a href="/tuanwei12"><span>第八章　团的经费</span></a></li>
                <li><a href="/tuanwei13"><span>第九章　团同少年先锋队的关系</span></a></li>
                <li><a href="/tuanwei14"><span>总则</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                       <a href="tuanwei">
                            <i></i>
                            当前位置：基础信息>团委>团信息
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>第二章　团的组织制度</h1>
                        <br>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">　第十二条　中国共产主义青年团是按照民主集中制组织起来的统一整体。团的民主集中制的基本原则是：</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                （一）团员个人服从组织，少数服从多数，下级组织服从上级组织。                     </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            （二）团的全国领导机关，是团的全国代表大会和它产生的中央委员会。地方各级团的领导机关，是同级团的代表大会和它产生的团的委员会，团的各级委员会向同级代表大会负责并报告工作。                            </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          （三）团的各级领导机关，除它们派出的代表机关外，都由选举产生。
            				</p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">（四）团的各级领导机关应当经常听取并认真处理下级组织和团员的意见；团的下级组织既要向上级组织请示、报告工作，又要独立负责地解决自己职责范围内的问题。团的各级组织要使团员对团内事务有更多的了解和参与。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                （五）团的各级委员会实行集体领导和个人分工负责相结合的制度。                     </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第十三条　团的各级委员会可以根据工作需要，设立适当的工作部门。团的县级以上各级委员会可以派出代表机关。                           </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                       在团的各级代表大会闭会期间，同级党的组织和上级团的组织认为有必要时，经过共同研究，取得一致意见，可以调动或指派团组织的负责人。
            				</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">第十四条　团的各级代表大会的代表和委员会的产生，要体现选举人的意志。选举采用无记名投票的方式。候选人的产生要广泛发扬民主，候选人名单要充分酝酿讨论。可以直接采用候选人数多于应选人数的差额选举办法进行选举，也可以采用差额选举办法进行预选，产生候选人名单，然后进行等额正式选举。选举人有了解候选人情况、要求改变候选人、不选任何一个候选人和另选他人的权利。任何组织和个人不得以任何方式强迫选举人选举或不选举某个人。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                               团的中央和地方各级委员会委员、候补委员中的专职团干部调离团的岗位，其委员或候补委员的职务自行卸免。委员缺额由候补委员按得票多少依次递补，卸免和递补须经全会确认。                      </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             第十五条　团的县级和县级以上委员会在必要时可以召集代表会议，讨论和决定需要由代表大会解决的重大问题。代表会议可以增选委员会的部分成员。增选委员会委员和候补委员的数额，不得超过该级代表大会选出的委员和候补委员总数的三分之一。代表会议代表的名额和产生办法，由召集代表会议的委员会决定。                            </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                          第十六条　有关全团性的工作，由团的中央委员会作出决定，统一部署。
            				</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">（二）在团内有选举权、被选举权和表决权。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                各级团组织的报刊和其他宣传工具，必须宣传党的路线、方针和政策，宣传团的上级组织和本级组织的决议与工作任务，反映青年的意见和要求。                 </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
