
<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/tuanwei/tuanwei.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/tuanwei">
                    <i class="keyword_ico"></i>
                    <span>团委知识</span>
                </a>
              <ul>
                <li><a href="/tuanwei0"><span>团的基层组织基本任务</span></a></li>
                <li><a href="/tuanwei1"><span>团的组织要求</span></a></li>
                <li><a href="/tuanwei2"><span>中国共产主义青年团团旗</span></a></li>
                <li><a href="/tuanwei3"><span>中国共产主义青年团团徽</span></a></li>
                <li><a href="/tuanwei4"><span>中国共产主义青年团团歌</span></a></li>
                <li><a href="/tuanwei5"><span>第一章　团员</span></a></li>
                <li><a href="/tuanwei6"><span>第二章　团的组织制度</span></a></li>
                <li><a href="/tuanwei7"><span>第三章　团的中央组织</span></a></li>
                <li><a href="/tuanwei8"><span>第四章　团的地方和军队的组织</span></a></li>
                <li><a href="/tuanwei9"><span>第五章　团的基层组织</span></a></li>
                <li><a href="/tuanwei10"><span>第六章　团的干部</span></a></li>
                <li><a href="/tuanwei11"><span>第七章　团旗、团徽、团歌、团员证</span></a></li>
                <li><a href="/tuanwei12"><span>第八章　团的经费</span></a></li>
                <li><a href="/tuanwei13"><span>第九章　团同少年先锋队的关系</span></a></li>
                <li><a href="/tuanwei14"><span>总则</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                       <a href="/tuanwei">
                            <i></i>
                            当前位置：基础信息>团委>团信息
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1>第六章　团的干部</h1>
                        <br>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">第二十七条　团的干部是团的工作的骨干。共青团要按照德才兼备的原则，大胆选拔年轻干部，保持团干部队伍年轻化的优势，努力实现团干部队伍的革命化、知识化和专业化，在"保留骨干、以资熟手"的同时，不断为党和国家输送年轻干部。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                          　第二十八条　团的各级领导干部要做团员和青年的表率，模范地履行团员的各项义务，刻苦学习、勤奋工作、勇于创造、自觉奉献，做党放心、青年满意的干部。     </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         （一）政治上要坚强。具有相应的马克思列宁主义、毛泽东思想和邓小平理论的水平，自觉实践"三个代表"重要思想，带头贯彻落实科学发展观，坚持讲学习、讲政治、讲正气，坚决执行党的基本路线和各项方针政策，立志改革开放，献身社会主义现代化建设事业。             </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         （二）学习要刻苦。带头学习政治、经济、文化、科学技术和现代管理知识，不断提高思想政策水平和实际工作能力。
            				</p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">（三）工作要勤奋。有强烈的革命事业心和责任感，勤于思考，勇于创新，知难而进，积极主动地在青年中开展工作，努力做出实绩。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                （四）作风要扎实。朝气蓬勃，实事求是，发扬民主，敢想敢干，深入基层，调查研究，讲实话，办实事，求实效，不搞形式主义，不沾染官僚习气，热心为青年服务，做青年的知心朋友。     </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                        （五）品德要高尚。顾全大局，公道正派，团结同志，助人为乐，诚实谦虚，清正廉洁，有自我批评精神，自觉接受团员和青年的监督。      </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                      第二十九条　团的各级组织负有协助党管理团干部的责任。要加强对团干部的选拔和培养，建立正规的培训制度，办好各级团校和培训班；建立和健全团干部的考核制度；主动向有关党委和团委推荐下级或同级团组织负责人人选，对团干部的调动提出建议。   				</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">　　团的各级组织要关心团干部的工作、学习、生活和休息，努力帮助他们解决实际问题，积极为他们的成长和转业创造条件。</p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">　　对工作有显著成绩的团干部，团的组织应当给以表扬和奖励。</p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">　第三十条　团干部要认真了解党组织工作全局，主动汇报团的工作情况，积极负责地发表意见，结合团的工作实际，创造性地完成党组织交给的任务。</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
