
<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyword_ico {
    background: url(/modules/core/client/img/image/tuanwei/tuanwei.png) no-repeat;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/tuanwei">
                    <i class="keyword_ico"></i>
                    <span>团委知识</span>
                </a>
              <ul>
                <li><a href="/tuanwei0"><span>团的基层组织基本任务</span></a></li>
                <li><a href="/tuanwei1"><span>团的组织要求</span></a></li>
                <li><a href="/tuanwei2"><span>中国共产主义青年团团旗</span></a></li>
                <li><a href="/tuanwei3"><span>中国共产主义青年团团徽</span></a></li>
                <li><a href="/tuanwei4"><span>中国共产主义青年团团歌</span></a></li>
                <li><a href="/tuanwei5"><span>第一章　团员</span></a></li>
                <li><a href="/tuanwei6"><span>第二章　团的组织制度</span></a></li>
                <li><a href="/tuanwei7"><span>第三章　团的中央组织</span></a></li>
                <li><a href="/tuanwei8"><span>第四章　团的地方和军队的组织</span></a></li>
                <li><a href="/tuanwei9"><span>第五章　团的基层组织</span></a></li>
                <li><a href="/tuanwei10"><span>第六章　团的干部</span></a></li>
                <li><a href="/tuanwei11"><span>第七章　团旗、团徽、团歌、团员证</span></a></li>
                <li><a href="/tuanwei12"><span>第八章　团的经费</span></a></li>
                <li><a href="/tuanwei13"><span>第九章　团同少年先锋队的关系</span></a></li>
                <li><a href="/tuanwei14"><span>总则</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                       <a href="/tuanwei">
                            <i></i>
                            当前位置：基础信息>团委>团信息
                        </a>
                    </b>

                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 >总　则</h1>
                        <br>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">中国共产主义青年团是中国共产党领导的先进青年的群众组织，是广大青年在实践中学习中国特色社会主义和共产主义的学校，是中国共产党的助手和后备军。　</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                            中国共产主义青年团坚决拥护中国共产党的纲领，以马克思列宁主义、毛泽东思想、邓小平理论和"三个代表"重要思想为行动指南，深入贯彻落实科学发展观，解放思想，实事求是，与时俱进，团结全国各族青年，为把我国建设成为富强民主文明和谐的社会主义现代化国家，为最终实现共产主义而奋斗。　　       </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         中国共产主义青年团在中国共产党领导下发展壮大，始终站在革命斗争的前列，有着光荣的历史。在建立新中国，确立和巩固社会主义制度，发展社会主义的经济、政治、文化的进程中发挥了生力军和突击队作用，为党培养、输送了大批新生力量和工作骨干。党的十一届三中全会以来，共青团根据党的工作重心的转移，紧密围绕改革开放和经济建设开展工作，为推进社会主义现代化建设事业作出了重要贡献，促进了青年一代的健康成长。　　       </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         中国共产主义青年团在现阶段的基本任务是：高举中国特色社会主义伟大旗帜，坚定不移地贯彻党在社会主义初级阶段的基本路线，以经济建设为中心，坚持四项基本原则，坚持改革开放，用社会主义核心价值体系教育青年，在建设中国特色社会主义的伟大实践中，造就有理想、有道德、有文化、有纪律的接班人，不断巩固和扩大党执政的青年群众基础，努力为党输送新鲜血液，为国家培养青年建设人才，团结带领广大青年，自力更生，艰苦创业，积极推动社会主义经济建设、政治建设、文化建设、社会建设，为全面建设小康社会、加快推进社会主义现代化贡献智慧和力量。　　
            				</p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">中国共产主义青年团加强思想政治工作，坚持对青年的教育和引导，组织青年学习马克思列宁主义、毛泽东思想、邓小平理论和"三个代表"重要思想，学习科学发展观，广泛开展党的基本路线教育，爱国主义、集体主义和社会主义思想教育，社会主义道德教育，近代史、现代史教育和国情教育，民主和法制教育，增强青年的民族自尊、自信和自强精神，树立正确的理想、信念和世界观、人生观、价值观。对团员还必须进行中国特色社会主义共同理想和共产主义远大理想教育。努力帮助青年学习现代科学文化知识，吸收和借鉴人类社会创造的一切文明成果，抵御资本主义和封建主义腐朽思想的侵蚀，不断提高青年的思想道德素质和科学文化素质。</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                               中国共产主义青年团带领青年在经济建设中发挥生力军和突击队作用，充分调动和发挥青年的积极性和创造性，组织青年参加改革开放和完善社会主义市场经济体制的实践，促进科教兴国战略、人才强国战略和可持续发展战略的实施，树立科学技术是第一生产力的观念，掌握和运用先进的科学技术，学习和适应现代管理方式，诚实劳动，勇于创新，为发展社会生产力，增强综合国力，提高人民生活水平，实现我国经济发展的战略目标建功立业。　　    </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                         中国共产主义青年团充分发挥党联系青年的桥梁和纽带作用，积极协助政府管理青年事务，在维护国家和人民利益的同时代表和维护青年的具体利益，围绕党的中心任务，开展适合青年特点的独立活动，关心青年的工作、学习和生活，切实为青年服务，向党和政府反映青年的意见和要求，开展社会监督，同各种危害青少年的现象作斗争，保护和促进青少年的健康成长。     </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                      中国共产主义青年团高举爱国主义旗帜，坚决维护和发展全国各族青年之间的团结友爱，加强同香港特别行政区青年同胞、澳门特别行政区青年同胞、台湾青年同胞和海外青年侨胞的团结，按照"一国两制"的方针，共同促进香港、澳门长期繁荣稳定和祖国统一大业的完成。　　           				</p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">　中国共产主义青年团在维护我国的独立和主权，坚持和平友好、独立自主、相互学习、平等合作、共同发展的基础上，积极发展同世界各国青年组织的交往和友好关系，反对霸权主义和强权政治，维护世界和平，促进人类进步。　</p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">　中国共产主义青年团要完成现阶段的基本任务，必须以改革创新精神全面推进团的建设。要发扬优良传统和作风，生动活泼、富于创造性地开展工作，把共青团建设成为团结教育青年的坚强核心。团的建设必须贯彻以下基本要求：</p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;"> 	（一）坚持党的基本路线不动摇。全团要用邓小平理论、"三个代表"重要思想和党的基本路线统一思想和行动，深入贯彻落实科学发展观，团的各项工作都必须服从和服务于经济建设这个中心；必须把坚持改革开放和坚持四项基本原则统一起来，使党的基本路线在团的工作中得到全面贯彻。　　</p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">（二）坚持党建带团建。把党的要求贯彻落实到团的建设之中，使团的建设纳入党的建设总体规划。　　</p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;"> 	 （三）坚持先进性与群众性的统一。教育、引导青年坚定正确的政治方向，发挥团员的模范作用；广泛团结青年，与青年保持密切的联系。　</p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">（四）坚持把竭诚服务青年作为团的一切工作的出发点和落脚点，更好地吸引和凝聚青年。</p>
                            </div>

                            <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">（五）坚持民主集中制。民主集中制是共青团根本的组织原则。要充分发扬民主，切实保障团员的民主权利。要实行正确的集中，加强组织性和纪律性，保证团的决议得到有效的贯彻执行。　</p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;"> 	（六）坚持不懈地抓好基层建设。基层组织是团的一切工作的基础。团的领导机关要确立基层第一的观念，发扬务实、求实的作风，深入基层，服务基层，不断增强基层活力。　　</p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">
                               <p style="text-indent:2em;">中国共产主义青年团中央委员会受中国共产党中央委员会领导，团的地方组织和基层组织受同级党的委员会领导，同时受团的上级组织领导。　</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
