<section ng-style="vm.sectionStyle">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
/*
    body {
      background: url('/modules/core/client/img/ht/大雁塔街道党建bg.png') no-repeat;
    }*/

    .page-content {
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
    }

    @keyframes gun {
      from {
        top: 10px;
      }
      to {
        top: -210px;
      }
    }

    .cont {
      position: absolute;
      left: 364px;
      top: 320px;
      width: 860px;
      height: 280px;
      overflow: hidden;
    }

    .cont > p {
      position: relative;
      text-indent: 2em;
      font-weight: bold;
      height: auto;
      font-size: 15px;
      line-height: 30px;
      padding-left: 40px;
      padding-right: 40px;
      /*animation: gun 15s linear infinite;*/
    }

    .cont > p:hover {
      position: relative;
      text-indent: 2em;
      font-weight: bold;
      font-size: 15px;
      line-height: 30px;
      padding-left: 40px;
      padding-right: 40px;
      animation-play-state: paused;
    }

    .footer {
      position: absolute;
      width: 860px;
      top: 620px;
      left: 364px;
    }

    .footer > ul li {
      position: relative;
      width: 132px;
      height: 138px;
      background: #fefac8;
      border-radius: 5px;
      float: left;
      box-shadow: 0 0 5px 2px #aa8383;
      -webkit-box-shadow: 0 0 5px 2px #aa8383;
      -moz-box-shadow: 0 0 5px 2px #aa8383;
    }

    .footer > ul li > div {
      width: 100%;
      height: 60%;
    }

    .footer > ul li > div:hover {
      transform: rotateY(360deg);
      transition: all 0.5s;
    }

    .footer > ul li > p {
      position: relative;
      top: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #89511a;
      text-align: center;
      text-indent: 0;
    }

    @keyframes flash1 {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }

    body > .page-container {
      margin-top: 0;
    }

    .logo {
      width: 449px;
      height: 416px;
      position: absolute;
      right: 100px;
      bottom: 0px;
    }

    .logo {
      bottom: 200px;
    }

    .logo div {
      position: absolute;
      cursor: pointer;
    }

    .logo div a {
      display: block;
      width: 100%;
      height: 100%;
    }
    .container-fluid.page-content{
      padding: 0 15px;
      box-sizing: border-box;
    }
  </style>
 <!--<div class="cont" ng-style="{marginLeft: vm.show ? '180px':0,width: vm.show? '700px':'860px'}">-->
    <!--<p>-->
      <!--大雁塔街办成立于1982年4月，社会事务管理面积约7.3平方公里，经济管理面积只有3.2平方公里，常驻人口约14万人，北以南二环为界与碑林区相隔，西以翠华路为界与小寨路街办、长延堡街办相接，东以雁翔路为界与等驾坡街办相接，是陕西省省委所在地。下辖6个行政村，其中太平堡村、大雁塔村位于曲江新区范围，观音庙村、王家村、铁二村、铁一村依次分布在西影路沿线；共有19个社区，其中板块型社区12个（翠华北路社区、翠华南路社区、大雁塔社区、雁塔路社区、雁西社区、建苑社区、兴科社区、八一社区、武警医院社区、交大财经社区、西安科技大学社区、西延路社区）；单位型社区4个（省委社区、西影厂社区、铁一院社区、西勘社区）；小区型社区2个（青龙社区、海珀紫庭社区）；撤村转居型社区1个（后村社区）。-->
    <!--</p>-->

  <!--</div>-->
</section>
