<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }

  .kouhao1.act {
    background-color: red !important;
  }

  .kouhao2.act {
    background-color: red !important;
  }

  .kouhao3.act {
    background-color: red !important;
  }

  .kouhao4.act {
    background-color: red !important;
  }
  .kouhao5.act {
    background-color: red !important;
  }
  @media screen and (min-width: 768px) {
    .carousel-caption {
      right: 20%;
      left: 20%;
      padding-bottom: 0px;
    }

    .carousel-indicators {
      bottom: 50px;
    }
  }
  .sanui>tr>td:nth-of-type(1)>a{
    display: inline-block;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .table .jifenz>tr:nth-of-type(1)>td{
    padding:11px 0;
  }
  .table .jifenz>tr>td{
    padding-top:20px;
    padding-bottom: 21px;
  }
  .index1_title a i.index1_icon20 {
    width: 120px;
    height: 30px;
    background: url(/modules/core/client/img/image/map1/lty.png)no-repeat 0px 0px;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">
    <a href="#"></a>
    <a href="#"></a>
    <a href="javascript:void(0)" ng-click="toSHYK()"></a>
    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>
    <a href="/partybuild#jiaoliu"></a>
    <a href="/partyDQ#dangzhishi"></a>
    <a href="/partyInter"></a>
    <a href="/partydt"></a>
    <a href="/basic"></a>
    <a href="#"></a>
    <a href="javascript:void(0)" ng-click="toGDDR()"></a>
    <a href="/fulian"></a>
    <a href="/study#studydt"></a>
    <a href="http://www.12371.cn/special/xg19thjs/zszc/"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="/minqingE"></a>
    <a href="/basic#jiadaobanzi"></a>
    <a href="#"></a>
    <a href="/partybuild#jifen"></a>
    <a href="/basic"></a>
    <a href="http://dygbjy.12371.cn/"></a>
    <a href="/partybuild#xiangmu1"></a>
    <a href="#"></a>
    <a href="/tuanwei#tuanwei"></a>
    <a href="/xiaqu#xiaqu"></a>
    <a href="/gonghui"></a>
    <a href="/lingtouyan"></a>
    <div class="clear"></div>
  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">
          <a href="#">
            <i class="ic"></i>
            <span ng-click="wap()">手机版</span>
            <div class="top_ewm" ng-show="phone">
              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
              <b>关注我们</b>
            </div>
          </a>
          <a ui-sref="authentication.signin">
            <i class="ic1"></i>
            <span>登录</span>
          </a>
        </div>
        <div class="top_right rt" style="margin-right: 10px">
          <a ui-sref="authentication.signin">
            <i class="sb"></i>
            <span>民情地图</span>
          </a>
          <a ui-sref="authentication.signin">
            <i class="sb1"></i>
            <span>党建地图</span>
          </a>
        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->
    <!--<div class="animated bounceInRight" ng-style="rightStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    <div class="clear"></div>
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!--基础信息-->
    <div class="index1_basic index1_member">
      <div class="index1_basicl lt">
        <a href="javascript:void(0)">
          <i></i>
          <span>基础信息</span>
        </a>
        <ul class="index1_liebiao">
          <li><a href="/basic"><i></i><span>街道信息</span></a></li>
          <li><a href="/xiaqu"><i></i><span>辖区信息</span></a></li>
          <li><a href="/gonghui"><i></i><span>工会</span></a></li>
          <li><a href="/tuanwei"><i></i><span>团委</span></a></li>
          <li><a href="/fulian"><i></i><span>妇联信息</span></a></li>
        </ul>
      </div>
      <div class="index1_basicr lt">
        <div class="index1_titleimg" style="position: relative">
          <!--<a ng-href="{{vm.shijiuda}}" style="width: 100%;height: 100%">-->
            <img class="intervalImg" src="/modules/core/client/img/image/map1/kouhao5.png" style="width: 100%"
                 ng-click="vm.Next($event)"/>
          <!--</a>-->
          <div class="kouhao1 act"
               style="position: absolute;right: 110px;bottom: 5px;width: 15px;height: 15px;background-color: #fff;text-align: center;line-height: 15px;color: #000;cursor: pointer"
               ng-click="vm.showKouHao1()">1
          </div>
          <div class="kouhao2"
               style="position: absolute;right: 90px;bottom: 5px;width: 15px;height: 15px;background-color: #fff;text-align: center;line-height: 15px;color: #000;cursor: pointer"
               ng-click="vm.showKouHao2()">2
          </div>
          <div class="kouhao3"
               style="position: absolute;right: 70px;bottom: 5px;width: 15px;height: 15px;background-color: #fff;text-align: center;line-height: 15px;color: #000;cursor: pointer"
               ng-click="vm.showKouHao3()">3
          </div>
          <div class="kouhao4"
               style="position: absolute;right: 50px;bottom: 5px;width: 15px;height: 15px;background-color: #fff;text-align: center;line-height: 15px;color: #000;cursor: pointer"
               ng-click="vm.showKouHao4()">4
          </div>
          <div class="kouhao5"
               style="position: absolute;right: 30px;bottom: 5px;width: 15px;height: 15px;background-color: #fff;text-align: center;line-height: 15px;color: #000;cursor: pointer"
               ng-click="vm.showKouHao5()">5
          </div>
        </div>
        <div class="titletz">
          <div class="index1_title" style="float: left; width: 120px">
            <a href="/tongzhi">
              <i class="index1_icon0"></i>
              <span>通知公告</span>
            </a>
          </div>
          <ul>
            <li ng-repeat="tongzhi in vm.tongzhixq">
              <a href="/tongzhixq?id={{tongzhi.id}}">{{tongzhi.title}}</a>
            </li>
          </ul>
          <div class="times" style="float: right;line-height: 34px;margin-right: 20px"></div>
        </div>
        <div class="index1_basicrl lt">
          <div id="slider">
            <div style="height: 350px">
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{slide.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="index1_basicrz lt">
          <table class="table djdt-hover">
            <tbody class="index1_djdt">
            <tr ng-repeat="jiedao in vm.jiedao">
              <td><a href="/jiedaodongtai?id={{jiedao.id}}">
                <span>{{jiedao.content}}</span>
              </a></td>
              <td><a href="/jiedaodongtai?id={{jiedao.id}}">
                <span class="rt">{{jiedao.createdate|date:'yyyy-MM-dd'}}</span>
              </a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- 重点工作动态-->
    <div class="index1_basic index1_xiugai">
      <div class="index1_basicl lt">
        <a href="javascript:void(0)">
          <i></i>
          <span>重点工作动态</span>
        </a>
        <ul>
          <li><a href="/liangxue"><i></i><span>两学一做</span></a></li>
          <li ng-click="vm.toNext('固定党日')"><a href="javascript:void(0)"><i></i><span>固定党日</span></a></li>
          <li ng-click="vm.toNext('三会一课')"><a href="javascript:void(0)"><i></i><span>三会一课</span></a></li>
          <li><a href="/study"><i></i><span>他山之石</span></a></li>
        </ul>
      </div>
      <div class="index1_basicr lt">
        <div class="index1_titleimg">
          <a href="/partymap">
            <img src="/modules/core/client/img/image/index/djmap.png" class="lt"/>
          </a>
          <a href="/mingqingmap">
            <img src="/modules/core/client/img/image/index/mqmap.png" class="lt"/>
          </a>
        </div>
        <div class="index1_workl lt">
          <div class="index1_title">
            <a href="javascript:void(0)">
              <i class="index1_icon3"></i>
              <span>两学一做</span>
            </a>
          </div>
          <table class="table workr-hover">
            <tbody class="sanui">
            <tr>
                <td style="text-align:left;"><a href="/study1-0"><span>关于新形势下党内政治生活的若干准则</span></a></td>
                <td><a href="/study1-0"><span>2016-10-27</span></a></td>
            </tr>
            <tr>
              <td style="text-align:left;"><a href="/study1-1"><span>中国共产党党内监督条例</span></a></td>
              <td><a href="/study1-1"><span>2016-10-27</span></a></td>
            </tr>
            <tr>
              <td style="text-align:left;"><a href="/study1-3"><span>中国共产党党员权利保障条例</span></a></td>
              <td><a href="/study1-3"><span>2004-９-22</span></a></td>
            </tr>
            <tr>
              <td style="text-align:left;"><a href="/study1-5"><span>中国共产党发展党员工作细则</span></a></td>
              <td><a href="/study1-5"><span>2014-06-10</span></a></td>
            </tr>
            <!--<tr ng-repeat="studyDT in vm.studyDT">-->
            <!--<td><span ng-click="vm.tostudydt(studyDT.id)">{{studyDT.content}}</span></td>-->
            <!--<td><span ng-click="vm.tostudydt(studyDT.id)">{{studyDT.createdate| date: 'yyyy-MM-dd'}}</span></td>-->
            <!--</tr>-->
            </tbody>
          </table>
        </div>
        <div class="index1_workr lt">
          <div class="index1_title">
            <a href="javascript:void(0)">
              <i class="index1_icon4"></i>
              <span>三会一课</span>
            </a>
          </div>
          <table class="table workr-hover">
            <tbody class="sanui">
            <tr ng-repeat="keyWorkArr in vm.keyWorkArr">
              <td><span ng-click="vm.toDetails(keyWorkArr.keyworkid)">{{keyWorkArr.content}}</span></td>
              <td><span ng-click="vm.toDetails(keyWorkArr.keyworkid)">{{keyWorkArr.endtime| date: 'yyyy-MM-dd'}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- 区域化党建-->
    <div class="index1_basic index1_pbuild">
      <div class="index1_basicl lt">
        <a href="javascript:void(0)">
          <i></i>
          <span>区域化党建</span>
        </a>
        <ul>
          <li><a href="/djwgh"><i></i><span>项目管理</span></a></li>
          <li><a href="/partydt"><i></i><span>党建动态</span></a></li>
          <li><a href="/partybuild"><i></i><span>党建网格化</span></a></li>
          <li><a ui-sref="authentication.signin"><i></i><span>积分制</span></a></li>
          <li><a href="/jiaoliu"><i></i><span>互动交流</span></a></li>
        </ul>
      </div>
      <div class="index1_basicr lt">
        <!--<div class="index1_titleimg">-->
          <!--<a href="/minqingyizhan">-->
            <!--<img src="/modules/core/client/img/image/map1/mingqin.png" class="lt"/>-->
          <!--</a>-->
          <!--<a href="/lingtouyan">-->
            <!--<img src="/modules/core/client/img/image/map1/lingtouyan.png" class="lt"/>-->
          <!--</a>-->
        <!--</div>-->
        <div class="index1_titleimg">
          <a href="/minqingyizhan"><img src="/modules/core/client/img/image/index/mingqingyizhan.png"
                                        style="width: 100%"/></a>

        </div>
        <div class="index1_workl lt">
          <div class="partybuild_dongt" style="width: 100%">
            <div class="index1_title">
              <a href="javascript:void(0)">
                <i class="index1_icon6"></i>
                <span>项目管理</span>
              </a>
            </div>
            <table class="table table-hover">
              <tbody id='xiangmu'>
              <tr>
                <td>logo</td>
                <td>项目介绍</td>
                <td>活动结束时间</td>
              </tr>
              <tr ng-repeat="pdata in vm.project" ng-click="vm.tiaozhaun(pdata.projectid)">
                <td><a href="/partyxq"><img src="{{pdata.projectlogo}}" width="50px"height="37px"></a></td>
                <td><a href="/partyxq">{{pdata.projectsummary}}</a></td>
                <td><a href="/partyxq">{{pdata.finishtime | date:'yyyy-MM-dd'}}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="index1_workr lt">
          <div class="index1_title">
            <a href="javascript:void(0)">
              <i class="index1_icon7"></i>
              <span>积分制</span>
            </a>
          </div>
          <table class="table pbuild-hover" style="text-align: center">
            <tbody class="jifenz">
            <tr>
              <td>排名</td>
              <td>社区名称</td>
              <td>积分</td>
            </tr>
            <tr>
              <td>1</td>
              <td>八一社区</td>
              <td>120</td>
            </tr>
            <tr>
              <td>2</td>
              <td>翠华北路社区</td>
              <td>120</td>
            </tr>
            <tr>
              <td>3</td>
              <td>翠华南路社区</td>
              <td>120</td>
            </tr>
            <tr>
              <td>4</td>
              <td>海珀紫庭社区</td>
              <td>120</td>
            </tr>
            <tr>
              <td>5</td>
              <td>大雁塔社区</td>
              <td>120</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!--地图-->
    <div class="partymap_border" style="padding:0px;">
      <div class="partymap_work">
        <div class="partymap_lnav lt">
          <div class="index1_basicl">
            <a href="javascript:void(0)">
              <i></i>
              <span>学习园地</span>
            </a>
            <ul>
              <li><a href="http://www.12371.cn/special/xg19thjs/zszc/"><i></i><span>在线测试</span></a></li>
              <li><a href="http://dygbjy.12371.cn/"><i></i><span>远程教育</span></a></li>
              <li><a href="/partyDQ"><i></i><span>党务知识</span></a></li>
              <li><a href="/xianfenmofan"><i></i><span>先锋模范</span></a></li>
            </ul>
          </div>
        </div>
        <div class="partymap_map lt" style="height:380px;width: 460px;">
          <div class="index1_title">
            <a href="http://www.xaswdx.com/list.action?c=19">
              <i class="index1_icon5"></i>
              <span>微视频</span>
            </a>
          </div>
          <video src="/modules/core/client/video/01.mp4" controls="controls" poster="/modules/core/client/img/zaixianzhifu/video.png" >
            您的浏览器不支持video标签！
          </video>
          <ul>
            <li ng-click="vm.vide(1)" class="active">第一集</li>
            <li ng-click="vm.vide(2)">第二集</li>
            <li ng-click="vm.vide(3)">第三集</li>
            <li ng-click="vm.vide(4)">第四集</li>
            <li ng-click="vm.vide(5)">第五集</li>
          </ul>
          <!--<div id="allmap" class="lt">-->
          <!--<div id="map" style="height: 100%;"-->
          <!--ui-baidu-map="myMap"-->
          <!--map-event="{'map-click': 'onMapClick($event, $params)', 'map-loaded': 'onMapLoaded($event, $params)'}"-->
          <!--map-options="mapOpts">-->
          <!--</div>-->
          <!--</div>-->
        </div>
        <div class="basic_nav" style="width: 480px">
          <div class="index1_title">
            <a href="/lingtouyan">
              <i class="index1_icon20"></i>
              <!--<span>领头雁</span>-->
            </a>
          </div>
          <div class="index1_xianfen">
            <ul>
              <li class="lt" ng-repeat="xianfe in vm.xianfe"><img src="{{xianfe.photos}}">
                <p style="text-indent: 0em;text-align: center">{{xianfe.name}}</p></li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!--logo-->
    <div class="index1_logo" style="margin-bottom:10px;">
      <a href="#"></a>
      <a href="#"></a>
      <a href="javascript:void(0)" ng-click="toSHYK()"></a>
      <a href="javascript:void(0)" ng-click="toLXYZ()"></a>
      <a href="/partybuild"></a>
      <a href="/partyDQ#dangzhishi"></a>
      <a href="/partyInter"></a>
      <a href="/partydt"></a>
      <a href="/basic"></a>
      <a href="#"></a>
      <a href="javascript:void(0)" ng-click="toGDDR()"></a>
      <a href="/fulian"></a>
      <a href="/study#studydt"></a>
      <a href="http://www.12371.cn/special/xg19thjs/zszc/"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="/minqingE"></a>
      <a href="/basic#jiadaobanzi"></a>
      <a href="#"></a>
      <a href="/partybuild#jifen"></a>
      <a href="/basic"></a>
      <a href="http://dygbjy.12371.cn/"></a>
      <a href="/partybuild#xiangmu"></a>
      <a href="#"></a>
      <a href="/tuanwei#tuanwei"></a>
      <a href="/xiaqu#xiaqu"></a>
      <a href="/gonghui"></a>
      <a href="/lingtouyan"></a>
    </div>
    <div class="index1_lianjie">
      <div class="partymap_work">
        <div class="partymap_lnav lt">
          <div class="index1_basicl">
            <a href="javascript:void(0)">
              <i></i>
              <span>友情链接</span>
            </a>
          </div>
        </div>
        <div class="index1_lunbo1 lt">
          <ul>
            <li>
              <a href="http://ddsx.ishaanxi.com/">
                <img src="/modules/core/client/img/image/dibulunbo/ddsx.png">
              </a>
              <a href="http://www.dangjian.com/">
                <img src="/modules/core/client/img/image/dibulunbo/djw.png">
              </a>
            </li>
            <li>
              <a href="http://www.12371.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/gcdyw.png">
              </a>
              <a href="http://www.qinfeng.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/qingfen.png">
              </a>
            </li>
            <li>
              <a href="http://www.sx-dj.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/sxdangjian.png">
              </a>
              <a href="http://www.snjgdj.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/sxdjgw.png">
              </a>
            </li>
            <li>
              <a href="http://www.shaanxi.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/sxrmzfw.png">
              </a>
              <a href="http://www.sxdyyj.com/">
                <img src="/modules/core/client/img/image/dibulunbo/sxsdygbychy.png">
              </a>
            </li>
            <li>
              <a href="http://www.xajggw.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/xajgdjw.png">
              </a>
              <a href="http://www.xa.gov.cn/ptl/index.html">
                <img src="/modules/core/client/img/image/dibulunbo/xasrmzfw.png">
              </a>
            </li>
            <li>
              <a href="http://www.xasw.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/xasww.png">
              </a>
              <a href="http://www.ytqdj.com/">
                <img src="/modules/core/client/img/image/dibulunbo/ytdjw.png">
              </a>
            </li>
            <li>
              <a href="http://www.yanta.gov.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/ytzfw.png">
              </a>
              <a href="http://www.zzdjw.org.cn/">
                <img src="/modules/core/client/img/image/dibulunbo/zzdj.png">
              </a>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="index1_foot">
    <div class="index1_mainbox">
      <div class="index1_line"></div>
      <div class="index1_line1"></div>
      <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
    </div>
  </div>
</div>
