<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="tubiao">
        <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- 互动交流-->
        <div class="partybuild_border" id="jiaoliu">
            <div class="partybuild_person">
                <div class="partybuild_person1">
                    <a href="/index1">
                        <i class="keyword_ico2"></i>
                        <span>互动交流</span>
                    </a>
                    <ul>
                        <li><a href="#pinglun"><i class="keyword_icon2"></i><span>发表评论</span></a></li>
                        <li><a href="#huifu"><i class="keyword_icon3"></i><span>问题回复</span></a></li>
                    </ul>
                </div>
                <div class="partybuild_pinglun lt">
                    <div class="partybuild_title">
                        <b class="partybuild_tactive">
                            <a href="/index1">
                                互动交流
                            </a>
                        </b>
                    </div>
                    <h1>区级部门（单位）网上征求意见建议</h1>
                    <p>为进一步落实陕西追赶超越的总目标、总要求，全面提升区级部门（单位）服务质量和服务效率，区委、区政府决定，开展对区级部门（单位）网上征求意见建议工作，重点收集和听取广大网民朋友对区级部门（单位）履行职能、办事效率、服务质量、干部作风、党风廉政方面的意见建议，请您客观公正的对各单位工作和服务做出评价，您的意见将作为各部门（单位）考核结果的重要依据。衷心感谢您的参与和配合！
                        区级部门（单位）网上征求意见建议工作，由区考核办负责，长期开放，每季度次月中旬统计相关数据，汇总并整理意见建议，分别向相关单位反馈，区委督查室、区政府督查室将就有关意见建议事项进行督查落实。</p>
                    <div class="partybuild_title">
                        <b class="partybuild_tactive" id="pinglun">
                            <a href="javascript:void(0)">
                                发表评论
                            </a>
                        </b>
                    </div>
                    <div>
                        <form>
                          <div class="row">
                            <div ng-repeat="com in vm.community " class="col-md-3">
                            <span class="check" ng-click="vm.check($event)" >
                                <input type="checkbox" name="jiaoliu" id="{{com.id}}"/>
                            </span>
                              <label for="{{com.id}}">{{com.name}}</label>
                            </div>
                          </div>
                            <textarea name="yijian"  cols="30" rows="10" ng-model="vm.text"></textarea>
                            <input type="button" value='发表评论' style="float: right;margin-right: 22px;margin-top: 10px; padding:10px;background-color: red;border-radius: 5px;color: #fff;" ng-click="vm.submit()"/>
                        </form>
                    </div>
                    <div class="partybuild_title"  id="huifu">
                        <b class="partybuild_tactive">
                            <a href="javascript:void(0)">
                                问题回复
                            </a>
                        </b>
                    </div>
                    <div class="partybuild_wenti">
                        <ul ng-repeat="hudong in vm.jiaoliu">
                            <li>
                                <span>问题：</span>
                                <span>{{hudong.problem}}</span>
                            </li>
                            <li>
                                <span>回复：</span>
                                <span>{{hudong.hf_text}}</span>
                            </li>
                            <li>
                                <span>回复时间：{{hudong.hf_time}}
                                  <br>
                                  <!--发布人：{{hudong.modifyUserid}}-->
                                </span>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
    <div class="index1_foot">
        <div class="index1_mainbox">
            <div class="index1_line"></div>
            <div class="index1_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
