<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  p{
    font-size: 16px;
  }
  .col-md-4 img{
    width: 300px;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;"ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
              <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->
        <div>
            <!--<img src="/modules/core/client/img/image/shouye/tt.png" >-->
        </div>
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="javascript:void(0)" class="dangwu">
                    <i class="keyword_ico2"></i>
                    <span>精准扶贫</span>
                </a>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：持续抓好扶贫攻坚，共建中兴美好家园
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 align="center">持续抓好扶贫攻坚，共建中兴美好家园</h1>
                        <br>
                         <div class="row">
                           <div class="col-md-4">
                             <img src="/modules/core/client/img/image/indexlunbo/fuping.jpg">
                           </div>
                           <div class="col-md-4">
                             <img src="/modules/core/client/img/image/indexlunbo/fuping1.jpg">
                           </div>
                           <div class="col-md-4">
                             <img src="/modules/core/client/img/image/indexlunbo/fuping2.jpg">
                           </div>
                           <!--<div class="col-md-4">-->
                             <!--<img src="/modules/core/client/img/image/indexlunbo/fuping3.jpg">-->
                           <!--</div>-->
                           <!--<div class="col-md-4">-->
                             <!--<img src="/modules/core/client/img/image/indexlunbo/fuping4.jpg">-->
                           <!--</div>-->
                           <!--<div class="col-md-4">-->
                             <!--<img src="/modules/core/client/img/image/indexlunbo/fuping5.jpg">-->
                           <!--</div>-->
                           <!--<div class="col-md-4">-->
                             <!--<img src="/modules/core/client/img/image/indexlunbo/fuping6.jpg">-->
                           <!--</div>-->
                           <!--<div class="col-md-4">-->
                           <!--<img src="/modules/core/client/img/image/indexlunbo/fuping7.jpg">-->
                         <!--</div>-->
                           <!--<div class="col-md-4">-->
                             <!--<img src="/modules/core/client/img/image/indexlunbo/fuping8.jpg">-->
                           <!--</div>-->
                         </div>
                        <div class="keyworkxq_js">
                          <p style="text-indent: 2em;">
                            9月6日，大雁塔街道领导班子及部分政协委员来到帮扶村——周至县马召镇中兴村，了解村情、掌握帮扶进度、开展了入户走访，随后大雁塔街道领导干部到中兴村抽水井施工现场了解帮扶援建的抽水井进度情况。</p>
                          <p style="text-indent: 2em;">
                            街道党工委书记赵亚弟、街道党工委副书记范靖、街道纪工委书记闫小宁、街道武装部部长王勇、街道办事处副主任张愿省同大雁塔街道委员组部分政协委员在听取了驻村第一书记杨继荣对近期帮扶工作进展的汇报后，分别对五户贫困户进行了走访，和贫困户促膝谈心，了解他们所思所想，破解生活难题，政协委员们还纷纷伸出援助之手，资助贫困户解决生活困难。</p>
                          <div class="row">
                            <div class="col-md-4">
                              <img src="/modules/core/client/img/image/indexlunbo/fuping3.jpg">
                            </div>
                            <div class="col-md-4">
                              <img src="/modules/core/client/img/image/indexlunbo/fuping4.jpg">
                            </div>
                            <div class="col-md-4">
                              <img src="/modules/core/client/img/image/indexlunbo/fuping5.jpg">
                            </div>
                          </div>
                          <p style="text-indent: 2em;">
                            最后大雁塔街道领导干部到雁塔区帮扶周至县马召镇中兴村建设的抗旱井施工现场，现场了解施工情况，对该村第一眼抗旱井将解决中兴村7个村民小组及附近的移民新村村民的用水问题表示期待，督促村两委会和驻村工作队加快进度，保质保量完成任务。目前，井管、变压器、下抽水泵、建井房等配套设施正在安装中，预计9月10日前投入使用。</p>
                          <p style="text-indent: 2em;">
                            9月14日下午，区人大常委会主任刘崇利、副主任王璞、街道党工委书记赵亚弟、区开发协调办主任种远源、区人大教科委主任成翀、区人大法制委员会主任赵晓民、街道办事处副主任赵亚峰、张愿省、马召镇党委书记、镇长田团团到中兴村开展帮扶工作。在村委会听取了村干部和驻村工作队就落实抗旱井、改造提升生产出行道路等精准扶贫项目进展情况后，对帮扶工作提出了具体要求。一是高标准高质量实施好在建扶贫项目，尽早让村民受益；二是抓好“五个美丽”建设。要强党建促脱贫，谋划集体经济发展，组织村干部、党员、村民代表到周边做的好的村学习经验，创新公司+农户模式，千方百计增加集体经济收入。对美丽乡村建设要总体规划，分步实施，不断提升村民的居住环境；三是我们要持续用情、用心帮扶贫困户，帮助其早日脱贫。随后，实地查看指导十二斗生产出行道路改造提升工程。</p>
                          <div class="row">
                            <div class="col-md-4">
                              <img src="/modules/core/client/img/image/indexlunbo/fuping6.jpg">
                            </div>
                            <div class="col-md-4">
                              <img src="/modules/core/client/img/image/indexlunbo/fuping7.jpg">
                            </div>
                            <div class="col-md-4">
                              <img src="/modules/core/client/img/image/indexlunbo/fuping8.jpg">
                            </div>
                          </div>
                          <p style="text-indent: 2em;">
                            雁塔区帮扶周至县马召镇中兴村十二斗生产路全长440米、宽4米，共计1760平方米。总投资23万元，预计9月20日前完工。建成后，中兴村村民200亩果园生产出行得到根本解决。同时，方便邻村200余亩耕地的生产出行。</p>
                        </div>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
</body>
</html>
