<div class="modal-header">
  <h1>红雁义工队欢迎你</h1>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">姓名:</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="name" placeholder="请输入姓名！" ng-model="vm.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">性别:</label>
      <div class="radio col-sm-1">
      <label>
        <input type="radio" name="sex" value="男" ng-model="vm.sex"> 男
      </label>
      </div>
      <div class="radio col-sm-1">
        <label>
          <input type="radio" name="sex" value="女" ng-model="vm.sex"> 女
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">家庭住址:</label>
      <div class="col-md-10">
        <input type="text" class="form-control"  placeholder="请输入地址！" ng-model="vm.address">
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">联系电话:</label>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="请输入联系方式！" ng-model="vm.phone">
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">加入原因:</label>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="请输入加入原因！" ng-model="vm.reason">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.ok()">提交</button>
  <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
</div>
