
<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
    background-image: url("/modules/core/client/img/image/liangxueyizuo/top.png");
  }
  .container{
    background-color: #fff;
    padding:20px;
    font-size: 14px;
  }
  .liangxue_title{
    padding:10px 0;
  }
  .liangxue_title span{
    font-size: 30px;
    color: red;
  }
  .liangxue_title span:nth-of-type(1){
    font-size: 15px;
    border-right: 2px solid red;
    margin-right:10px;
  }
  .liangxue_cont img{
    height: 50px;
    width: 100%;
  }
  .liangxue_cont ul li{
    width: 100%;
    padding:10px 10px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #index1_nav{
    background-image: url("/modules/core/client/img/image/liangxueyizuo/top.png");
  }
  .index1_title1 {
    width: 100%;
    height: 364px;
  }
  li:hover{
    cursor: pointer;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">

</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="tubiao">
        <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<img src="/modules/core/client/img/image/liangxueyizuo/top.png" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-md-4">
            <div>
              <div class="liangxue_title">
                <span></span>
                <span>学党章党规</span>
              </div>
              <div class="liangxue_cont">
                <img src="/modules/core/client/img/image/liangxueyizuo/01.png">
                <ul>
                  <li><a href="/study1-0">关于新形式下党内政治生活的若干准则</a></li>
                  <li><a href="/study1-1">中国共产党党内监督条例</a></li>
                  <li><a href="/study1-2">《县以上党和国家机关党员干部民主生活会若干规定》</a></li>
                  <li><a href="/study1-3">中国共产党党员权利保障条例</a></li>
                  <li><a href="/study1-4">中共中央印发《中国共产党工作机关条例（试行）》</a></li>
                  <li><a href="/study1-5">中国共产党发展党员工作细则</a></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>学系列讲话</span>
            </div>
            <div class="liangxue_cont">
              <img src="/modules/core/client/img/image/liangxueyizuo/02.png">
              <ul>
                <li><a href="/study2-0">习近平：高举中国特色社会主义伟大旗帜 为决胜全面小康社会实现中国梦而奋斗</a></li>
                <li><a href="/study2-1">习近平对推进“两学一做”学习教育常态化制度化作出重要指示</a></li>
                <li><a href="/study2-2">在党的十八届六中全会第二次全体会议上的讲话（节选）</a></li>
                <li><a href="/study2-3">中共中央政治局召开民主生活会 对照贯彻落实党的十八届六中全会精神 研究加强党内政治生活和党内监督措施 中共中央总书记习近平主持会议并发表重要讲话</a></li>
                <li><a href="/study2-4">习近平主持新兴市场国家与发展中国家对话会并发表重要讲话</a></li>
                <li><a href="/study2-5">在金砖国家领导人厦门会晤记者会上的讲话</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>做合格党员</span>
            </div>
            <div class="liangxue_cont">
              <img src="/modules/core/client/img/image/liangxueyizuo/03.png">
              <ul>
                <li><a href="/study3-0">以工匠精神写好党报主流观点——记黑龙江日报全媒体新闻评论中心主任徐明辉</a></li>
                <li><a href="/study3-1">湖南溆浦县北斗溪镇党委书记梁金华：“我的金色年华在乡镇”</a></li>
                <li><a href="/study3-2">服务全天候 架起连心桥——记青海省西宁市城北区新海桥社区党委书记田小红</a></li>
                <li><a href="/study3-3">一个党员就是一面旗帜</a></li>
                <li><a href="/study3-4">大秦铁路电路维修工王养国：44公里 来回走了27年</a></li>
                <li><a href="/study3-5">红色义工”的追求——记湖北省秭归县在宜农民工服务中心主任王华君</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img class="intervalImg" src="/modules/core/client/img/image/liangxueyizuo/04.png" style="width: 100%"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>上级部署</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li ng-repeat="shangji in vm.shangji track by $index"ng-click="vm.jcdt(shangji.keyworkid,shangji.typeId)"><span >{{shangji.title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>安排落实</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li ng-repeat="shangji in vm.shangji1 track by $index"ng-click="vm.jcdt(shangji.keyworkid,shangji.typeId)"><span >{{shangji.title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>基层动态</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li ng-repeat="shangji in vm.shangji2 track by $index"ng-click="vm.jcdt(shangji.keyworkid,shangji.typeId)"><span >{{shangji.title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img class="intervalImg" src="/modules/core/client/img/image/liangxueyizuo/05.png" style="width: 100%"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>书记讲党课</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li ng-repeat="shangji in vm.shangji3 track by $index"ng-click="vm.jcdt(shangji.keyworkid,shangji.typeId)"><span >{{shangji.title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>榜样的力量</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <!--<li>-->
                  <!--<a href="/lingtouyan">-->
                  <!--<img src="/modules/core/client/img/image/map1/lingtouyan.png" class="lt"/>-->
                  <!--</a>-->
                <!--</li>-->
                <li ng-repeat="shangji in vm.shangji4 track by $index"ng-click="vm.jcdt(shangji.keyworkid,shangji.typeId)"><span >{{shangji.title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>长安新语</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li ng-repeat="shangji in vm.shangji5 track by $index"ng-click="vm.jcdt(shangji.keyworkid,shangji.typeId)"><span >{{shangji.title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="index1_foot">
        <div class="index1_mainbox">
            <div class="index1_line"></div>
            <div class="index1_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
