<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyworkxq_lnav>a {
    background-color: #22709D;
  }
  .keyworkxq_lnav>a:hover {
    background-color: #22709D;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;"ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
              <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/index1">
                    <i class="keyword_ico"></i>
                    <span>党务知识</span>
                </a>
              <div class="basic_zhishi">
                <ul>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDQ">
                      <span>党旗</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyDH">
                      <span>党徽</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDZ">
                      <span>党章</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyInter">
                      <span>入党流程</span>
                    </a>
                  </li>
                  <li class="clear">
                    <a href="/partyZS-1">
                      <span>党员基本知识</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-2">
                      <span>党员组织关系</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-3">
                      <span>党的组织生活</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-4">
                      <span>党费的收缴标准</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-5">
                      <span>党员的权利和义务</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC">
                      <span>高层声音之共享创新发展</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-1">
                      <span>高层声音之体育强国</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-2">
                      <span>高层声音之青年红色筑梦之旅</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-3">
                      <span>高层声音之模范先锋</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-5">
                      <span>高层声音之在陕西</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-6">
                      <span>高层声音之加强联系专家</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：基础信息>党务知识>高层声音
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 style="text-align: center;">李克强在陕西考察：加快改革创新 补上民生短板</h1>
                        <br>
                        <div class="keyworkxq_js">
                        	<div style="font-size:18px;font-family:SimSun;">
                              <p align="center"><strong>李克强在陕西考察时强调</strong></p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">
                              <p align="center"><strong>加快改革创新　补上民生短板</strong></p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                              <p align="center"><strong>在推动西部开发开放中促进经济发展升级</strong></p>
                            </div>
                            <br>
                            <div style="font-size:18px;font-family:SimSun;">
                              <img src="/modules/core/client/img/image/images/1.png">
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:2em;">
                                 新华社西安7月11日电 7月10日至11日，中共中央政治局常委、国务院总理李克强在陕西省委书记娄勤俭、省长胡和平陪同下，在杨凌、宝鸡考察。
                              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              李克强来到陕西自贸试验区杨凌片区，对自贸区"微信办执照""建设项目一窗受理"等利企便民改革举措予以肯定。在税务窗口，工作人员介绍实施营改增后企业税负减轻，特别是带动税基扩大和产业链拉长，李克强勉励他们更有效地为企业服务。他说，深化简政放权、放管结合、优化服务改革，关键要体现在群众的评价上。要进一步解放思想，依靠改革开放打造制度性交易成本低、内外资愿意来、优秀人才留得住的营商环境，辐射带动西部地区加快发展。
                              </p>
                            </div>
                                <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             杨凌众创田园集聚了一批农业创业创新企业。李克强饶有兴致观看了他们的创意成果。几位创客介绍了研发的土壤修复和改良技术，李克强希望他们把这项技术与国家正在实施的土壤深松结合起来，让更多中低产田变良田。在杨凌农业云公司，看到这里打造"三农"大数据云平台，深度服务农民发展种养业，李克强赞许说，农业发展不仅靠天，现在也可以多靠"云"。农业与"互联网+"等现代科技相结合，会有力改变弱势产业的地位。
                                  </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             李克强来到杨凌职业农民创业创新园，这里通过创新机制、推动土地流转、与专家团队形成利益共同体，不仅拓展了农民增收渠道，而且实现了农产品技术提升、流通顺畅，李克强称赞这种方式实现了各方共赢。盛夏的大棚内温度达40多度，李克强接连走进几个大棚，查看作物长势和新技术应用，从贵州到这里就业的大学生告诉总理，学成技术后将返乡联合创业，开办新型农业企业，李克强予以鼓励。他说，大众创业、万众创新在农村空间广阔，政府要提供好的环境，形成制度红利，促进农民增收致富。
                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            李克强牵挂贫困地区群众生活。他来到宝鸡秦岭深处的大湾河村，沿着崎岖的山路一连走进几户群众家中，查看家中存粮，询问收入来源、孩子上学、医保低保等情况，并与群众围坐交谈，乡亲们都盼着早日搬出山沟，这样生活、打工、上学、就医等都会更加方便，李克强和他们仔细算起搬迁账，并询问在搬迁中还有哪些困难。李克强叮嘱当地干部说，要按照习近平总书记在深度贫困地区脱贫攻坚座谈会上的讲话精神和党中央、国务院部署，统筹谋划、周密做好脱贫攻坚工作。这里因地制宜发展旅游业和特色农业大有可为，易地扶贫搬迁既要妥善解决村民安置和就业，也要创新思路做好乡村原址开发，这样不仅有利于保护好山区生态，又能使搬迁群众得到更多实惠。
                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             秦川机床集团是一家生产高端精密机床和复杂工具的企业。李克强走进车间，得知企业98%的产品按客户要求定制，内部建立了大批"双创"平台，有七、八百员工成为创客，依靠众智有效满足了市场需求，竞争力不断提升。李克强说，现在市场与过去大不一样，个性化需求越来越成为主流，国有企业特别是大企业要推进供给侧结构性改革，在竞争中把握主动，"双创"是大平台。要以更完善的激励机制激发内部创造活力，汇聚各方创新智慧，更好适应市场变化新趋势，深入实施"中国制造2025"，努力攻克关键核心技术，推动中国经济在转型升级中迈向中高端。
                                  </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                            李克强还来到宝鸡宏文路棚户区，要求加快棚改进度，尽快满足居民出棚进楼的期盼。李克强说，做好基本民生的兜底保障，是各级党委和政府的职责所系。经过几年推进棚户区改造，全国已有8000万群众搬入新居，但现在仍然还有几千万人住在棚户区，要适应新型城镇化进程，把改善他们的基本居住条件作为民生工作重点，总结各地好的经验，把这项直接增加群众福祉的补短板工作做得更加细致扎实。
                                  </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                           李克强充分肯定陕西经济社会发展取得的成绩，希望陕西在以习近平同志为核心的党中央领导下，抢抓发展机遇，锐意改革创新，在西部开发开放中起到引领和支撑作用。
                                  </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
<script>
    $('.top_right a').eq(0).mouseover(function(){
        $('.top_ewm').css('display','block');
    });
    $('.top_right a').eq(0).mouseout(function(){
        $('.top_ewm').css('display','none');
    });
    $(function() {
        var left = ($(window).width() - 1200) / 2;
        $('.tubiao>div').css('left', (left - 40) + 'px');
        $('.asa').css('left', left + 'px');
        $('.index1_imgt div:nth-of-type(2)').css({
            'margin-right':(left-50)+'px'
        });
        $('.index1_imgt div:nth-of-type(1)').css({
            'margin-left':(left-50)+'px'
        });
        $('.logo').click(function (event) {
            event.preventDefault();
            $('#index1_nav').css({
                'background': '#ddd',
                'opacity': 0.5
            });
            $('.asa').css('display', 'block');
        });
        $('.asa').on('click', function () {
            $('.asa').css('display', 'none');
            $('#index1_nav').css({
                'background': '',
                'opacity': ''
            });
        });
    })
</script>
</body>
</html>
