<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyworkxq_lnav>a {
    background-color: #22709D;
  }
  .keyworkxq_lnav>a:hover {
    background-color: #22709D;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;"ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/index1">
                    <i class="keyword_ico"></i>
                    <span>党务知识</span>
                </a>
              <div class="basic_zhishi">
                <ul>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDQ">
                      <span>党旗</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyDH">
                      <span>党徽</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDZ">
                      <span>党章</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyInter">
                      <span>入党流程</span>
                    </a>
                  </li>
                  <li class="clear">
                    <a href="/partyZS-1">
                      <span>党员基本知识</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-2">
                      <span>党员组织关系</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-3">
                      <span>党的组织生活</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-4">
                      <span>党费的收缴标准</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-5">
                      <span>党员的权利和义务</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC">
                      <span>高层声音之共享创新发展</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-1">
                      <span>高层声音之体育强国</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-2">
                      <span>高层声音之青年红色筑梦之旅</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-3">
                      <span>高层声音之模范先锋</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-5">
                      <span>高层声音之在陕西</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-6">
                      <span>高层声音之加强联系专家</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：基础信息>党务知识>高层声音
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 style="text-align: center;">习近平回信勉励第三届中国"互联网＋"大学生创新创业大赛"青年红色筑梦之旅"的大学生</h1>
                        <br>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">
                                <p align="center">
                                 <strong>习近平回信勉励第三届中国"互联网＋"大学生创新创业大赛"青年红色筑梦之旅"的大学生</strong>
                              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p align="center">
                                  <strong>扎根中国大地了解国情民情</strong>
                              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p align="center">
                                 <strong>用青春书写无愧于时代无愧于历史的华彩篇章</strong>
                              </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                              	中共中央总书记、国家主席、中央军委主席习近平15日给第三届中国"互联网＋"大学生创新创业大赛"青年红色筑梦之旅"的大学生回信。他在信中表示，得知全国150万大学生参加本届大赛，其中上百支大学生创新创业团队参加了走进延安、服务革命老区的"青年红色筑梦之旅"活动，帮助老区人民脱贫致富奔小康，既取得了积极成效，又受到了思想洗礼，我感到十分高兴。
                              </p>
                            </div>
                                <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             习近平指出，延安是革命圣地，你们奔赴延安，追寻革命前辈伟大而艰辛的历史足迹，学习延安精神，坚定理想信念，锤炼意志品质，把激昂的青春梦融入伟大的中国梦，体现了当代中国青年奋发有为的精神风貌。
                                  </p>
                            </div>
                           <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             习近平强调，实现全面建成小康社会奋斗目标，实现社会主义现代化，实现中华民族伟大复兴，需要一批又一批德才兼备的有为人才为之奋斗。艰难困苦，玉汝于成。今天，我们比历史上任何时期都更接近实现中华民族伟大复兴的光辉目标。祖国的青年一代有理想、有追求、有担当，实现中华民族伟大复兴就有源源不断的青春力量。希望你们扎根中国大地了解国情民情，在创新创业中增长智慧才干，在艰苦奋斗中锤炼意志品质，在亿万人民为实现中国梦而进行的伟大奋斗中实现人生价值，用青春书写无愧于时代、无愧于历史的华彩篇章。
                                  </p>
                            </div>
                              <div style="font-size:18px;font-family:SimSun;">

                               <p style="text-indent:2em;">
                             今年4月和7月，教育部依托中国"互联网＋"大学生创新创业大赛平台，组织开展了"青年红色筑梦之旅"实践活动，两批参赛团队分赴延安，通过大学生创新创业项目对接革命老区经济社会发展需求，助力精准扶贫脱贫。实践活动结束后，全体队员给习近平总书记写信汇报了他们的收获和体会，表示要像习近平青年时代那样，立下为祖国、为人民奉献自己的信念和志向，把自己创新创业梦融入伟大中国梦，以青春和理想谱写信仰和奋斗之歌。
                                  </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
