<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .keyworkxq_lnav>a {
    background-color: #22709D;
  }
  .keyworkxq_lnav>a:hover {
    background-color: #22709D;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/index1">
                    <i class="keyword_ico"></i>
                    <span>党务知识</span>
                </a>
              <div class="basic_zhishi">
                <ul>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDQ">
                      <span>党旗</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyDH">
                      <span>党徽</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDZ">
                      <span>党章</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyInter">
                      <span>入党流程</span>
                    </a>
                  </li>
                  <li class="clear">
                    <a href="/partyZS-1">
                      <span>党员基本知识</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-2">
                      <span>党员组织关系</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-3">
                      <span>党的组织生活</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-4">
                      <span>党费的收缴标准</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-5">
                      <span>党员的权利和义务</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC">
                      <span>高层声音之共享创新发展</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-1">
                      <span>高层声音之体育强国</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-2">
                      <span>高层声音之青年红色筑梦之旅</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-3">
                      <span>高层声音之模范先锋</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-5">
                      <span>高层声音之在陕西</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-6">
                      <span>高层声音之加强联系专家</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：基础信息>党务知识>党员基本知识
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 align="center">共产党员应如何当入党介绍人，入党介绍人有什么任务？</h1>
                        <br>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">党章规定发展党员要有两名正式党员做入党介绍人。那么，党员如何当好入党介绍人呢？实践经验表明，党员要当好入党介绍人，首先必须做到"五明确"，即明确介绍积极分子入党是党员应尽的义务；明确介绍人的责任在于深入了解和弄清入党申请人对党的认识和入党动机，了解入党申请人的政治历史、思想品质、现实表现、家庭成员和联系密切的主要社会关系；明确介绍人必须满腔热情地对入党申请人进行党章和党的基本知识的教育，帮助他们提高对党的认识，端正入党动机；明确介绍人应定期向党组织汇报入党申请人的培养、教育和考察情况；明确发展新党员应当履行的手续。其次，要掌握对发展对象进行考察、培养教育的基本方法，填写《入党志愿书》的基本要求，以及在介绍对象成为预备党员后如何对其继续进行教育的内容和基本方法。第三，要明确责任，发挥对发展对象的教育作用，对新党员质量上把关作用及对发展对象和预备党员的表率作用。特别是要以对党组织和党的事业高度负责的精神，认真了解和弄清介绍对象对党的认识和入党动机，及时如实向党组织作出负责的介绍，以确保新发展党员的质量。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   入党介绍人的任务主要是：
                                </p>
                            </div>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">

                                <p>
                                  （1）向被介绍人解释党的纲领、章程，说明党员的条件、义务和权利。认真了解被介绍人的入党动机、政治觉悟、思想品质、工作表现、经历以及家庭成员和联系密切的主要社会关系等情况，并如实向党组织汇报。                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                             <p>
                              （2）指导被介绍人填写《中国共产党人党志愿书》，并认真填写自己的意见，向支部大会负责地介绍被介绍人的情况。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                             <p>
                              （3）被介绍人被批准为预备党员后，入党介绍人要继续对预备党员进行教育、帮助，帮助预备党员不仅在组织上入党，而且应该在思想上入党。
                                </p>
                            </div>
                         <div style="font-size:18px;font-family:SimSun;">
                             <p align="center">
                              （资料来源：《党员行为规范问答》（新版）中共中央党校出版社）
                                </p>
                            </div>
                        </div>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
</body>
</html>
