<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .keyworkxq_lnav>a {
    background-color: #22709D;
  }
  .keyworkxq_lnav>a:hover {
    background-color: #22709D;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/index1">
                    <i class="keyword_ico"></i>
                    <span>党务知识</span>
                </a>
              <div class="basic_zhishi">
                <ul>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDQ">
                      <span>党旗</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyDH">
                      <span>党徽</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao lt">
                    <a href="/partyDZ">
                      <span>党章</span>
                    </a>
                  </li>
                  <li class="basic_dangbiao rt">
                    <a href="/partyInter">
                      <span>入党流程</span>
                    </a>
                  </li>
                  <li class="clear">
                    <a href="/partyZS-1">
                      <span>党员基本知识</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-2">
                      <span>党员组织关系</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyZS-3">
                      <span>党的组织生活</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-4">
                      <span>党费的收缴标准</span>
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/partyZS-5">
                      <span>党员的权利和义务</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC">
                      <span>高层声音之共享创新发展</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-1">
                      <span>高层声音之体育强国</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-2">
                      <span>高层声音之青年红色筑梦之旅</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-3">
                      <span>高层声音之模范先锋</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-5">
                      <span>高层声音之在陕西</span>
                    </a>
                  </li>
                  <li>
                    <a href="/partyGC-6">
                      <span>高层声音之加强联系专家</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：基础信息>党务知识>党徽
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 style="text-align: center;">中国共产党党徽</h1>
                        <br>
                       	<div align="center"><img src="/modules/core/client/img/image/images/1.jpg"></div>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;">
                                <p style="text-indent:30px">中国共产党党徽底色为红色，上有由黄色的锤子、镰刀交叉组成的图案。红色象征革命，黄色的锤子、镰刀代表工人和农民的劳动工具，象征着中国共产党是中国工人阶级的先锋队，代表着工人阶级和广大人民群众的根本利益。
                                </p>
                            </div>
                            <div style="font-size:18px;">
                                <p style="text-indent:30px">
                                    中国共产党党徽制法说明
                                </p>
                            </div>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;">

                                <p>
                                   1、将一正方形分为32等分，分格线条编号为横向1～33，竖向1′～33′。画出对角线AC、BD。                                </p>
                            </div>
                            <div style="font-size:18px;">
                             <p>
                               2、锤头的画法：连接E(29、33′)、F(33、29′)，并从E、F两点作AC的平行线，构成锤把。从G点(8、918′、19′的中点)作BD的平行线至H(19、207′、8′的中点)，从G、H两点分别作AC的平行线至I(4、14′)、J(17、5′)，从I点作BD的平行线，以K点(13、141′的中点)为圆心、KJ为半径画弧交于L点，构成锤头。
                                </p>
                            </div>
                            <div style="font-size:18px;">
                             <p>
                                3、镰刀的画法：以M点(17、17′)为圆心、MN(N点为17、1′)为半径画弧⌒NO(O点为17、33′)；以P点(17、15′)为圆心、PO为半径画弧，与HG的延长线交于Q点；以R点(1116′、17′中点)为圆心、RN为半径画弧，与通过R点的水平线交于S点；以T点(16、1716′、17′的中点)为圆心、TS为半径画弧，与通过T点的垂直线交于U点；以V点(16、1711′中点)为圆心、VU为半径画弧，与HG的延长线交于W，构成镰刀。以X点(3、430′、31′的中点)为圆心作圆与AB、BC线相切，从Y点(6、30′)、Z点(4、28′)分别作直线平行于BD，构成镰刀把。
                                </p>
                            </div>
                        </div>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
<!--<script>-->
    <!--$('.top_right a').eq(0).mouseover(function(){-->
        <!--$('.top_ewm').css('display','block');-->
    <!--});-->
    <!--$('.top_right a').eq(0).mouseout(function(){-->
        <!--$('.top_ewm').css('display','none');-->
    <!--});-->
    <!--$(function() {-->
        <!--var left = ($(window).width() - 1200) / 2;-->
        <!--$('.tubiao>div').css('left', (left - 40) + 'px');-->
        <!--$('.asa').css('left', left + 'px');-->
        <!--$('.index1_imgt div:nth-of-type(2)').css({-->
            <!--'margin-right':(left-50)+'px'-->
        <!--});-->
        <!--$('.index1_imgt div:nth-of-type(1)').css({-->
            <!--'margin-left':(left-50)+'px'-->
        <!--});-->
        <!--$('.logo').click(function (event) {-->
            <!--event.preventDefault();-->
            <!--$('#index1_nav').css({-->
                <!--'background': '#ddd',-->
                <!--'opacity': 0.5-->
            <!--});-->
            <!--$('.asa').css('display', 'block');-->
        <!--});-->
        <!--$('.asa').on('click', function () {-->
            <!--$('.asa').css('display', 'none');-->
            <!--$('#index1_nav').css({-->
                <!--'background': '',-->
                <!--'opacity': ''-->
            <!--});-->
        <!--});-->
    <!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
