<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .commwg{
    position: absolute;
    top:3.1%;
    right: 3.7%;
    color: #fff;
    width:22%;
    height: 0.9%;
    background-color: #BAC12A;
    /*background-color: red;*/
    border-radius: 10px;
    font-size: 20px;
    font-weight:600;
    line-height:220%;
    text-align: center
  }
  .commwg:hover{
    cursor: pointer;
  }
  .commwg:nth-of-type(2){
    top:4.26%;
  }
  .commwg:nth-of-type(3){
    top:5.43%;
  }
  .commwg:nth-of-type(4){
    top:6.63%;
  }
  .commwg:nth-of-type(5){
    top:8.06%;
  }
  .commwg:nth-of-type(6){
    top:9.92%;
  }
  .commwg:nth-of-type(7){
    top:11.07%;
  }
  .commwg:nth-of-type(8){
    top:12.25%;
  }
  .commwg:nth-of-type(9){
    top:13.4%;
  }
  .commwg:nth-of-type(10){
    top:14.59%;
  }
  .commwg:nth-of-type(11){
    top:15.77%;
  }
  .commwg:nth-of-type(12){
    top:16.95%;
  }
  .commwg:nth-of-type(13){
    top:18.15%;
  }
  .commwg:nth-of-type(14){
    top:19.31%;
  }
  .commwg:nth-of-type(15){
    top:21.4%;
  }
  .commwg:nth-of-type(16){
    top:22.55%;
  }
  .commwg:nth-of-type(17){
    top:23.73%;
  }
  .commwg:nth-of-type(18){
    top:24.93%;
  }
  .commwg:nth-of-type(19){
    top:26.09%;
  }
  .commwg:nth-of-type(20){
    top:27.28%;
  }
  .commwg:nth-of-type(21){
    top:29.77%;
  }
  .commwg:nth-of-type(22){
    top:30.96%;
  }
  .commwg:nth-of-type(23){
    top:32.13%;
  }
  .commwg:nth-of-type(24){
    top:75.42%;
  }
  .commwg:nth-of-type(25){
    top:76.99%;
  }
  .commwg:nth-of-type(26){
    top:78.18%;
  }
  .commwg:nth-of-type(27){
    top:79.35%;
  }
  .commwg:nth-of-type(28){
    top:80.92%;
  }
  .commwg:nth-of-type(29){
    top:82.08%;
  }
  .commwg:nth-of-type(30){
    top:83.26%;
  }
  .commwg:nth-of-type(31){
    top:84.46%;
  }
  .commwg:nth-of-type(32){
    top:85.89%;
  }
  .commwg:nth-of-type(33){
    top:87.03%;
  }
  .commwg:nth-of-type(34){
    top:88.22%;
  }
  .commwg:nth-of-type(35){
    top:89.41%;
  }
  .commwg:nth-of-type(36){
    top:90.58%;
  }
  .commwg:nth-of-type(37){
    top:91.77%;
  }
  /*.commwg:nth-of-type(15){*/
    /*top:14.59%;*/
  /*}*/
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
        <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
    <div class="tubiao">
        <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="partybuild_border">
            <div class="partybuild_person">
                <div class="partybuild_person1">
                    <a href="/index1">
                        <i class="keyword_ico"></i>
                        <span>党建网格化</span>
                    </a>
                    <ul class="partyBuild">
                      <li><a href="javascript:void (0)" ng-click="vm.showPic(2)"><span>划分社区网格</span></a></li>
                      <li><a href="javascript:void (0)" ng-click="vm.showPic(3)"><span>工作流程</span></a></li>
                      <li><a href="javascript:void (0)" ng-click="vm.showPic(4)"><span>社区网格化</span></a></li>
                    </ul>
                </div>
                <div class="partybuild_dongt" style="position: relative">
                    <!--<div class="partybuild_title">-->
                        <!--<b class="partybuild_tactive">-->
                            <!--<a ui-sref="authentication.signin">-->
                                <!--项目管理-->
                            <!--</a>-->
                        <!--</b>-->
                    <!--</div>-->
                  <img src="{{vm.img}}" alt="">
                  <div style="position: absolute;top:0px;right: 0px;width: 100%;height: 100%" ng-show="vm.wg">
                    <div ng-click="vm.wgshuju(wgshuju.community, wgshuju.grid)"class="commwg" ng-repeat="wgshuju in vm.arr">{{wgshuju.grid}}</div>
                  </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="index1_foot">
        <div class="index1_mainbox">
            <div class="index1_line"></div>
            <div class="index1_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
