<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyworkxq_lnav>a {
    background-color: #22709D;
  }
  .keyworkxq_lnav>a:hover {
    background-color: #22709D;
  }
  .contxt ul li {
    float: left;
    width: 900px;
    margin: 10px 0;
    padding: 0;
    font: 18px '微软雅黑';
    line-height: 43px;
  }
  .contxt ul li b {
    float: left;
  }
  .contxt ul li p {
    margin-left: 40px;
    float: left;
    font-size: 16px;
    line-height: 40px;
  }
  .contxt p {
    float: left;
    margin: 3px 0;
    text-align: left;
    text-indent: 24px;
  }
  .contxt .money {
    width: 130px;
    padding: 0 5px;
    margin: 0 4px;
    border: 1px solid #ddd;
  }
  .contxt ul li span {
    float: left;
    width: 60px;
    height: 43px;
    line-height: 43px;
    background: url(/modules/core/client/img/zaixianzhifu/tbbg.gif) no-repeat;
    text-align: center;
    font: 24px Arial;
    padding: 0 13px 0 0;
    color: #530006;
    margin: 0 10px 0 0;
  }
  .paybtn {
    float: left;
    height: 37px;
    background: url(/modules/core/client/img/zaixianzhifu/tbbtn.gif) repeat-x;
    padding: 0 35px 5px 35px;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    border: 0;
    margin: 0;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;"ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
              <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/index1">
                    <i class="keyword_ico"></i>
                    <span>党员缴费</span>
                </a>
              <div class="basic_zhishi">
              </div>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：基础信息>党员缴费
                        </a>
                    </b>
                </div>
              <div class="basic_border">
                <div class="basic_fazhan">
                  <div class="rudang">
                    <img ng-src="{{vm.src}}">
                    <div class="contxt">
                      <ul>
                        <li><span>1</span><b>缴纳党费金额</b></li>
                        <li><p>需交党费金额：<input name="ww" type="text" class="money">元/月</p></li>
                        <li><span>2</span><b>选择支付方式</b></li>
                        <li>
                          <input name="qqq" type="radio" value="1"><img src="/modules/core/client/img/zaixianzhifu/zhifu1.gif" style="width: 240px">
                          <input name="qqq" type="radio" value="2"><img src="/modules/core/client/img/zaixianzhifu/zhifu2.gif" style="width: 240px">
                          <input name="qqq" type="radio" value="3"><a href="http://life.ccb.com/cn/paymentv3/bill_item/201401191026289714.html"><img src="/modules/core/client/img/zaixianzhifu/zhifu3.gif" style="width: 240px"></a>
                        </li>
                        <li><input name="" type="button" class="paybtn" value="确认付款"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
