<div>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    /*背景图*/
    html,body,section:not(.page-footer),section>div.ng-scope{
      width: 100%;
      height:100%;
    }
    body {
      background: url('/modules/core/client/img/ht/大雁塔街道党建bg.png') no-repeat;
      background-size: 100% 100%;
    }
    .page-content {
      padding: 0;
      background-color: transparent;
    }

    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    ul {
      list-style-type: none;
      height: 100%;
      overflow: hidden;
    }
    .footer {
      position: absolute;
      width: 65%;
      height: 60%;
      top: 40%;
      left: 21%;
    }

    .footer > ul li {
      position: relative;
      width: 17%;
      height: 40%;
      top:20%;
      border-radius: 5px;
      float: left;
      margin-top: 0;
    }

    .footer > ul li div {
      width: 100%;
      height: 100%;
    }

    .footer > ul li div:hover {
      transform: rotateY(360deg);
      transition: all 0.5s;
    }
    @keyframes flash1 {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }

    body > .page-container {
      margin-top: 0;
    }

    .logo {
      width: 449px;
      height: 416px;
      position: absolute;
      right: 100px;
      bottom: 0px;
    }

    .logo {
      bottom: 200px;
    }

    .logo div {
      position: absolute;
      cursor: pointer;
    }

    .logo div a {
      display: block;
      width: 100%;
      height: 100%;
    }
    .show {
      display: none !important;
    }
    button{
      color: #fff;
      background-color: transparent;
    }
  </style>
  <button ng-click="vm.goBack()">返回</button>
  <div class="footer">
    <ul>

        <li>
          <a href="#" ng-click="itemClick('jgadmin', 4)">
          <div style="background: url('/modules/core/client/img/ht/机关党建.png') round"></div>
          </a>
        </li>


        <li style="left: 3%">
          <a href="#" ng-click="itemClick('fgadmin', 5)">
          <div style="background: url('/modules/core/client/img/ht/非公党建.png') round"></div>
          </a>
        </li>


        <li style="left: 6%">
          <a href="#" ng-click="itemClick('shzzadmin', 3)">
          <div style="background: url('/modules/core/client/img/ht/社会组织.png') round"></div>
          </a>
        </li>


        <li style="left: 9%">
          <a href="#" ng-click="itemClick('ncadmin', 2)">
          <div style="background: url('/modules/core/client/img/ht/农村党建.png') round"></div>
          </a>
        </li>


        <li style="left: 12%">
          <a href="#" ng-click="itemClick('sqadmin', 1)">
          <div style="background: url('/modules/core/client/img/ht/社区党建.png') round"></div>
          </a>
        </li>

    </ul>
  </div>
</div>
