<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .keyworkxq_js p{
    font-size:16px;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;"ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
              <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->
        <div>
            <!--<img src="/modules/core/client/img/image/shouye/tt.png" >-->
        </div>
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="javascript:void(0)" class="dangwu">
                    <i class="keyword_ico2"></i>
                    <span>追赶超越</span>
                </a>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：追赶超越
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr" style="text-align: center">
                        <h1 align="center">大雁塔街道迅速传达全区“追赶超越“二季度汇报点评会精神</h1>
                        <br>
                         <img src="/modules/core/client/img/image/indexlunbo/image001.jpg" width="400px">
                         <img src="/modules/core/client/img/image/indexlunbo/image001.jpg" width="400px">
                        <div class="keyworkxq_js" style="text-align: left">
                          <p>
                            　　8月18日上午大雁塔街道召开科以上领导会议，迅速传达全区"追赶超越"二季度汇报点评会精神。会议由街道党工委书记赵亚弟主持。
                            会上，街道办事处副主任赵亚峰对全区各街道五张报表完成情况进行了通报，街道党工委副书记范靖对全区上半年各街道目标考评排名结果进行了通报。随后，街道办事处主任李鹏对街道上半年"五张报表"工作任务完成情况进行了通报和点评，指出目前工作存在的问题和差距，并对下一步工作进行了安排部署。
                          </p>
                          <p>
                          最后，街道党工委书记赵亚弟重点传达了市政协副主席、区委书记杨广亭、区长赵小林在全区"追赶超越"二季度汇报点评会上的重要讲话精神。
                            <br>对街道下一步工作提出五点要求：
                          </p>
                          <p>
                            一、是切实运用五张报表考核体系，推动街道追赶超越。各领导和科所长要熟练掌握和运用"五张报表"考核的内容和标准，认真对照检查街道各项工作开展情况，进一步明确下一步工作重点和努力方向。
                          </p>
                         <p>
                           二、是做好五张报表的分解责任落实。对"五张报表"牵头领导和牵头科室要及时转变思路，适应工作要求，对承担五张报表的工作任务的科室要围绕工作的短板和差距研究制定三季度迎头赶上的整改措施。
                         </p>
                          <p>
                            三、是完善街道考核机制，以报表为抓手加强督办。确定每月最后一周星期五上午召开街道“五张报表”工作分析研判会，以存在的问题为导向，对落后的指标任务进行梳理，加强督办，推动各项工作的全面落实。
                          </p>
                           <p>
                         四、是要注重落实工作中协作配合，保证各项指标任务齐头并进。每张报表确定由牵头领导总抓，分管领导具体抓，相互间加强协作和沟通，树立一盘棋思想，避免相互扯皮，确保实现各项报表工作的整体提升。
                        </p>
                            <p>
                          五、是夯实基础工作，树立精品意识，突显“五张报表”工作亮点。各科室要层层传导工作要求和思路，抓好基础工作开展，带动干部统一思想，以高效的状态、创新的思路，助推街道全面工作的追赶超越，力争在三季度的考评中赢得优异成绩。
                        </p>　
                        </div>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
<script>
    $('.top_right a').eq(0).mouseover(function(){
        $('.top_ewm').css('display','block');
    });
    $('.top_right a').eq(0).mouseout(function(){
        $('.top_ewm').css('display','none');
    });
    $(function() {
        var left = ($(window).width() - 1200) / 2;
        $('.tubiao>div').css('left', (left - 40) + 'px');
        $('.asa').css('left', left + 'px');
        $('.index1_imgt div:nth-of-type(2)').css({
            'margin-right':(left-50)+'px'
        });
        $('.index1_imgt div:nth-of-type(1)').css({
            'margin-left':(left-50)+'px'
        });
        $('.logo').click(function (event) {
            event.preventDefault();
            $('#index1_nav').css({
                'background': '#ddd',
                'opacity': 0.5
            });
            $('.asa').css('display', 'block');
        });
        $('.asa').on('click', function () {
            $('.asa').css('display', 'none');
            $('#index1_nav').css({
                'background': '',
                'opacity': ''
            });
        });
    })
</script>
</body>
</html>
