<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }

  .keyworkxq_lnav > ul > li a {
    display: block;
    width: 100%;
    text-align: left;
  }

  .keyworkxq_lnav > ul > li {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }

  .keyworkxq_lnav > ul > li a {
    text-align: center;
  }

  .keyworkxq_lnav > ul > li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .keyworkxq_rnav {
    margin-left: 0;
    width: 100%;
  }

  .keyworkxq_border {
    padding: 20px 100px;
  }

  p {
    line-height: 40px;
    font-size: 20px;
    text-indent: 0em;
  }
  .word>p:nth-child(1) strong{
    font-size: 36px;
  }
  .word>p:nth-child(1){
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">
          <a href="#">
            <i class="ic"></i>
            <span ng-click="wap()">手机版</span>
            <div class="top_ewm" ng-show="phone" >
              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
              <b>关注我们</b>
            </div>
          </a>
          <a ui-sref="authentication.signin">
            <i class="ic1"></i>
            <span>登录</span>
          </a>
        </div>
        <div class="top_right rt" style="margin-right: 10px">
          <a ui-sref="authentication.signin">
            <i class="sb"></i>
            <span>民情地图</span>
          </a>
          <a ui-sref="authentication.signin">
            <i class="sb1"></i>
            <span>党建地图</span>
          </a>
        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->
    <!--<div class="animated bounceInRight" ng-style="rightStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!--固定党日-->
    <div class="keyworkxq_border">
      <div class="keyworkxq_work">
        <div class="keyworkxq_rnav lt">
          <div class="keyworkxq_main">
            <div class="keyworkxq_mainr">

              <div id="font_area" class="font_area_mid"><!--正文页内容-->
                <!--repaste.body.begin--><div class="con"><div class="word">
                  <p><strong>湖南溆浦县北斗溪镇党委书记梁金华：“我的金色年华在乡镇”</strong></p>
                  <p style="text-align: center;"><a href="http://www.12371.cn/special/lxyzby/" target="_blank"><img src="http://p1.img.cctvpic.com/photoworkspace/contentimg/2017/07/17/2017071711002482746.jpg" alt="两学一做&middot;榜样" /></a></p>
                  <p class="photo_title" style="text-align: center;"><a href="http://www.12371.cn/special/lxyzby/" target="_blank">两学一做&middot;榜样</a></p>
                  <p align="center"><img src="http://p2.img.cctvpic.com/photoworkspace/contentimg/2017/07/17/2017071710590417141.jpg" alt="" /></p>
                  <p class="pictext" align="center">梁金华（右）在华容村贫困户中走访，商讨脱贫政策。何莲芝摄（资料照片）</p>
                  <p>　　&ldquo;2020年告别贫困&mdash;&mdash;党中央要求限时完成的目标&hellip;&hellip;&rdquo;近日，&ldquo;北斗之星&rdquo;微信公众号推送一系列内容，集中诠释习总书记精准扶贫系列重要讲话精神。&ldquo;北斗之星&rdquo;是由湖南省溆浦县北斗溪镇党委运营的公众号。公众号上线一年多来，已经成为全镇党员&ldquo;两学一做&rdquo;的重要平台。</p>
                  <p>　　&ldquo;内容丰富，高效及时。&rdquo;通过公众号来推送党建知识，是北斗溪镇党委书记梁金华的主意。</p>
                  <p>　　<strong>激活&ldquo;细胞&rdquo;，形成合力</strong></p>
                  <p>　　北斗溪镇地处雪峰山区，交通不便，党员干部散居于大山各处，党组织活动开展少，服务能力弱。</p>
                  <p>　　&ldquo;每个党员好比一个细胞，只有激活每个细胞，组织才有战斗力。&rdquo;梁金华来到北斗溪镇的第一件事，就是加强基层组织建设，&ldquo;党建是&lsquo;龙头&rsquo;，只有基础打得牢，发展才有后劲。&rdquo;</p>
                  <p>　　&ldquo;两学一做&rdquo;学习教育开展以来，梁金华带领镇党委班子学党章、学总书记系列重要讲话精神，带头为基层党员上党课，学习氛围逐渐浓厚，党员的凝聚力越来越强。</p>
                  <p>　　不仅要在书本上学，更要在实践中学。梁金华把给乡亲们办实事和党的组织生活紧密结合，通过开展一系列活动，让各村党支部之间比学赶超，党组织日益焕发活力。</p>
                  <p>　　&ldquo;先进人物要下文表彰并张榜公布，工作推动不力要给予惩罚。&rdquo;梁金华说。通过设岗定责，责任压实了，分工明确了，党员们的先锋模范作用也得到了发挥。6月，怀化遭遇洪灾，北斗溪镇的党员干部们全员出动，冲在抗洪一线，帮助转移物资、清理塌方和疏通水渠，带领村民战胜困难。</p>
                  <p>　　<strong>村民脱贫，党员先行</strong></p>
                  <p>　　北斗溪镇有贫困村8个，建档立卡贫困人口4905名，占了全镇人口的27%，脱贫攻坚任务艰巨。&ldquo;政策好不好，要看乡亲们是笑还是哭。&rdquo;梁金华说。刚来北斗溪镇时，梁金华下村走访，一走就是一整天，有时半夜才归屋。</p>
                  <p>　　&ldquo;上好的杨梅，还没运到县城，就变成杨梅汁了。&rdquo;华荣村杨梅种植大户段自华，反映交通不便之苦。</p>
                  <p>　　&ldquo;村民要脱贫，党员要先行。&rdquo;梁金华四处筹资，启动了九溪通往县城的公路拓宽硬化工程。她带领党员们亲自上阵，跑腿购料、担砖拌灰，经过3个多月的苦干，公路硬化终于完成，到县城的时间由3个多小时缩短到1个小时。</p>
                  <p>　　基础设施不断完善，但具体到产业发展的相关政策，村民们却一知半解。&ldquo;精准扶贫的政策信息，要原原本本地传递给贫困户。&rdquo;除了印发传单、公示宣传外，梁金华还深入贫困户家中，进行详细讲解，为村民量身打造脱贫方案。</p>
                  <p>　　村民们将信将疑，梁金华号召党员们带头做给村民看。宝山村党员刘崇水，利用得天独厚的生态优势，率先带领62户贫困户创办了云雾毛尖茶合作社，种植高山茶叶近千亩，年利润600多万元。通过示范带动，北斗溪镇现已有特色养殖大户32家，特色产业基地23家。</p>
                  <p>　　随着沪昆高铁溆浦站落户北斗溪镇，梁金华引导贫困农户以入股分红的方式打造七星瑶寨、百亩花海等旅游景点和设施，吸引了大批前来观光的游客。依托产业发展，目前北斗溪镇已有2439名贫困人口稳定脱贫。</p>
                  <p>　　在微信里，梁金华给自己起的名字叫&ldquo;金色年华&rdquo;。&ldquo;我的金色年华都在乡镇。&rdquo;今年35岁的梁金华，在乡镇已工作15个年头，&ldquo;看着贫困人口数字逐渐减少、村民们收入不断提高，特别有成就感。&rdquo;梁金华说。</p></div></div><!--repaste.body.end-->
              </div>











            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="keyworkxq_foot">
  <div class="keyworkxq_mainbox">
    <div class="keyworkxq_line"></div>
    <div class="keyworkxq_line1"></div>
    <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
  </div>
</div>
</div>
<!--<script>-->
<!--$('.top_right a').eq(0).mouseover(function(){-->
<!--$('.top_ewm').css('display','block');-->
<!--});-->
<!--$('.top_right a').eq(0).mouseout(function(){-->
<!--$('.top_ewm').css('display','none');-->
<!--});-->
<!--$(function() {-->
<!--var left = ($(window).width() - 1200) / 2;-->
<!--$('.tubiao>div').css('left', (left - 40) + 'px');-->
<!--$('.asa').css('left', left + 'px');-->
<!--$('.index1_imgt div:nth-of-type(2)').css({-->
<!--'margin-right':(left-50)+'px'-->
<!--});-->
<!--$('.index1_imgt div:nth-of-type(1)').css({-->
<!--'margin-left':(left-50)+'px'-->
<!--});-->
<!--$('.logo').click(function (event) {-->
<!--event.preventDefault();-->
<!--$('#index1_nav').css({-->
<!--'background': '#ddd',-->
<!--'opacity': 0.5-->
<!--});-->
<!--$('.asa').css('display', 'block');-->
<!--});-->
<!--$('.asa').on('click', function () {-->
<!--$('.asa').css('display', 'none');-->
<!--$('#index1_nav').css({-->
<!--'background': '',-->
<!--'opacity': ''-->
<!--});-->
<!--});-->
<!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
