<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }
  .baokan>div>div{
    padding: 10px 10px 0 10px;
    float: left;
    border: 1px solid #ccc;
    width: 200px;
    height: 310px;
    text-align: center;
    margin-right: 100px;
  }
  .baokan>div>div:nth-last-child(1){
    margin-right: 0px;
  }
  .baokan>div>div:hover{
    background-color: #E86C28;
    cursor: pointer;
  }
  .index1_basic .index1_basicl:nth-of-type(1)>a{
    background-color: #E86C28;
  }
  .index1_basicrz tbody tr:hover td {
    background-color: #E86C28;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;"ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" class="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!--基础信息-->
    <div class="index1_basic index1_member">
      <div class="index1_basicl lt">
        <a href="/index1" name="studydt">
          <i></i>
          <span>他山之石</span>
        </a>
        <!--<ul class="index1_liebiao">-->
          <!--<li><a ui-sref="/xiaquxq"><i></i><span>街道班子成员</span></a></li>-->
          <!--<li><a href="/xiaqu"><i></i><span>辖区信息</span></a></li>-->
          <!--<li><a ui-sref="authentication.signin"><i></i><span>工会</span></a></li>-->
          <!--<li><a href="/tuanwei"><i></i><span>团委</span></a></li>-->
          <!--<li><a href="/fulian"><i></i><span>妇联信息</span></a></li>-->
        <!--</ul>-->
      </div>
      <div class="index1_basicr lt">
        <div class="index1_titleimg">
          <a href="/weijiamoshi">
            <img src="/modules/core/client/img/image/index/tuceng29.png" style="width: 100%"/>
          </a>
        </div>
        <div class="index1_basicrl lt">
          <div class="index1_title">
            <a href="javascript:void(0)">
              <i class="index1_icon0"></i>
              <span>最新动态</span>
            </a>
          </div>
          <div id="slider">
            <div style="height: 350px">
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{slide.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="index1_basicrz lt">
          <div class="index1_xinxi">
            <table class="table workr-hover">
              <tbody class="sanui">
              <tr ng-repeat="studyDT in vm.studyDT">
                <td><span ng-click="vm.tostudydt(studyDT.id)">{{studyDT.content}}</span></td>
                <td><span ng-click="vm.tostudydt(studyDT.id)">{{studyDT.createdate| date: 'yyyy-MM-dd'}}</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="index1_basicr lt" style="width:100%;margin-top: 10px;">
      <div class="partybuild_dongt" style="width: 100%;margin-bottom: 20px;">
        <div class="partybuild_title" style="margin-bottom: 10px;margin-left: 20px;">
          <b class="partybuild_tactive">
            <a ui-sref="authentication.signin">
              新闻资讯
            </a>
          </b>
        </div>
        <div class="baokan" style="padding: 0 15px;">
          <div style="overflow: hidden;" class="row">
            <div class="item" style="height: 250px">
              <a href="http://world.chinadaily.com.cn/">
              <img width="100%" height="200" src="/modules/core/client/img/image/study/zhongguo.jpg">
              <span style="line-height: 40px;">中国日报</span>
              </a>
            </div>
            <div class="item" style="height: 250px">
              <a href="http://paper.people.com.cn/rmrb/html/2017-07/10/nbs.D110000renmrb_01.htm">
              <img width="100%" height="200" src="/modules/core/client/img/image/study/renmin.png">
              <span style="line-height: 40px;">人民日报</span>
              </a>
            </div>
            <div class="item" style="height: 250px">
              <a href="http://esb.sxdaily.com.cn/">
              <img width="100%" height="200" src="/modules/core/client/img/image/study/shanxi.png">
              <span style="line-height: 40px;">陕西日报</span>
              </a>
            </div>
            <div class="item"style="height: 250px" >
              <a href="http://xian.qq.com/">
              <img width="100%" height="200" src="/modules/core/client/img/image/study/daqin.jpg">
              <span style="line-height: 40px;">大秦网</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="index1_foot">
    <div class="index1_mainbox">
      <div class="index1_line"></div>
      <div class="index1_line1"></div>
      <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
    </div>
  </div>
</div>
