<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }

  .keyworkxq_lnav > ul > li a {
    display: block;
    width: 100%;
    text-align: left;
  }

  .keyworkxq_lnav > ul > li {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }

  .keyworkxq_lnav > ul > li a {
    text-align: center;
  }

  .keyworkxq_lnav > ul > li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .keyworkxq_rnav {
    margin-left: 0;
    width: 100%;
  }

  .keyworkxq_border {
    padding: 20px 100px;
  }

  p {
    line-height: 40px;
    font-size: 20px;
    text-indent: 0em;
  }
  .word>p:nth-child(1) strong{
    font-size: 36px;
  }
  .word>p:nth-child(1){
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">
          <a href="#">
            <i class="ic"></i>
            <span ng-click="wap()">手机版</span>
            <div class="top_ewm" ng-show="phone" >
              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
              <b>关注我们</b>
            </div>
          </a>
          <a ui-sref="authentication.signin">
            <i class="ic1"></i>
            <span>登录</span>
          </a>
        </div>
        <div class="top_right rt" style="margin-right: 10px">
          <a ui-sref="authentication.signin">
            <i class="sb"></i>
            <span>民情地图</span>
          </a>
          <a ui-sref="authentication.signin">
            <i class="sb1"></i>
            <span>党建地图</span>
          </a>
        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->
    <!--<div class="animated bounceInRight" ng-style="rightStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!--固定党日-->
    <div class="keyworkxq_border">
      <div class="keyworkxq_work">
        <div class="keyworkxq_rnav lt">
          <div class="keyworkxq_main">
            <div class="keyworkxq_mainr">

              <div id="font_area" class="font_area_mid"><!--正文页内容-->
                <!--repaste.body.begin--><div class="con"><div class="word">
                  <p><strong>以工匠精神写好党报主流观点——记黑龙江日报全媒体新闻评论中心主任徐明辉</strong></p>
                  <p style="text-align: center;"><a href="http://www.12371.cn/special/lxyzby/" target="_blank"><img src="http://p1.img.cctvpic.com/photoworkspace/contentimg/2017/07/17/2017071711002482746.jpg" alt="两学一做&middot;榜样" /></a></p>
                  <p class="photo_title" style="text-align: center;"><a href="http://www.12371.cn/special/lxyzby/" target="_blank">两学一做&middot;榜样</a></p>
                  <p>　　&ldquo;把自己的名字写在每一篇新闻上，要经得住读者和时间的检验！&rdquo;这是黑龙江日报全媒体新闻评论中心主任徐明辉谈到新闻评论时说的一句话。</p>
                  <p style="text-align: center;"><img src="http://p5.img.cctvpic.com/photoworkspace/contentimg/2017/07/19/2017071918170933968.jpg" alt="徐明辉" /></p>
                  <p>　　她是一名普通的新闻工作者，1998年研究生毕业，到黑龙江日报工作，自2006年写评论以来，她十几年一直坚守在岗位上，用工匠精神一字一句地打磨每一篇新闻评论。</p>
                  <p>　　一身蓝色连衣裙，一头齐耳短发，在办公室见到徐明辉时，她显得很是干练。在她的办公室里，放着一张简易的小床。徐明辉坦言，由于长期的工作和劳累，平时就在办公室休息。有时候累得需要躺着才能看材料，看一会儿有灵感就起来写一会儿，再躺一会儿起来再接着写。</p>
                  <p>　　&ldquo;党报评论要言之有物、以理服人、以情动人。&rdquo;徐明辉一直以强烈的政治意识和创新的表达方式，完成了黑龙江日报一系列重大评论和重点报道。</p>
                  <p>　　&ldquo;发展的道路虽然漫长，但紧要处常常只有几步。当前，正是龙江发展爬坡过坎、滚石上山的&lsquo;紧要处&rsquo;。&rdquo;在《用总书记重要讲话精神统一思想引领发展》的评论中，她这样阐释黑龙江振兴发展的紧迫性。</p>
                  <p>　　&ldquo;龙江发展的时和势有请3800万人民，在歌声悠扬的回声里，在对未来美好生活的憧憬中，汇聚沛然莫之能御的动力，我们再出征！&rdquo;在《2016，龙江春来早》的评论结语中，她诗一样的表达让人耳目一新。</p>
                  <p>　　她的说理、表达方式，有热度、有温度、有力度、有情怀，引发了读者强烈的群体共鸣。近两年，她带领的评论中心重磅推出了大型编辑部文章《爬坡过坎破茧而出》《2016，龙江春来早》《西通欧洲东出海》《龙江阔步迈入高铁时代》，这些评论无一不是主题重大、立论鲜明、文风新颖、气势磅礴的扛鼎之作。</p>
                  <p>　　&ldquo;写亮&lsquo;楷体文&rsquo;，就是创新表达、讲求效果，让党报的评论有思想有温度有品质。&rdquo;徐明辉说，&ldquo;政治立场最终要用传播效果来检验。&rdquo;</p>
                  <p>　　&ldquo;评论是一个要吃苦并且要不断学习的岗位。&rdquo;徐明辉是这句话的践行者。她的办公桌上摆满了各类书籍，窗台上放着两摞厚厚的报纸。&ldquo;当你给别人一杯水时，你自己先要有一桶水。&rdquo;徐明辉这样谈评论的学习。</p>
                  <p>　　黑龙江日报新闻评论中心是一支少而精、能打硬仗的优秀团队。这个团队只有5个人，除了撰写评论之外，他们还要保证一版（理论版）一号（政北方公众号）一库（龙报智库）一频道（正在建设的论苑频道）的编辑出版和运行维护。14000字的《2016，龙江春来早》从接受任务到拿出定稿，徐明辉的团队只有48小时的时间；13000字的《西通欧洲东出海》只用了72小时。</p>
                  <p>　　评论员是没有名和利的岗位，重大编辑部文章、社论、本报评论员文章，他们只是&ldquo;执笔人&rdquo;，他们只有一个共同的名字叫&ldquo;本报评论员&rdquo;。虽然报纸上不留下姓名，可在黑龙江新闻圈里，徐明辉是个名人。&ldquo;敬业&rdquo;&ldquo;专业&rdquo;&ldquo;女汉子&rdquo;，她被同行们贴上了这样的&ldquo;标签&rdquo;。</p>
                  <p>　　与同行们提到新闻评论，她的脸上立刻就浮现出了笑容：&ldquo;把自己的兴趣和事业结合起来，是一件特别幸福的事情。&rdquo;</p>
                  <p>　　新闻评论有何种魅力让你如此热爱？她毫不犹豫地回答：&ldquo;这是你的职责，党的新闻工作需要你。这是你的战壕，你必须坚守在这里。&rdquo;</p></div></div><!--repaste.body.end-->
              </div>










            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="keyworkxq_foot">
  <div class="keyworkxq_mainbox">
    <div class="keyworkxq_line"></div>
    <div class="keyworkxq_line1"></div>
    <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
  </div>
</div>
</div>
<!--<script>-->
<!--$('.top_right a').eq(0).mouseover(function(){-->
<!--$('.top_ewm').css('display','block');-->
<!--});-->
<!--$('.top_right a').eq(0).mouseout(function(){-->
<!--$('.top_ewm').css('display','none');-->
<!--});-->
<!--$(function() {-->
<!--var left = ($(window).width() - 1200) / 2;-->
<!--$('.tubiao>div').css('left', (left - 40) + 'px');-->
<!--$('.asa').css('left', left + 'px');-->
<!--$('.index1_imgt div:nth-of-type(2)').css({-->
<!--'margin-right':(left-50)+'px'-->
<!--});-->
<!--$('.index1_imgt div:nth-of-type(1)').css({-->
<!--'margin-left':(left-50)+'px'-->
<!--});-->
<!--$('.logo').click(function (event) {-->
<!--event.preventDefault();-->
<!--$('#index1_nav').css({-->
<!--'background': '#ddd',-->
<!--'opacity': 0.5-->
<!--});-->
<!--$('.asa').css('display', 'block');-->
<!--});-->
<!--$('.asa').on('click', function () {-->
<!--$('.asa').css('display', 'none');-->
<!--$('#index1_nav').css({-->
<!--'background': '',-->
<!--'opacity': ''-->
<!--});-->
<!--});-->
<!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
