<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }

  .keyworkxq_lnav > ul > li a {
    display: block;
    width: 100%;
    text-align: left;
  }

  .keyworkxq_lnav > ul > li {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }

  .keyworkxq_lnav > ul > li a {
    text-align: center;
  }

  .keyworkxq_lnav > ul > li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .keyworkxq_rnav {
    margin-left: 0;
    width: 100%;
  }

  .keyworkxq_border {
    padding: 20px 100px;
  }

  p {
    line-height: 40px;
    font-size: 20px;
    text-indent: 0em;
  }
  .word>p:nth-child(1) strong{
    font-size: 36px;
  }
  .word>p:nth-child(1){
    text-align: center;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">
          <a href="#">
            <i class="ic"></i>
            <span ng-click="wap()">手机版</span>
            <div class="top_ewm" ng-show="phone" >
              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
              <b>关注我们</b>
            </div>
          </a>
          <a ui-sref="authentication.signin">
            <i class="ic1"></i>
            <span>登录</span>
          </a>
        </div>
        <div class="top_right rt" style="margin-right: 10px">
          <a ui-sref="authentication.signin">
            <i class="sb"></i>
            <span>民情地图</span>
          </a>
          <a ui-sref="authentication.signin">
            <i class="sb1"></i>
            <span>党建地图</span>
          </a>
        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->
    <!--<div class="animated bounceInRight" ng-style="rightStyle">-->
    <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container" style="background-color: #fff;">
    <!--固定党日-->
    <div class="keyworkxq_border">
      <div class="keyworkxq_work">
        <div class="keyworkxq_rnav lt">
          <div class="keyworkxq_main">
            <div class="keyworkxq_mainr">

              <div id="zw" class="zw word">
                <p><strong>一个党员就是一面旗帜</strong></p>
                <p><strong>　　不忘初心的党员社工</strong></p>

                <p><strong>　　人物名片：鹿城区党群服务中心负责人 吕丽瓦</strong></p>

                <p>　　她是年轻的80后，从大学生村官到党建社工，凭着一颗初心，踏实筑梦。</p>

                <p>　　1988年8月出生的吕丽瓦，利用自己的专业知识和技术特长，为加强基层党建注入年轻活力。</p>

                <p>　　2012年8月，她率先为村居开通新浪官方微博，与群众积极互动。2014年11月，她运营鹿城区党群服务中心微信公众平台，打造便捷的信息交互平台。</p>

                <p>　　她与几位青年党员成立了公益服务小组，为西屿社区、清风社区、桥儿头社区等数十个社区开通微信公众平台，提升社区服务的智能化和编辑性。</p>

                <p>　　2015年以来，她共策划开展党员志愿服务项目共计17大项39小项，内容涉及救济和帮扶老年人群体、关爱和引导青少年等，共有3万余人次的党员志愿者参与，受益人群多达25万余人次，链接各类公益物资总计100余万元。</p>

                <p>　　作为一名青年党员，她结合自身的兴趣爱好，实地探寻温州老城区中最古老最生动的故事，历时两个月完成鹿城老城区文化地图的绘制，涵盖了古城区26个文化景点。</p>

                <p><strong>　　平安守护者 群众暖心人</strong></p>

                <p><strong>　　人物名片：温州市公安局洞头区分局交通警察大队民警 郭其长</strong></p>

                <p>　　行驶在洞头区街道上的人们，肯定看到过一个年过五旬、认真敬业、热心助人的交警，他用自己的一言一行影响和感染着行人，传递着时代的“正能量”。</p>

                <p>　　1999年从部队转业到地方的时候，在坐机关办公室还是一线公安干警的选择上，他毫不犹豫地选择了公安干警。年轻时候他为祖国守护平安，现在他要为交通守护平安，为群众站岗巡逻。</p>

                <p>　　坚持在基层一线执勤，不论刮风下雨还是烈日当头，不论车流稀疏还是交通拥堵，他尽职尽责站好自己的那班岗。2015年他在路面查处各类违法行为800余起，采取强制措施57起，名列交警队第一。</p>

                <p>　　五一小长假、国庆黄金周等节假日期间，他在路上一站就是十几个小时，不停地疏导交通和处理事故。同事们佩服之余，给老郭起了个外号——“站神”。</p>

                <p><strong>　　一颗细心 三个细致</strong></p>

                <p><strong>　　人物名片：乐清市运输集团乐成客运站副站长余定善</strong></p>

                <p>　　细看、细思、细做，及时发现旅客心中的烦恼，认真揣摩旅客的心理，服务于旅客开口之前——这是余定善口中的“一颗细心、三个细致”。</p>

                <p>　　服务于旅客开口之前，这是余定善的“信念”。在他的建议下，客运站成立了一个帮扶中心，为旅客提供多项无偿便民服务。除了微波炉加热食品、提供站场内大件行李手推车使用，爱心伞借用等免费服务外，还有为外来务工旅客联系工作，为有需要的旅客提供心理健康、法律知识咨询等服务。</p>

                <p>　　2015年5月1日，为了切实解决群众出行困难，交通局以余定善的名义，成立了“5180”善之队，谐音“我要帮您”。这是一支以“80”后为主的青年服务队，领导让余定善带队，就是希望年轻人以他为标杆，培育出一支训练有素的志愿者队伍。</p>

                <p>　　作为一名服务一线的站务员，最经常遇到的事情就是捡到旅客丢失物品，在余定善进单位的头几年，平均2个星期就能捡到一次别人遗失的物品，同事们都笑称：“你啊，真不愧是飞机检修师，这双眼睛，比贼还亮”。</p>

                <p><strong>　　“最美妇女主任”的美丽人生</strong></p>

                <p><strong>　　人物名片：瑞安湖岭镇亦垟村妇女主任、党支部委员 廖雪燕</strong></p>

                <p>　　“全省最美妇女主任”，瑞安仅1人当选。不了解廖雪燕的人纳闷：是什么让一个高中学历的外地女子，得到这么多人认可，成为全省“最美”？</p>

                <p>　　湖岭镇是瑞安最西的乡镇，亦垟村是湖岭镇最偏僻的乡村之一。嫁到这里来的廖雪燕，努力学习瑞安话，克服语言关，以一口流利的瑞安话，一丝不苟的工作态度做好妇女工作。</p>

                <p>　　她从2000年进入村“两委”班子，2003年3月加入中国共产党。她关注妇女身心健康，积极组织村里的妇女一年一次的体检和“两癌”筛查，关心妇女家庭生活，促进社会和谐。</p>

                <p>　　2012年，廖雪燕征得村两委同意，在村孝德讲堂开讲《弟子规》等传统文化。廖雪燕先给大家讲解了“孝”字的含义，再用简单通俗的例子给孩子们讲解孝文化在日常生活中的表现。村里多了朗朗书声后，孩子们变了，人们的笑声多了。亦垟村越变越美。</p>

                <p><strong>　　温暖举动照亮生命</strong></p>

                <p><strong>　　人物名片：文成县珊溪镇坦歧村党员 朱福财</strong></p>

                <p>　　“五年两万多毫升的血量，挽回了多少个濒临绝境的性命。无偿献血，不是一个简单的词汇，一点一滴，都闪耀着温暖的光辉。”</p>

                <p>　　2013年，朱福财当选“最美温州人”——感动温州十大人物。这是活动组委会给予他的颁奖词。</p>

                <p>　　2010年4月才入党的朱福财，是一名退伍军人。在哈尔滨当军人时，第一次用自己的400毫升全血救助他人。谁也没想到，这个举动，朱福财一直坚持了这么多年。2007年底，他退伍回到温州，受胡富有、郭明义等“献血达人”的影响，无偿献血的热情一发而不可收。2008年和2011年，几乎每个月，他都会到血站报到。</p>

                <p>　　十余本献血证见证了朱福财的献血之路：累计献血31次、献血量达24000毫升，总量相当于5个健康成年人的血液之和。因为积极参与无偿献血，朱福财先后获得温州市无偿献血奉献奖、浙江省无偿献血之江杯奖，连续两年获得卫生部颁发的全国无偿献血奉献奖金奖。</p>


                <!--enorth cms block start [ name="v5.pages" ]-->

                <!--enorth cms block end [ name="v5.pages" cost="4"]--></div>
            </div>

          </div>











            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="keyworkxq_foot">
  <div class="keyworkxq_mainbox">
    <div class="keyworkxq_line"></div>
    <div class="keyworkxq_line1"></div>
    <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
  </div>
</div>
</div>
<!--<script>-->
<!--$('.top_right a').eq(0).mouseover(function(){-->
<!--$('.top_ewm').css('display','block');-->
<!--});-->
<!--$('.top_right a').eq(0).mouseout(function(){-->
<!--$('.top_ewm').css('display','none');-->
<!--});-->
<!--$(function() {-->
<!--var left = ($(window).width() - 1200) / 2;-->
<!--$('.tubiao>div').css('left', (left - 40) + 'px');-->
<!--$('.asa').css('left', left + 'px');-->
<!--$('.index1_imgt div:nth-of-type(2)').css({-->
<!--'margin-right':(left-50)+'px'-->
<!--});-->
<!--$('.index1_imgt div:nth-of-type(1)').css({-->
<!--'margin-left':(left-50)+'px'-->
<!--});-->
<!--$('.logo').click(function (event) {-->
<!--event.preventDefault();-->
<!--$('#index1_nav').css({-->
<!--'background': '#ddd',-->
<!--'opacity': 0.5-->
<!--});-->
<!--$('.asa').css('display', 'block');-->
<!--});-->
<!--$('.asa').on('click', function () {-->
<!--$('.asa').css('display', 'none');-->
<!--$('#index1_nav').css({-->
<!--'background': '',-->
<!--'opacity': ''-->
<!--});-->
<!--});-->
<!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
