<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }

  .keyworkxq_title {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .keyworkxq_title a i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(/modules/core/client/img/image/tubiao/dw.png) no-repeat;
    vertical-align: bottom;
  }
  .basic_person1>ul>li a:hover i.keyword_icon{
    background: url("/modules/core/client/img/image/xiaqu/comm1.png") no-repeat!important;
  }
  .basic_person1>ul>li a:hover i.keyword_icon1{
    background: url("/modules/core/client/img/image/xiaqu/cun1.png") no-repeat!important;
  }
  h3{
    cursor: pointer;
  }
  h3:hover{
    color: red;
  }
  #streed .person ul li{
    height: 32px;
    line-height: 32px;
  }
  .thumbnails{
    height: 280px;
    border: 0;
  }
  .thumbnails img{
    height: 240px;
  }
  .person .col-md-3{
    margin-top: 10px;
  }
  .basic_person1>a{
    background-color: #E86C28;
  }
  .basic_person1>a:hover {
    background-color: #E86C28;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav" ng-style="{'min-height': index1_nav}">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!--标体-->
    <!--成员信息-->
    <div class="basic_border">
      <div class="basic_person">
        <div class="basic_person1">
          <a href="/study">
            <i class="keyword_ico" style="background: url(/modules/core/client/img/image/xiaqu/xiaqu.png) no-repeat"></i>
            <span>他山之石</span>
          </a>
          <!--<ul>-->
            <!--<li><a href="javascript:void(0)">-->
              <!--<i class="keyword_icon" style="background: url(/modules/core/client/img/image/xiaqu/comm2.png) no-repeat"></i>-->
              <!--<span>社区简介</span></a></li>-->
            <!--<li><a href="javascript:void(0)">-->
            <!--<i class="keyword_icon1" style="background: url(/modules/core/client/img/image/xiaqu/cun2.png) no-repeat"></i>-->
            <!--<span>班子成员</span></a></li>-->
          <!--</ul>-->
        </div>
        <div class="keyworkxq_rnav lt">
          <div class="keyworkxq_title">
            <b>
              <a href="/study">
                <i></i>
                当前位置：他山之石
              </a>
            </b>
          </div>
          <!--<div class="keyworkxq_main">-->
            <!--<div class="keyworkxq_mimg">-->
              <!--<img src="{{vm.studyDT.photos}}"/>-->
            <!--</div>-->
            <!--<div class="keyworkxq_mainr" style="width: 58%;">-->
              <!--<h1 style="padding-top: 0;">学习主题：{{vm.studyDT.title}}</h1>-->
              <!--<ul>-->
                <!--<li><span>发布单位：</span><span>部门{{vm.studyDT.jurisdiction}}</span></li>-->
                <!--<li><span> 联系人：</span><span>{{vm.studyDT.head}}</span></li>-->
                <!--<li><span>开始时间：</span><span>{{vm.studyDT.createdate | date:'yyyy-MM-dd'}}</span></li>-->
                <!--<li><span>学习时长：</span><span>{{vm.studyDT.time | date:'yyyy-MM-dd'}}</span></li>-->
                <!--<li><span>备注：</span><span>{{vm.studyDT.remarks}}</span></li>-->
              <!--</ul>-->
            <!--</div>-->

          <!--</div>-->
          <!--<div class="keyworkxq_title">-->
            <!--<b style="font-size: 20px;">-->
              <!--学习内容-->
            <!--</b>-->
          <!--</div>-->
          <div class="keyworkxq_huod" style="text-align: center">
            <h1 style="padding: 10px;font-weight: bold;font-size: 18px">{{vm.studyDT.title}}</h1>
            <img src="{{vm.studyDT.photos}}"/>
            <p style="text-indent:2em;text-align: left">{{vm.studyDT.content}}</p>
            <iframe ng-src="{{vm.studyDT.file_path}}" width="100%" class="myiframe" frameborder="0"></iframe>
          </div>
        </div>

        <!--<div class="basic_nav">-->
          <!--<div class="keyworkxq_title">-->
            <!--<b>-->
              <!--<a href="/study">-->
                <!--<i></i>-->
                <!--当前位置：学习动态&gt;学习动态标题-->
              <!--</a>-->
            <!--</b>-->
          <!--</div>-->
          <!--<div class="row" id='streed'>-->
            <!--<div class="col-md-12">-->
              <!--<h1>学习动态标题</h1>-->
              <!--<p>-->
                <!--学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容学习内容-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="index1_foot">
    <div class="index1_mainbox">
      <div class="index1_line"></div>
      <div class="index1_line1"></div>
      <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
    </div>
  </div>
</div>


