<div>
  <style>
    * {
      margin: 0;
      padding: 0;
      border: 0;
    }
    html,body,section:not(.page-footer), section>div.ng-scope{
      width: 100%;
      height:100%;
    }
    /*背景图*/
    body {
      background: url('/modules/core/client/img/ht/大雁塔街道党建bg.png') no-repeat;
      background-size: 100% 100%;
    }

    .page-content {
      padding: 0;
      background-color: transparent;
    }

    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    ul {
      list-style-type: none;
      height: 100%;
      overflow: hidden;
    }

    .footer {
      position: absolute;
      width: 65%;
      height: 60%;
      top: 40%;
      left: 21%;
    }

    .footer > ul li {
      position: relative;
      width: 17%;
      height: 40%;
      border-radius: 5px;
      float: left;
      margin-top: 0;
    }

    .footer > ul li div {
      width: 100%;
      height: 100%;
    }

    .footer > ul li  div:hover {
      transform: rotateY(360deg);
      transition: all 0.5s;
    }

    body > .page-container {
      margin-top: 0;
    }

    .show {
      display: none !important;
    }
    button{
      color: #fff;
      background-color: transparent;
    }
  </style>
  <button ng-click="vm.goBack()">返回</button>
  <a href="/api/auth/signout" target="_self"></a>
  <div class="footer">
    <ul>

        <li>
          <a href="#" ng-click="itemClick('jdadmin')">
          <div style="background: url('/modules/core/client/img/ht/街道管理.png') round"></div>
          </a>
        </li>


        <li style="left: 3%">
          <a href="#" ng-click="itemClick('ghadmin')">
          <div style="background: url('/modules/core/client/img/ht/工会管理.png') round"></div>
          </a>
        </li>


        <li style="left: 6%">
          <a href="#" ng-click="itemClick('twadmin')">
          <div style="background: url('/modules/core/client/img/ht/团委管理.png') round"></div>
          </a>
        </li>


        <li style="left: 9%">
          <a href="#" ng-click="itemClick('fulian')">
          <div style="background: url('/modules/core/client/img/ht/妇联管理.png') round"></div>
          </a>
        </li>


        <li style="left: 12%">
          <a href="#" ng-click="itemClick('fgadmin', 5)">
          <div style="background: url('/modules/core/client/img/ht/非公党建.png') round"></div>
          </a>
        </li>



        <li>
          <a href="#" ng-click="itemClick('jgadmin', 4)">
          <div style="background: url('/modules/core/client/img/ht/机关党建.png') round"></div>
          </a>
          </li>


        <li style="left: 3%">
          <a href="#" ng-click="itemClick('shzzadmin', 3)">
          <div style="background: url('/modules/core/client/img/ht/社会组织.png') round"></div>
          </a>
         </li>


        <li style="left: 6%">
          <a href="#" ng-click="itemClick('ncadmin', 2)">
          <div style="background: url('/modules/core/client/img/ht/农村党建.png') round"></div>
          </a>
          </li>


        <li style="left: 9%">
          <a href="#" ng-click="itemClick('sqadmin', 1)">
          <div style="background: url('/modules/core/client/img/ht/社区党建.png') round"></div>
          </a>
          </li>


        <li style="left: 12%">
          <a href="#" ng-click="itemClick('xtadmin')">
          <div style="background: url('/modules/core/client/img/ht/系统设置.png') round"></div>
          </a>
       </li>

    </ul>
  </div>

</div>
