<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a{
    text-align: center;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
              <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->
        <div>
            <!--<img src="/modules/core/client/img/image/shouye/tt.png" >-->
        </div>
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/fulian" class="woman">
                    <i class="keyword_ico1"></i>
                    <span>妇联信息</span>
                </a>
              <ul>
                <li><a href="/woman-0"><span>中华全国妇女联合会章程</span></a></li>
                <li><a href="/woman-1"><span>妇女联合会农村基层组织工作条例</span></a></li>
                <li><a href="/woman-2"><span>妇女联合会城市街道、社区基层组织工作条例</span></a></li>
                <li><a href="/woman-3"><span>妇女联合会机关、事业单位基层组织工作条例</span></a></li>
                <li><a href="/woman-4"><span>妇女联合会团体会员工作条例</span></a></li>
                <li><a href="/woman-5"><span>妇女联合会选举工作条例</span></a></li>
                <li><a href="/woman-6"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
                <li><a href="/woman-7"><span>中华人民共和国婚姻法</span></a></li>
                <li><a href="/woman-8"><span>
中华人民共和国妇女权益保障法（修正）</span></a></li>
                <li><a href="/woman-9"><span>中华人民共和国未成年人保护法</span></a></li>
                <li><a href="/woman-10"><span>中华人民共和国反家庭暴力法</span></a></li>
                <li><a href="/woman-11"><span>关于进一步加强生育保险工作的指导意见</span></a></li>
                <li><a href="/woman-12"><span>西安市流动人口计划生育条例</span></a></li>
                <li><a href="/woman-13"><span>大雁塔街道妇联工作职责</span></a></li>
                <li><a href="/woman-14"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/fulian">
                            <i></i>
                            当前位置：基础信息>妇联信息>选举工作条例
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                       <br>
              <p style="text-align:center;text-indent:2em;">
	<span style="font-size:20px;"><strong>妇女联合会选举工作条例</strong></span>
</p>
<br>
	<span style="font-size:18px;"><h3 align="center">（2010年1月12日全国妇联十届二次执委会议全体会议通过）</h3></span> 	<br>
    <h1 align="center">第 一 章 总  则</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第一条 为完善妇女联合会选举制度，根据《中华全国妇女联合会章程》，制定本条例。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二条 妇女联合会的最高领导机构是全国妇女代表大会。妇女联合会的地方各级领导机构，是同级妇女代表大会。省、自治区、直辖市，设区的市、自治州，县、自治县、不设区的市和市辖区的妇女代表大会，每五年举行一次。乡镇、街道、社区妇女代表大会每三至五年举行一次。由本级妇女联合会执行委员会召集。在特殊情况下，经执行委员会讨论决定，可提前或延期举行。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三条 妇女联合会的领导机构除其派出机构外，必须经过妇女代表大会选举产生。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四条 中华人民共和国年满18周岁的女性公民享有选举权和被选举权；依照法律被剥夺政治权利的除外。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第五条 妇女代表大会代表及妇女联合会执行委员会委员的产生，要充分体现妇女群众的意志。妇女联合会执行委员会委员（以下简称执委）通过差额选举产生，常务委员会委员（以下简称常委）、副主席、主席通过等额选举产生。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第六条 妇女代表大会设大会主席团，领导大会期间选举工作。妇女代表大会筹备工作由上届妇女联合会执行委员会负责。代表必须经代表资格审查委员会审查通过确定。</span>
</p>
  <br>
 <h1 align="center">第 二 章   代 表 名 额 及 资 格 确 认</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第七条 各级妇女代表大会的代表人数、名额分配及产生办法由同级妇女联合会执行委员会确定。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第八条 代表名额分配原则是按照各地年满18周岁的妇女人口比例进行分配，农村每一代表所代表的妇女人数多于城市每一代表所代表的妇女人数。适当考虑政治、经济、文化发展情况和工作需要，照顾少数民族地区。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第九条 各级妇女代表大会代表中，专职妇女工作者占代表总数的50％以内，各行各业妇女代表占代表总数的50％以上。其中，全国妇女代表大会少数民族代表应占代表总数的10％左右，非中共代表应占代表总数的25％以上；地方各级妇女代表大会中少数民族代表和非中共代表的比例根据实际情况确定。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十条 各级妇女代表大会代表人选，根据代表条件，自下而上通过选举或协商推荐确定，报大会组织处审核。自妇女代表大会代表资格审查委员会审查通过之日起，代表资格有效。</span>
</p>
 <br>
 <h1 align="center">第 三 章   执 委 会 、常 委 会 名 额 及 组 成</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十一条 各级执行委员会人数、组成分配方案及其产生办法由同级妇女联合会执行委员会确定。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十二条 执委的分配原则是按照各地区、部门的妇女人口比例进行分配，适当考虑政治、经济、文化发展情况和工作需要，照顾少数民族地区。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十三条 各级妇女联合会执委中，专职妇女工作者占总数的50％以内，各界妇女占50％以上。其中，中华全国妇女联合会少数民族执委应占总数的10％左右，非中共执委应占总数的20％以上；地方各级妇女联合会执行委员会中少数民族执委和非中共执委的比例根据实际情况确定。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十四条 各级妇女联合会执委候选人，按照执委的条件，通过自下而上协商推荐确定，报本级妇女联合会领导机构审核，经妇女代表大会代表充分酝酿讨论，提交大会主席团审议通过，确定执委候选人名单，参加正式选举。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十五条 各级妇女联合会执行委员会的全体会议选举主席一人、副主席（专兼职）若干人、常务委员若干人，组成常务委员会。常务委员会组成人员从执委中选举产生。常务委员会组成人员候选人由中央和地方有关方面民主协商提名，交全体执委酝酿讨论，再由大会主席团根据多数执委的意见，确定正式候选人名单，提交本届执行委员会第一次会议选举。</span>
</p>
<br>
 <h1 align="center">第 四 章   选 区 和 监 票 人</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十六条 选举时设选区若干，参选人到指定的票箱投票，参选人不能委托投票，一般不设流动票箱。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十七条 选举设监票人若干，在不是候选人的代表（执委）中推选产生。大会主席团常务主席在其中提名总监票人、副总监票人建议人选。总监票人、副总监票人、监票人建议人选名单经大会主席团会议审议后提交代表大会（执委会议）通过。已提名的候选人不得担任监票人。总监票人、副总监票人、监票人在大会主席团领导下，对选举的全过程进行监督。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十八条 选举工作人员由负责选举工作的部门指定，在监票人的监督下进行工作。</span>
</p>
<br>
 <h1 align="center">第 五 章   选 举</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十九条 妇女联合会主席、副主席、常委、执委的选举采用无记名投票方式。妇女代表大会选举执委时，可以采取候选人数多于应选人数的差额直接选举办法进行；也可以采取差额选举办法进行预选，产生候选人人选，然后进行等额正式选举。差额比例一般不低于5%。执行委员会会议选举主席、副主席、常务委员时，采用两张选票。一张为主席、副主席候选人选票；一张为常务委员候选人选票。一次投票，分别计票。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十条 常委、执委候选人名单以姓氏笔划为序排列。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十一条 选举时，参选人数需超过应到人数的三分之二，方可进行选举。收回的选票等于或少于发出的选票，选举有效；收回的选票多于发出的选票，选举无效，应重新选举。每张选票所选人数，等于或少于应选人数为有效票，多于应选人数为无效票。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十二条 对选票上的候选人，参选人可以表示赞成、不赞成或弃权。对不赞成者可以另选他人。表示弃权的，不得另选他人。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十三条 不能写选票的参选人，可委托不是候选人的其他参选人按照参选人的意志代写。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十四条 选举时，根据需要可设秘密写票处。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十五条 投票结束后，当场打开票箱，清点票数，并由总监票人将选票清点结果报告大会执行主席，由大会执行主席宣布选举是否有效。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十六条 选举时，候选人、另选人获得赞成票数超过应到参选人的半数始得当选。对得赞成票超过应到参选人半数的被选人按得票数多少依次取足名额。得赞成票超过半数的被选人少于应选名额时，可以不取足名额。如遇票数相等不能确定当选人时，以反对票少者当选；若反对票也相等时，由大会主席团决定增加或减少当选名额。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十七条 投票完毕，总监票人向大会执行主席报告投票结果，由大会执行主席宣布选举是否有效。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十八条 计票完毕，总监票人向大会执行主席报告计票结果，大会执行主席向大会宣布选举结果。当选的常委、执委按姓氏笔划为序宣布。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十九条 妇女代表大会闭会期间，因工作需要选举主席、副主席、常务委员时，如执委在选举期间不能到会参选，经常务委员会同意，可以书面委托不是候选人的其他参选人代为投票。每一参选人接受的委托不得超过三人。委托投票总数不得超过执委总数的三分之一。</span>
</p>

<br>
 <h1 align="center">第 六 章 监 督 与 补 选</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十条 妇女代表大会的代表，受选民和选举单位的监督。对代表提出质疑的，应与有关组织人事部门、监察部门核实。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十一条 代表候选人因故出缺，可由原选举单位补选。全国妇女代表大会代表候选人补选时限为距离大会召开30日以上。地方各级妇女代表大会候选人补选时限，根据实际情况确定。</span>
</p>
<br>
 <h1 align="center">第 七  章  附    则</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十二条 各级妇女联合会根据本条例可以制定选举实施细则。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十三条 本条例解释权属于中华全国妇女联合会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十四条 本条例自通过之日起施行。2004年12月13日全国妇联九届二次执委会议通过的《妇女联合会选举工作条例（试行）》同时废止。</span>
</p>

                    	</div>
					</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
<script>
    $('.top_right a').eq(0).mouseover(function(){
        $('.top_ewm').css('display','block');
    });
    $('.top_right a').eq(0).mouseout(function(){
        $('.top_ewm').css('display','none');
    });
    $(function() {
        var left = ($(window).width() - 1200) / 2;
        $('.tubiao>div').css('left', (left - 40) + 'px');
        $('.asa').css('left', left + 'px');
        $('.index1_imgt div:nth-of-type(2)').css({
            'margin-right':(left-50)+'px'
        });
        $('.index1_imgt div:nth-of-type(1)').css({
            'margin-left':(left-50)+'px'
        });
        $('.logo').click(function (event) {
            event.preventDefault();
            $('#index1_nav').css({
                'background': '#ddd',
                'opacity': 0.5
            });
            $('.asa').css('display', 'block');
        });
        $('.asa').on('click', function () {
            $('.asa').css('display', 'none');
            $('#index1_nav').css({
                'background': '',
                'opacity': ''
            });
        });
    })
</script>
</body>
</html>
