<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a{
    text-align: center;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
              <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->
        <div>
            <!--<img src="/modules/core/client/img/image/shouye/tt.png" >-->
        </div>
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/fulian" class="woman">
                    <i class="keyword_ico1"></i>
                    <span>妇联信息</span>
                </a>
              <ul>
                <li><a href="/woman-0"><span>中华全国妇女联合会章程</span></a></li>
                <li><a href="/woman-1"><span>妇女联合会农村基层组织工作条例</span></a></li>
                <li><a href="/woman-2"><span>妇女联合会城市街道、社区基层组织工作条例</span></a></li>
                <li><a href="/woman-3"><span>妇女联合会机关、事业单位基层组织工作条例</span></a></li>
                <li><a href="/woman-4"><span>妇女联合会团体会员工作条例</span></a></li>
                <li><a href="/woman-5"><span>妇女联合会选举工作条例</span></a></li>
                <li><a href="/woman-6"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
                <li><a href="/woman-7"><span>中华人民共和国婚姻法</span></a></li>
                <li><a href="/woman-8"><span>
中华人民共和国妇女权益保障法（修正）</span></a></li>
                <li><a href="/woman-9"><span>中华人民共和国未成年人保护法</span></a></li>
                <li><a href="/woman-10"><span>中华人民共和国反家庭暴力法</span></a></li>
                <li><a href="/woman-11"><span>关于进一步加强生育保险工作的指导意见</span></a></li>
                <li><a href="/woman-12"><span>西安市流动人口计划生育条例</span></a></li>
                <li><a href="/woman-13"><span>大雁塔街道妇联工作职责</span></a></li>
                <li><a href="/woman-14"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/fulian">
                            <i></i>
                            当前位置：基础信息>妇联信息>农村基层组织工作条例
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                       <br>
              <p style="text-align:center;text-indent:2em;">
	<span style="font-size:20px;"><strong>妇女联合会农村基层组织工作条例</strong></span>
</p>
<br>
	<span style="font-size:18px;"><h3 align="center">（2010年1月13日全国妇联十届二次执委会议全体会议通过）</h3></span> 	<br>
    <h1 align="center">第 一 章 总  则</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第一条 为加强农村妇女工作，根据《中华全国妇女联合会章程》，制定本条例。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二条 乡镇妇女联合会（以下简称乡镇妇联）和农村妇女代表会（以下简称农村妇代会）是妇女联合会在农村的基层组织，是党和政府联系农村妇女群众的桥梁和纽带，是农村基层政权的重要社会支柱。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三条 乡镇妇联和农村妇代会以马克思列宁主义、毛泽东思想、邓小平理论和"三个代表"重要思想为指导，深入贯彻落实科学发展观，坚持和发展马克思主义妇女观，贯彻男女平等基本国策，推动中国妇女、儿童发展纲要的实施，代表和维护妇女合法权益，团结、引导广大农村妇女为建设社会主义新农村，实现农村全面建设小康社会目标贡献力量。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四条 乡镇妇联和农村妇代会接受同级党组织和上级妇女联合会的领导。</span>
</p>
  <br>
 <h1 align="center">第 二 章  组  织</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第五条 坚持以党的基层组织建设带动妇女联合会农村基层组织建设。妇女联合会农村基层组织实行代表联系妇女群众制度。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第六条 乡镇建立妇女联合会。乡镇妇联的领导机构是妇女代表大会，每三至五年举行一次。妇女代表大会闭会期间的领导机构是执行委员会。执行委员会全体会议选举主席一人、副主席若干人，负责日常工作。执行委员会全体会议，一般每年举行一次。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第七条 农村的行政村、乡镇企业、农林牧渔场、专业市场和其他经济组织设立妇女代表会。有条件的行政村可建立妇女联合会。农村妇代会由本村年满18周岁的妇女民主选举若干代表组成，代表人数根据行政村的规模和各经济组织妇女人数而定。代表推选主任一人、副主任若干人，负责日常工作。也可召开由本村年满18周岁的妇女或妇女代表参加的妇女大会或妇女代表大会，选举产生主任一名、副主任若干名和代表若干名，组成本村妇代会。农村妇代会每三年换届一次，换届工作与村民委员会换届同步进行。换届情况报乡镇妇联备案。在居住分散的农村山区、牧区，农、林、渔场，非公有制经济组织等领域和单位，流动妇女集中的地方，妇女组织形式应从实际出发灵活设置。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第八条 成立或撤销乡镇妇联、农村妇代会组织，须经上级主管部门同意和同级妇女代表大会、妇女大会通过及同级管理部门审核，报上一级妇女联合会备案。</span>
</p>
 <br>
 <h1 align="center">第 三 章    职 责 与 责 任</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第九条 乡镇妇联的主要职责：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）贯彻执行上级妇联组织及同级妇女代表大会决议；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）讨论决定本乡镇妇女工作中的重要问题，指导所辖农村妇代会开展妇女工作;</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）加强与乡镇内单位及其妇女组织的联系与合作，培育以妇女为主体会员的协会、联谊会和农村经济合作组织等基层群众组织，推进乡镇妇女工作的社会化；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（四）加强乡镇妇联自身建设和村级妇女组织建设，提高妇联干部的学习能力、创新能力和服务能力。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十条 农村妇代会的主要职责：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）贯彻执行上级妇联组织及同级妇女代表大会或妇女大会决议；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）加强与本村其他妇女组织的联系与合作，培育以妇女为主体会员的协会、联谊会等基层群众组织和农村经济合作组织，提高本村妇女组织化程度；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）加强农村妇代会自身建设，建立和完善学习培训、工作会议、代表联系、检查考核、评比表彰等工作制度。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">　第十一条 乡镇妇联、农村妇代会的主要任务：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）宣传、贯彻党和政府在农村的方针、政策。教育和引导农村妇女发扬自尊、自信、自立、自强精神，提高思想道德素质、科学文化素质和健康素质，成为有理想、有道德、有文化、有纪律的时代新女性。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）组织农村妇女参加"双学双比"、"五好文明家庭创建"、"巾帼科技致富工程"和拥军优属等活动。提高农村妇女科技致富能力，帮助农村妇女增收致富，促进农村妇女富余劳动力向非农产业和城镇有序转移。关爱农村留守妇女、留守老人和留守儿童。弘扬社会公德、职业道德和家庭美德。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）推动农村妇女参与村民自治实践，反映妇女的意见、建议和要求，代表妇女参与村务决策，发挥民主参与、民主管理、民主监督作用，推进农村基层民主建设。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（四）维护农村妇女儿童合法权益，宣传、普及有关妇女儿童的法律和法规，抵制封建迷信和陈规陋习，反对邪教。配合有关部门打击拐卖妇女儿童、嫖娼、卖淫、赌博、吸毒等违法犯罪行为，预防和制止家庭暴力，维护社会稳定,推进依法治村。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（五）开展农村妇女培训，普及科技、环境保护、妇幼卫生保健和优生、优育、优教等知识，指导和推进家庭教育，倡导文明、健康、科学的生活方式。组织农村妇女参加现代远程教育学习。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（六）协助党组织做好培养、推荐妇女入党积极分子和基层后备女干部工作，发挥妇联作为培养输送女干部重要基地的作用。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（七）因地制宜建立妇女儿童活动阵地和科技示范基地，为妇女儿童提供有效服务。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">(八) 实施"强基固本"工程，加强妇女联合会农村基层组织建设。</span>
</p>
<br>
 <h1 align="center">第 四 章   妇 女 工 作 者</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十二条 乡镇妇联主席的基本条件：有较高的思想政治文化素质，有参政议政和组织协调能力，热爱妇女儿童工作。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十三条 农村妇代会主任的基本条件：政治思想好，热心为妇女儿童服务，有文化，有本领，具有开拓精神，能够带领妇女增收致富。农村妇代会主任应是村党支部或村委会成员。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十四条 乡镇妇联主席享受乡镇党政领导副职的政治、生活待遇。农村妇代会主任的经济报酬应纳入村干部生活津贴范围。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十五条 乡镇妇联主席、副主席人选应事先征求上一级妇女联合会的意见，换届情况报上一级妇女联合会备案。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十六条 加强基层妇联干部教育培训，采取多种形式开展政治理论和业务能力培训，组织基层妇联干部参加脱产学习，培养造就高素质的基层妇女工作者队伍。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十七条 加强代表、执委队伍建设，发挥她们在联系妇女、代表妇女和服务妇女方面的重要作用。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十八条 建设巾帼和家庭志愿者队伍，组织志愿者为妇女儿童和家庭服务。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十二条 地方妇女联合会常务委员会是执行委员会闭会期间的领导机构，常务委员会讨论决定妇女工作中的重要问题，定期向执行委员会报告工作，接受监督。常务委员会会议每半年举行一次，在特殊情况下，可提前或推迟召开。</span>
</p>
<br>
 <h1 align="center">第 五 章   经 费</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十九条 乡镇妇联、农村妇代会经费来源：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）乡镇妇联经费主要由地方财政统筹解决；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）农村妇代会活动经费由乡村集体经济或村可使用的经费列支；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）开展生产性、服务性经营活动；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（四）建立经费基地；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（五）依法接纳社会捐赠。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十六条 在居住分散的农村山区、牧区，农、林、渔场，非公有制经济组织，专业市场等女性相对集中的地方，妇女组织的形式从实际出发灵活设置。</span>
</p>
<br>
 <h1 align="center">第 六 章   附 则</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十条 本条例解释权属于中华全国妇女联合会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十一条 本条例自通过之日起施行。2004年12月13日全国妇联九届二次执委会议通过的《妇女联合会农村基层组织工作条例（试行）》同时废止。</span>
</p>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
</body>
</html>
