<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a{
    text-align: center;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
      <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->
        <div>
            <!--<img src="/modules/core/client/img/image/shouye/tt.png" >-->
        </div>
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="/basic" class="woman">
                    <i class="keyword_ico1"></i>
                    <span>妇联信息</span>
                </a>
                <ul>
                  <li><a href="/woman-0"><span>中华全国妇女联合会章程</span></a></li>
                  <li><a href="/woman-1"><span>妇女联合会农村基层组织工作条例</span></a></li>
                  <li><a href="/woman-2"><span>妇女联合会城市街道、社区基层组织工作条例</span></a></li>
                  <li><a href="/woman-3"><span>妇女联合会机关、事业单位基层组织工作条例</span></a></li>
                  <li><a href="/woman-4"><span>妇女联合会团体会员工作条例</span></a></li>
                  <li><a href="/woman-5"><span>妇女联合会选举工作条例</span></a></li>
                  <li><a href="/woman-6"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
                  <li><a href="/woman-7"><span>中华人民共和国婚姻法</span></a></li>
                  <li><a href="/woman-8"><span>
中华人民共和国妇女权益保障法（修正）</span></a></li>
                  <li><a href="/woman-9"><span>中华人民共和国未成年人保护法</span></a></li>
                  <li><a href="/woman-10"><span>中华人民共和国反家庭暴力法</span></a></li>
                  <li><a href="/woman-11"><span>关于进一步加强生育保险工作的指导意见</span></a></li>
                  <li><a href="/woman-12"><span>西安市流动人口计划生育条例</span></a></li>
                  <li><a href="/woman-13"><span>大雁塔街道妇联工作职责</span></a></li>
                  <li><a href="/woman-14"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
                </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/fulian">
                            <i></i>
                            当前位置：基础信息>妇联信息>中华全国妇女联合会章程
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                       <br>
              <p style="text-align:center;text-indent:2em;">
	<span style="font-size:20px;"><strong>中华全国妇女联合会章程</strong></span>
</p>
<br>
	<span style="font-size:18px;"><h3 align="center">（中国妇女第十一次全国代表大会部分修改，2013年10月31日通过）</h3></span> 	<br>
    <h1 align="center">总  则</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">中华全国妇女联合会是全国各族各界妇女为争取进一步解放与发展而联合起来的群众组织，是中国共产党领导下的人民团体，是党和政府联系妇女群众的桥梁和纽带，是国家政权的重要社会支柱。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">中华全国妇女联合会以宪法为根本的活动准则，依照法律和《中华全国妇女联合会章程》独立自主地开展工作。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">中国妇女是建设中国特色社会主义的重要力量。中华全国妇女联合会以马克思列宁主义、毛泽东思想、邓小平理论、"三个代表"重要思想、科学发展观为行动指南。在社会主义初级阶段，妇女联合会要高举中国特色社会主义伟大旗帜，坚持党的基本理论、基本路线、基本纲领、基本经验和基本要求，坚持和发展马克思主义妇女观，贯彻男女平等基本国策，团结、引导广大妇女坚定不移地走中国特色社会主义妇女发展道路，在全面建设小康社会，推进社会主义经济建设、政治建设、文化建设、社会建设和生态文明建设中发挥积极作用，为建设富强民主文明和谐的社会主义现代化国家、实现中华民族伟大复兴的中国梦而奋斗。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">中华全国妇女联合会的基本职能是：代表和维护妇女权益，促进男女平等。</span>
</p>
  <br>
 <h1 align="center">第 一 章    任  务</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第一条 团结、动员妇女投身改革开放和社会主义经济建设、政治建设、文化建设、社会建设和生态文明建设，在中国特色社会主义伟大实践中发挥积极作用。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二条 代表妇女参与国家和社会事务的民主决策、民主管理、民主监督，参与有关法律、法规、规章和政策的制定，参与社会管理和公共服务，推动保障妇女权益法律政策和妇女、儿童发展纲要的实施。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三条 维护妇女儿童合法权益，倾听妇女意见，反映妇女诉求，向各级国家机关提出有关建议，要求并协助有关部门或单位查处侵害妇女儿童权益的行为，为受侵害的妇女儿童提供帮助。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四条 教育和引导广大妇女践行社会主义核心价值观，发扬自尊、自信、自立、自强的精神，提高综合素质，实现全面发展。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">宣传马克思主义妇女观，推动落实男女平等基本国策，营造有利于妇女全面发展的社会环境。宣传表彰优秀妇女典型，培养、推荐女性人才。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第五条 关心妇女工作生活，拓宽服务渠道，建设服务阵地，发展公益事业，壮大巾帼志愿者队伍，加强妇女之家建设。加强与女性社会组织和社会各界的联系，推动全社会为妇女儿童和家庭服务。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第六条 巩固和扩大各族各界妇女的大团结。加强同香港特别行政区、澳门特别行政区、台湾地区及海外华侨华人妇女、妇女组织的联谊，促进祖国和平统一大业。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第七条 积极发展同世界各国妇女和妇女组织的友好交往，加深了解、增进友谊、促进合作，为维护世界和平作贡献。</span>
</p>
 <br>
 <h1 align="center">第 二 章    组 织 制 度</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第八条 妇女联合会实行全国组织、地方组织、基层组织和团体会员相结合的组织制度。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">妇女联合会实行民主集中制。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第九条 全国和地方妇女联合会的领导机构，由同级妇女代表大会选举产生。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">妇女联合会基层组织的领导机构由同级妇女代表大会选举产生或由妇女代表推选产生。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十条 各级妇女代表大会代表名额及产生办法，由各级妇女联合会执行委员会决定。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十一条 各级妇女联合会执行委员会的产生，要充分体现选举人的意志。选举采取无记名投票方式，可以直接采取差额选举办法进行选举；也可以先采取差额选举办法进行预选，产生候选人名单，再进行等额选举。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十二条 执行委员应执行妇女代表大会和妇女联合会执行委员会的决议，积极参加妇女联合会的有关活动，密切联系妇女群众，努力开展妇女工作。在执行委员会闭会期间，执行委员可随时向常务委员会反映有关妇女工作的情况、问题，提出建议。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十三条 各级妇女联合会常务委员会、执行委员会根据工作需要，可以增补委员。执行委员会委员中专职妇女工作者离开妇女工作岗位后，其执行委员职务自行卸免，替补人选由执行委员会决定。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十四条 中华全国妇女联合会，省、自治区、直辖市妇女联合会，设区的市、自治州妇女联合会，县、自治县、不设区的市和市辖区妇女联合会，地区妇女联合会，根据工作需要设业务部门。</span>
</p>
<br>
 <h1 align="center">第 三 章    全 国 组 织</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十五条 妇女联合会的最高领导机构是全国妇女代表大会和它所产生的中华全国妇女联合会执行委员会。全国妇女代表大会，每五年举行一次，由中华全国妇女联合会执行委员会召集。在特殊情况下，经执行委员会讨论决定，可提前或延期召开。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">全国妇女代表大会的职权是：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）讨论、决定全国妇女运动方针、任务及重大事项；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）审议和批准中华全国妇女联合会执行委员会的工作报告；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）修改《中华全国妇女联合会章程》；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（四）选举中华全国妇女联合会执行委员会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十六条 全国妇女代表大会闭会期间，中华全国妇女联合会执行委员会贯彻执行全国妇女代表大会的决议，讨论并决定妇女工作中的重大问题和人事安排事项。中华全国妇女联合会执行委员会的全体会议，每年举行一次，由常务委员会召集。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十七条 中华全国妇女联合会执行委员会的全体会议选举主席一人、专兼职副主席若干人、常务委员若干人，组成常务委员会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十八条 中华全国妇女联合会常务委员会是执行委员会闭会期间的领导机构，常务委员会讨论决定妇女工作中的重要问题，定期向执行委员会报告工作，接受监督。常务委员会会议每半年举行一次，在特殊情况下，可提前或推迟召开。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">中华全国妇女联合会常务委员会下设书记处，由常务委员会推选第一书记和书记若干人组成，主持日常工作。</span>
</p>
<br>
 <h1 align="center">第 四 章    地 方 组 织</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第十九条 妇女联合会按照国家的行政区划建立地方各级组织。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十条 地方各级妇女联合会的领导机构是地方各级妇女代表大会和它所产生的执行委员会。省、自治区、直辖市，设区的市、自治州，县、自治县、不设区的市和市辖区妇女代表大会，每五年举行一次，由同级妇女联合会执行委员会召集。在特殊情况下，经执行委员会讨论决定，可提前或延期召开。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">地方各级妇女代表大会的职权是：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">(一)讨论、决定本地区的妇女工作任务；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">(二)审议和批准同级妇女联合会执行委员会的工作报告；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">(三)选举同级妇女联合会的执行委员会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十一条 地方各级妇女联合会执行委员会在妇女代表大会闭会期间，执行上级妇女联合会的决定和同级妇女代表大会的决议，定期向上级妇女联合会报告工作，讨论并决定本地区妇女工作的重大问题。地方各级妇女联合会执行委员会全体会议，每年至少举行一次，由同级常务委员会召集。执行委员会选举主席一人、专兼职副主席若干人、常务委员若干人，组成常务委员会，领导本地区妇女联合会的工作。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十二条 地方妇女联合会常务委员会是执行委员会闭会期间的领导机构，常务委员会讨论决定妇女工作中的重要问题，定期向执行委员会报告工作，接受监督。常务委员会会议每半年举行一次，在特殊情况下，可提前或推迟召开。</span>
</p>
<br>
 <h1 align="center">第 五 章    基 层 组 织</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十三条 乡镇、街道社区建立妇女联合会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">乡镇、街道社区妇女代表大会，每三至五年举行一次。妇女代表大会闭会期间的领导机构是执行委员会。执行委员会全体会议选举主席一人、专兼职副主席若干人。执行委员会全体会议，一般每年举行一次。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十四条 农村的行政村、城市的居民委员会等设立妇女代表会，有条件的行政村可建立妇女联合会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">妇女代表会由居住区域、辖区单位的妇女代表组成，推选主任一人、副主任若干人，负责日常工作。妇女代表会一般每三年举行一次。代表任职期间如有变动，可以补选。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十五条 机关和教科文卫等事业单位、社会组织建立妇女委员会或妇女工作委员会。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">妇女委员会由本单位妇女大会或妇女代表大会选举产生，每届任期三至五年。妇女委员会全体会议推选主任一人、副主任若干人，负责日常工作。妇女工作委员会委员由妇女代表协商产生。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十六条 在居住分散的农村山区、牧区，农、林、渔场，非公有制经济组织，专业市场等女性相对集中的地方，妇女组织的形式从实际出发灵活设置。</span>
</p>
<br>
 <h1 align="center">第 六 章    团 体 会 员</h1>
    <br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十七条 企业基层工会女职工委员会及其以上各级工会女职工委员会是妇女联合会的团体会员。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十八条 凡在民政部门注册登记的以女性为主体会员的各类为社会、为妇女服务的社会团体，自愿申请，承认本章程，经中华全国妇女联合会或当地妇女联合会同意，可成为妇女联合会的团体会员。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第二十九条 妇女联合会要加强同团体会员的联系，帮助和支持团体会员开展工作。团体会员应接受妇女联合会业务指导。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十条 团体会员应履行下列义务：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）宣传和执行妇女联合会的决议；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）向妇女联合会反映妇女情况，汇报工作，提出意见和建议，执行有关工作任务；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）向妇女联合会推荐优秀妇女人才。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十一条 团体会员享有下列权利：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）参加妇女联合会的有关活动；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）对妇女联合会的工作提出批评建议；</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）团体会员的负责人参加或列席同级妇女联合会执行委员会会议。</span>
</p>
<br>
 <h1 align="center">第 七 章    妇 女 联 合 会 干 部</h1>
<br>

<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十二条 妇女联合会按照干部革命化、年轻化、知识化、专业化的方针和德才兼备、以德为先的原则，建设政治坚定、勇于创新、求真务实、热爱妇女工作、熟悉本职业务、受到妇女信赖的干部队伍。应深化干部人事制度改革，建立健全科学的干部选拔任用机制、监督管理机制和激励机制，推进干部工作的科学化、民主化、制度化。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十三条 各级妇女联合会应成为培养和输送女干部的重要基地。应加强干部的培养，重视培训工作，加强培训基地建设。妇女联合会干部应合理流动。妇女联合会应经常向各方面推荐输送优秀女干部，特别要注意培养推荐输送少数民族和青年女干部。同时吸收各方面优秀人才到妇女联合会工作。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十四条 妇女联合会干部应努力做到：</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（一）政治坚定。具备相应的马克思主义理论水平，坚持以邓小平理论、"三个代表"重要思想、科学发展观为指导，执行党的基本路线和方针政策。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（二）勤奋学习。学习法律、政策、科学、文化和妇女工作业务等知识，不断提高综合素质和实际工作能力。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（三）忠于职守。开拓创新，勤奋工作，在组织、引导、服务妇女和维护妇女权益方面，努力做出实绩。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（四）作风扎实。深入调查研究，密切联系群众，自觉接受群众监督，全心全意为人民服务。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">（五）遵纪守法。遵守国家法律法规，依法办事，廉洁奉公。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十五条 妇女联合会应承担对下一级妇女联合会主席、副主席的协助管理职责。各级妇女联合会主席、副主席人选应事先征求上一级妇女联合会的意见，选举结果报上一级妇女联合会备案。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">县以上妇女联合会主席、副主席任职时间不超过两届。</span>
</p>
<br>
 <h1 align="center">第 八 章    经 费 及 财 产  </h1>
<br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十六条 妇女联合会的行政经费、业务活动和事业发展经费，主要由政府拨款，提供经费保障，列入各级财政预算，并随财政收入的增长或工作需要逐步增加。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十七条 各级妇女联合会所属经济实体，必须认真执行国家的有关法律法规和政策，努力为妇女儿童服务。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十八条 各级妇女联合会可依法接纳热心妇女儿童事业的国内外人士及组织的资金和其他物品的捐赠，并依法管理，接受监督。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第三十九条 国家交各级妇女联合会占有、使用的不动产和妇女联合会所兴办的实体受法律保护，任何个人和单位不得侵占。妇女联合会所属的企事业单位，其隶属关系不得随意改变。</span>
</p>
<br>
 <h1 align="center">第 九 章    会 徽 会 旗  </h1>
<br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四十条 中华全国妇女联合会会徽为圆形，由汉字"女"和英文"WOMAN"的第一个字母"W"经艺术造型构成，象征着中华全国妇女联合会和中国妇女的进步、发展，象征着中国妇女和各国妇女的友谊、团结。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四十一条 中华全国妇女联合会会徽，可在妇女联合会办公地点、活动场所、会场悬挂，也可作为徽章佩戴。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四十二条 中华全国妇女联合会会旗的旗面为红色，左上角缀有黄色会徽。会徽会旗的制作标准，由中华全国妇女联合会规定。</span>
</p>
<br>
 <h1 align="center">第 十 章    附 则  </h1>
<br>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四十三条 中华全国妇女联合会英文译名是"All-China Women's Federation"，缩写为"ACWF"。</span>
</p>
<p style="text-indent:2em;">
	<span style="font-size:18px;">第四十四条 本章程解释权属于中华全国妇女联合会。</span>
</p>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
<!--<script>-->
    <!--$('.top_right a').eq(0).mouseover(function(){-->
        <!--$('.top_ewm').css('display','block');-->
    <!--});-->
    <!--$('.top_right a').eq(0).mouseout(function(){-->
        <!--$('.top_ewm').css('display','none');-->
    <!--});-->
    <!--$(function() {-->
        <!--var left = ($(window).width() - 1200) / 2;-->
        <!--$('.tubiao>div').css('left', (left - 40) + 'px');-->
        <!--$('.asa').css('left', left + 'px');-->
        <!--$('.index1_imgt div:nth-of-type(2)').css({-->
            <!--'margin-right':(left-50)+'px'-->
        <!--});-->
        <!--$('.index1_imgt div:nth-of-type(1)').css({-->
            <!--'margin-left':(left-50)+'px'-->
        <!--});-->
        <!--$('.logo').click(function (event) {-->
            <!--event.preventDefault();-->
            <!--$('#index1_nav').css({-->
                <!--'background': '#ddd',-->
                <!--'opacity': 0.5-->
            <!--});-->
            <!--$('.asa').css('display', 'block');-->
        <!--});-->
        <!--$('.asa').on('click', function () {-->
            <!--$('.asa').css('display', 'none');-->
            <!--$('#index1_nav').css({-->
                <!--'background': '',-->
                <!--'opacity': ''-->
            <!--});-->
        <!--});-->
    <!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
