<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .keyworkxq_lnav>ul>li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  .keyworkxq_lnav>ul>li{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #F8F6F6;
  }
  .keyworkxq_lnav>ul>li a{
    text-align: center;
  }
  .keyworkxq_lnav>ul>li a span {
    width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span ></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
    <div class="container">
    <!--标体-->
    <!--固定党日-->
    <div class="keyworkxq_border">
        <div class="keyworkxq_work">
            <div class="keyworkxq_lnav lt">
                <a href="javascript:void(0)" class="woman">
                    <i class="keyword_ico1"></i>
                    <span>妇联信息</span>
                </a>
              <ul>
                <li><a href="/woman-0"><span>中华全国妇女联合会章程</span></a></li>
                <li><a href="/woman-1"><span>妇女联合会农村基层组织工作条例</span></a></li>
                <li><a href="/woman-2"><span>妇女联合会城市街道、社区基层组织工作条例</span></a></li>
                <li><a href="/woman-3"><span>妇女联合会机关、事业单位基层组织工作条例</span></a></li>
                <li><a href="/woman-4"><span>妇女联合会团体会员工作条例</span></a></li>
                <li><a href="/woman-5"><span>妇女联合会选举工作条例</span></a></li>
                <li><a href="/woman-6"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
                <li><a href="/woman-7"><span>中华人民共和国婚姻法</span></a></li>
                <li><a href="/woman-8"><span>
中华人民共和国妇女权益保障法（修正）</span></a></li>
                <li><a href="/woman-9"><span>中华人民共和国未成年人保护法</span></a></li>
                <li><a href="/woman-10"><span>中华人民共和国反家庭暴力法</span></a></li>
                <li><a href="/woman-11"><span>关于进一步加强生育保险工作的指导意见</span></a></li>
                <li><a href="/woman-12"><span>西安市流动人口计划生育条例</span></a></li>
                <li><a href="/woman-13"><span>大雁塔街道妇联工作职责</span></a></li>
                <li><a href="/woman-14"><span>妇女联合会执行委员会委员替补、增补及常务委员会组成人员增补的规定</span></a></li>
              </ul>
            </div>
            <div class="keyworkxq_rnav lt">
                <div class="keyworkxq_title">
                    <b>
                        <a href="/fulian">
                            <i></i>
                            当前位置：基础信息>妇联信息>大雁塔街道妇联工作职责
                        </a>
                    </b>
                </div>
                <div class="keyworkxq_main">
                       <div class="keyworkxq_mainr">
                        <h1 align="center">大雁塔街道妇联工作职责</h1>
                        <br>
                        <div class="keyworkxq_js">
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">1、围绕党的中心工作,指导基层妇女组织,依据《中华人民共和国妇女联合会章程》和区、街道妇女代表大会的决议,开展妇女儿童工作,联系团体成员,并给予业务指导。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   2、组织动员广大妇女投身改革和三个文明建设,广泛开展"巾帼建功"活动,发动妇女积极参与经济建设和各项服务等工作，努力争创"巾帼示范岗"。
                                </p>
                            </div>
                        <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   3、大力弘扬"自尊、自爱、自立、自强"精神。全面提高素质，促进女性人才成长，引导妇女争做"知识的女性、智慧的女性和文明的女性"。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   4、广泛开展"五好文明家庭"、"最美家庭"创建活动，倡导科学、文明、健康的生活方式，树立典型，表彰先进。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   5、维护妇女儿童合法权益，认真做好来信、来访的接待工作，开展普法宣传，提高妇女儿童的法制意识和自我保护意识。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   6、代表妇女参与民主管理和民主监督，促进妇女参政议政，培养和推荐优秀妇女入党、上岗。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                  7、为妇女儿童服务，加强与社会各界的联系，组织协调社会各界为妇女儿童办实事、办好事。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                   8、深入调查研究，及时发现妇女儿童工作中出现的新情况、新问题，代表妇女儿童向党委政府反映，并提出建议。
                                </p>
                            </div>
                            <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                  9、积极开展竞赛活动，培养树立妇女科技致富带头人、女经济人，充分发挥基层妇女组织作用。
                                </p>
                            </div>
                             <div style="font-size:18px;font-family:SimSun;">
                                <p style="text-indent:30px">
                                 10、积极完成区妇联、街道党委交办的各项任务。
                                </p>
                            </div>
                    </div>
</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="keyworkxq_foot">
        <div class="keyworkxq_mainbox">
            <div class="keyworkxq_line"></div>
            <div class="keyworkxq_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
