<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
  }
  .kwdangri_lnav>a {
    background-color: #22709D;
  }
  .kwdangri_lnav>a:hover{
    background-color: #22709D;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">

</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
        <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
    </div>
    <div class="tubiao">
        <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
    <!--标体-->

    <!--固定党日-->
    <div class="kwdangri_border">
        <div class="kwdangri_work">
            <div class="kwdangri_lnav lt">
                <a href="/index1">
                    <i class="keyword_ico"></i>
                    <span>先锋模范</span>
                </a>
              <ul class="xianjinshiji">
                <li>基层党务工作者</li>
                <li>巾帼妇女风采</li>
                <li>劳模风采</li>
                <li>身边榜样</li>
              </ul>
            </div>
            <div class="kwdangri_rnav lt xiangen_nav">
                <div class="kwdangri_title">
                    <b>
                        <a href="/index1">
                            <i></i>
                            当前位置：先锋模范
                        </a>
                    </b>
                </div>
              <div class="xianfen_content">
                <div class="jiceng">
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/lingtouyan/liguijun.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>基层“领头雁”李桂君</h1>-->
                      <!--<p>-->
                        <!--李桂君，大雁塔街道青龙社区书记兼主任。她在社区工作长达15年之久，宣传和解释党的各类惠民政策，带头清除卫生死角，排查安全隐患，进行矛盾调解，开展各类喜闻乐见的文化娱乐活动，丰富社区居民文化生活，她经常讲的一句话就是“无论啥事，居民的事都是大事！”-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont"class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/lingtouyan/chenminhua.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>基层“领头雁”陈华明</h1>-->
                      <!--<p>-->
                        <!--陈华明，大雁塔街道观音庙村党支部书记。陈书记多年以来，认认真真，一丝不苟的完成党组织下发的各项任务，亲民爱民，狠抓支部建设和党员干部队伍建设，使全村投入到“三项革命”，在做好环境整治，铁腕治霾等工作的同时，大力发展集体经济，拓宽村民的房屋租赁渠道和村民的就业渠道，千方百计增加村民的收入，得到了村民的认可和上级的一致好评。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/lingtouyan/renjinchun.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>基层“领头雁”任京春</h1>-->
                      <!--<p>-->
                        <!--任京春，西安曲江妇产医院党支部书记，她把党建与医院发展紧密结合起来,通过开展党支部标准化建设、设立党员示范岗等形式,引导党员当标兵、当骨干、当劳模,促进党员的先锋模范作用的发挥,为医院的发展和党建工作做出更大贡献。与此同时，积极建立与医院经营层的沟通协调机制，为医院的科学决策、民主决策提供依据，促进党组织活动与医院业务工作同步推进。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/lingtouyan/wenlixian.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>基层“领头雁”文利贤</h1>-->
                      <!--<p>-->
                        <!--文利贤，大雁塔街道铁二村党支部副书记。她低调做人，高调做事，时时处处为村民着想，亲和力强，经常到群众家中谈心，把群众的心声当作自己的工作方向，帮群众排忧解难，不管谁家有红白喜事或其他纠纷，都会第一时间到达现场，时刻把党的温暖和关怀送给村民，用实际行动践行“四必到、四必访”，-->
                        <!--在群众的拥护和支持下，她带着激情和活力，为铁二村各项工作奉献着。-->

                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/lingtouyan/wangzhanfen.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>基层“领头雁”王战峰</h1>-->
                      <!--<p>-->
                        <!--王战峰，大雁塔街道西延路社区党支部书记兼主任。 “知百家情、解百家难、暖百家心”就是他的真实写照，没事儿就在院子里溜达，对每家每户的情况了如指掌，把居民的事记在本上、挂在心上、落在行动上。带着对平凡工作的热爱，对群众的深感情厚，对党无限的忠诚，他把自己交给了这份普通却又重要的工作，把心血和汗水融入在为居民服务的点滴中，用实际行动展现着一名共产党员默默无闻、雷厉风行、干事创业的风貌！他就是心系社区，情洒群众的“铁书记”-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="xianfen_cont" class="lt" ng-repeat="xianfe in vm.xianfe">
                    <div class="xianfen_img">
                      <img src="{{xianfe.photos}}">
                    </div>
                    <div class="xianfen_jianjie">
                      <h1>{{vm.titlex + xianfe.name}}</h1>
                      <p ng-click="vm.xjsj($index)">
                        {{xianfe.deeds}}
                      </p>
                    </div>
                  </div>
                </div>
                <!--<div class="laomo">-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/laomo/hehunna.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>劳模风采何红娜</h1>-->
                      <!--<p>-->
                        <!--何红娜，大雁塔街道社区服务中心主任。她曾在社区服务十五年，把自己的感情、智慧、心血和爱心全部倾注到了社区工作中，走遍了社区的每个角落，为群众办实事，凭着自强不息、奋力拼搏的精神，成为社区的“脊梁骨”，如今，她依然为了更好地服务群众、发展社区建设、建设和谐社区而不断努力奋斗着。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/laomo/liyunliang.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>劳模李运良</h1>-->
                      <!--<p>-->
                        <!--李运良，雁塔区大雁塔街道助理调研员李运良。从军30年的李运良从部队转业到地方，接着被派驻到周至县马召镇中兴村进行驻村联户扶贫，任驻村工作队队长兼第一书记。村里每户贫困户的情况，他都了如指掌。谁家需要政策兜底，谁家可以产业扶贫，今年村上新增了那户贫困户该怎么帮扶，他心里都有一本账。为了方便工作，他专门制作了《马召镇中兴村贫困户基本情况手册》，详细记录了每个贫困户的基本信息，又按照每户的现实情况制定了帮扶措施...-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/laomo/hehunna.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>劳模风采何红娜</h1>-->
                      <!--<p>-->
                        <!--何红娜，大雁塔街道社区服务中心主任。她曾在社区服务十五年，把自己的感情、智慧、心血和爱心全部倾注到了社区工作中，走遍了社区的每个角落，为群众办实事，凭着自强不息、奋力拼搏的精神，成为社区的“脊梁骨”，如今，她依然为了更好地服务群众、发展社区建设、建设和谐社区而不断努力奋斗着。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/laomo/liyunliang.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>劳模李运良</h1>-->
                      <!--<p>-->
                        <!--李运良，雁塔区大雁塔街道助理调研员李运良。从军30年的李运良从部队转业到地方，接着被派驻到周至县马召镇中兴村进行驻村联户扶贫，任驻村工作队队长兼第一书记。村里每户贫困户的情况，他都了如指掌。谁家需要政策兜底，谁家可以产业扶贫，今年村上新增了那户贫困户该怎么帮扶，他心里都有一本账。为了方便工作，他专门制作了《马召镇中兴村贫困户基本情况手册》，详细记录了每个贫困户的基本信息，又按照每户的现实情况制定了帮扶措施，...-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="jinguofen">-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/jinguofencai/11.png">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>巾帼妇女侯改红</h1>-->
                      <!--<p>-->
                        <!--侯改红，大雁塔街道科技大学社区居民。“雁塔最美女性”，陕西省首届十大孝子，网名—丁香花，她坚持做公益11年，在社区，在家里，丁香花（侯改红）时时处处以一个志愿者精神理念来约束自己，善待周围的邻居朋友，长期做志愿者、带动家人，朋友，带动网络人的朋友，用自己的行动感染别人。成为了网上的爱心之花，曾代表陕西参加“全国优秀志愿者”评选。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont"class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/jinguofencai/22.png">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>巾帼妇女马粉线</h1>-->
                      <!--<p>-->
                        <!--马粉线，大雁塔街道青龙社区居民，“雁塔最美家庭”，自己开办了家政服务站。帮助需要租房的人，同时为社区居民提供方便。经常参加社区公益活动，尽可能地给孩子们以及身边的人一些帮助，为创建一个和谐的社会，贡献自己一份微薄的力量。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/jinguofencai/33.png">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>巾帼妇女贾博</h1>-->
                      <!--<p>-->
                        <!--贾博，西安市雁塔区红星小学校长，西安市三八红旗手，贾博同志最喜欢的人生格言是：“世界上最快乐的事情，莫过于为理想而奋斗”，也正是在不断地奋斗中更清晰了自己心中的梦想——用心守护每一名孩子，二十余年的教师生涯已让一个满脸稚气的学生锻炼成为一名颇有经验、成熟的人民教师。从讲台到管理岗位的转变让她对教育工作有了更深的理解，逐渐从教师走向专家型管理人才。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/jinguofencai/44.png">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>巾帼妇女蒋小菊</h1>-->
                      <!--<p>-->
                        <!--蒋小菊，大雁塔街道西勘社区居民，“西安最美家庭”， 百善孝为先，百孝顺为先，西勘社区居民蒋小菊多年如一日，无微不至地照顾年迈的婆婆，细心照料身患残疾的丈夫，在她的温暖下，一家人和睦融洽、其乐融融。她坚守着自己的责任和义务，坚定着对家庭的信念，在平凡又平淡的生活中，她用真心待人，以挚情爱人，让孝老和爱亲成为不灭的长明灯，照着这个和睦的家庭。他们一家人互敬互爱，生活幸福和美，树立了榜样。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="dangyuanmofan">-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/dangyuanfencai/yangyuqiong.jpg">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>党员模范杨育群</h1>-->
                      <!--<p>-->
                        <!--老党员杨育群， 86岁高龄，青龙社区老党员，空军通讯学院退休干部，退休前曾做过讲师。在病床上他也不忘叮嘱妻子要把课件交给党支部，带病精心准备课件坚持给社区党员讲党课，他说“党员就要战斗到生命的最后一刻”。这就是信仰，一个共产党员的信仰。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont"class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/dangyuanfencai/22.png">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>党员模范薛晓娟</h1>-->
                      <!--<p>-->
                        <!--薛晓娟，39岁，西延路社区党员，从秦岭大山深处镇安县走出来的薛晓娟，经过重重困难和考验，创立自己的公司—西安慧涓商贸有限公司，她始终坚持“诚信为本、诚信经营”的理念开拓市场，凭着坚韧的精神成功创业，绽放女性“巾帼不让须眉”的风采。“用爱心做事，用感恩的心做人”一直是薛晓娟不变的追求。创业成功后，她尽心尽力吸收下岗失业女性到工作岗位上，积极为地震灾区捐款，多次跟随公益组织到山区学校捐赠、救助贫困儿童、留守儿童。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="xianfen_cont" class="lt">-->
                    <!--<div class="xianfen_img">-->
                      <!--<img src="/modules/core/client/img/image/dangyuanfencai/11.png">-->
                    <!--</div>-->
                    <!--<div class="xianfen_jianjie">-->
                      <!--<h1>党员模范耿长逊</h1>-->
                      <!--<p>-->
                        <!--耿长逊，男,77岁，毕业于陕西师范大学，退休老教师，雁塔路社区老党员，上世纪60年代他放弃可以留在大城市了的优越条件，响应祖国号召主动申请到陕北贫困地区支边，历经千锤百炼，四十几年如一日，他为人师表、以身作则，桃李满天下，培养的学生活跃在社会的各个阶层。自信、自强、自立是耿老师奉行的人生信条也是他的家风家训，如今，他仍然保持一颗童心和进取之心，认真学习党和政府的各类政策，关注时事，积极参加社区各类志愿者活动，以自己的行动践行着一位共产党员的使命。-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
    <div class="index1_foot">
        <div class="index1_mainbox">
            <div class="index1_line"></div>
            <div class="index1_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
