<style>
  .container-fluid {
    padding: 0;
  }

  .page-container {
    margin-top: 0 !important;
  }

  .keyworkxq_title {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .keyworkxq_title a i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(/modules/core/client/img/image/tubiao/dw.png) no-repeat;
    vertical-align: bottom;
  }
  .basic_person1>ul>li a:hover i.keyword_icon{
    background: url("/modules/core/client/img/image/xiaqu/comm1.png") no-repeat!important;
  }
  .basic_person1>ul>li a:hover i.keyword_icon1{
    background: url("/modules/core/client/img/image/xiaqu/cun1.png") no-repeat!important;
  }
  .basic_person1>ul>li a:hover i.keyword_icon2{
    background: url("/modules/core/client/img/image/index1/dangjiandongtai.png") no-repeat!important;
  }
  h3{
    cursor: pointer;
  }
  h3:hover{
    color: red;
  }
  #streed .person ul li{
    height: 32px;
    line-height: 32px;
  }
  .thumbnails{
    height: 280px;
    border: 0;
  }
  .thumbnails img{
    height: 240px;
  }
  .person .col-md-3{
    margin-top: 10px;
  }
  .basic_nav{
    overflow: inherit;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow" ng-click="showLogo()">
</div>
<div class="index1_model" ng-show="logoShow" ng-style="logoHeight" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
  <div class="index1_title1">
    <div class="index1_airt">
      <div class="index1_mainbox">
        <div class="top_left lt">
          <a href="http://www.gov.cn/">中央人民政府</a>
          <span></span>
          <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
          <span></span>
          <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
        </div>
        <div class="top_right rt">          <a href="#">            <i class="ic"></i>            <span ng-click="wap()">手机版</span>            <div class="top_ewm" ng-show="phone" >              <img src="/modules/core/client/img/image/index/wap.png" width="100px;">              <b>关注我们</b>            </div>          </a>          <a ui-sref="authentication.signin">            <i class="ic1"></i>            <span>登录</span>          </a>        </div>        <div class="top_right rt" style="margin-right: 10px">          <a ui-sref="authentication.signin">            <i class="sb"></i>            <span>民情地图</span>          </a>          <a ui-sref="authentication.signin">            <i class="sb1"></i>            <span>党建地图</span>          </a>        </div>
      </div>
    </div>
    <!--<div class="index1_imgt">-->      <!--<div class="animated bounceInLeft" ng-style="leftStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/tuceng9.png">-->      <!--</div>-->      <!--<div class="animated bounceInRight" ng-style="rightStyle">-->        <!--<img src="/modules/core/client/img/image/shouye/toptu2.png">-->      <!--</div>-->    <!--</div>-->
  </div>
  <div class="tubiao">
    <div class="div" ng-style="{'marginLeft': fixedLeft}">
      <span></span>
      <ul class="tiem">
        <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
        <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
        <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
        <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
        <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
        <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!--标体-->

    <!--成员信息-->
    <div class="basic_border">
      <div class="basic_person">
        <div class="basic_person1">
          <a href="/xiaqu">
            <i class="keyword_ico" style="background: url(/modules/core/client/img/image/xiaqu/xiaqu.png) no-repeat"></i>
            <span>辖区信息</span>
          </a>
          <!--<ul>-->
            <!--<li><a href="#streed">-->
              <!--<i class="keyword_icon" style="background: url(/modules/core/client/img/image/xiaqu/comm2.png) no-repeat"></i>-->
              <!--<span>社区简介</span></a></li>-->
            <!--<li><a href="#person">-->
            <!--<i class="keyword_icon1" style="background: url(/modules/core/client/img/image/xiaqu/cun2.png) no-repeat"></i>-->
            <!--<span>班子成员</span></a></li>-->
            <!--<li><a href="#person">-->
              <!--<i class="keyword_icon2" style="background: url(/modules/core/client/img/image/index1/dangjiandongtai.png) no-repeat"></i>-->
              <!--<span>党建动态</span></a></li>-->
          <!--</ul>-->
        </div>
        <div class="basic_nav">
          <div class="keyworkxq_title">
            <b>
              <a href="/xiaqu">
                <i></i>
                当前位置：辖区信息&gt;{{vm.type}}&gt;{{vm.unit}}
              </a>
            </b>
          </div>
          <div class="row" id='streed'>
            <div class="col-md-12">
              <div class="bayi">
              <h1>八一社区</h1>
              <p>
                八一社区成立于2001年10月21日，隶属于大雁塔街道办事处，属板块型社区。地处曲江大道以东、经九路以西、西影路沿线，占地约1.5平方公里，辖西安市第45中学、曲江品筑小区、八一小区、观音庙干休所、中国地震局第二监测中心、陕西测绘仪器厂、707部队、总参干休所、新疆第三干休所、西北有色地研院、西安工程技术学校、陕西核工业集团、武警家属院共13处，常住居民约3106户、7136人。
              </p>
              <p>
                八一社区居委会由社区主任、副主任和委员共7人组成。办公场所位于西影路316号，设有一站式服务大厅，设有计生、医保、社会救助、廉租房、劳动保障、低保、残联等服务窗口，党员活动站、阅览室、党员远程教育工作站、青少年教育工作站、警务室、矛盾调解室、文化娱乐活动室、棋牌室等运行良好。周围有幼儿园、学校、社区医院、技校、大型超市、农贸市场、商业街、各类银行、交通站点等，便民设施齐备，形成了“十分钟”生活便利圈。
              </p>
              <p>
                近年来，在上级部门和社区居民的支持下，八一社区致力于打造美丽社区、文明社区、和谐社区，不断提升社区办事效率和服务质量，深受上级领导和广大居民的好评，先后获得过“先进社区”“先进基层党组织”“陕西省和谐示范社区”“陕西省妇女之家精品示范点”“西安市五好基层关工委”等多项荣誉。
              </p>
                <hr>
              </div>
              <div class="cuihuabeilu">
                <h1>翠华北路社区</h1>
                <p>
                  翠华北路社区成立于2001年10月，位于翠华北路393号。隶属于大雁塔街道办事处，社区坐落于南二环以南、雁塔路以西、翠华北路以东，占地36万平方米，属板块型社区。现有住户2200户、6600人。辖区由长安大学雁塔校区、公安雁塔分局、雁塔区检察院、雁塔区法院、雁塔区卫生局、翠华路小学、藻露堂药业南郊公司7个单位和16个小区组成。社区设有三个委员会，即社区党支部，社区居民委员会，社区居监会。社区党支部委员3人；社区居委会会委员7人；社区居监会委员2人。社区专职工作人员3人，公益性岗位5人，社区工作人员都具有大学学历，是一支具有高素质、品德优、能力强、作风硬的社区工作队伍。
                </p>
                <p>
                  在社区党组织领导下，建立健全了社区议事委员会、人民调解委员会、计划生育委员会、老年科技协会、残疾人协会、治安联保会和工会、妇联、共青团等组织，保证了社区各项工作的正常运转和工作的实效性。
                  翠华北路社区为居民提供一站式办公服务，服务大厅设有人口与计划生育、低保廉租房、养老医疗保险、劳动就业职介、70周岁高龄补贴、残协慈善等服务窗口。为实现社区自我管理、自我教育、自我服务的自治功能还设有党员活动站、阅览室、党员远程教育站、警务室、矛盾调解室、文化娱乐活动室、棋牌室等。社区有科普大学、老年太极武术队、文体志愿者服务队、党员志愿者服务队、义务安全巡逻队等，为居民提供生活服务和帮助。

                </p>
                <p>
                  近年来在上级部门和社区居民的支持下，翠华北路社区致力于打造“以人为本，服务居民”的和谐社区，不断提升社区办事效率和服务质量，深受上级领导和广大居民的好评，先后荣获：“西安市创建文明城市工作先进单位”、“西安市创建国家卫生城市先进单位”、“西安市和谐社区建设示范社区”、“西安市文明社区”、“西安市绿色社区”、“西安市健康教育与健康促进示范社区”、“西安市关心下一代工作先进社区”、“雁塔区先进党支部”、“雁塔区卫生先进单位”、“大雁塔街道优秀社区”等几十项荣誉奖牌。
                </p>
                <hr>
              </div>
              <div class="cuihuananlu">
                <h1>翠华南路社区</h1>
                <p>
                  翠华南路社区成立于2001年10月19日，隶属于大雁塔街道办事处，属板块型社区，地处翠华南路107号国防科工办院内，办公面积约80平方米，常住居民约2319户、6957人。包括单位国防工办、邮电四所、大雁塔小学、八十五中、师大附中、省老干所、行政学院家属院、中科院家属院、大雁塔小学家属院、西安财经学院家属院、区政府家属院、区政府建设局家属院、航天七局家属院、工信厅家属院和翠微园小区共十四个院落。
                </p>
                <p>
                  社区居委会现有主任1人（刘莉莎）、副主任2人（张宝全、王晓明）、委员4人（韩国芬、刘波、恩威、吴咏梅）。
                </p>
                <p>
                  社区工作范围包括：低保、社会救助、老年人工作、妇女儿童工作、环境卫生、计划生育、残疾人工作、保障性住房、科普、劳动保障、安全生产、文体、人民调解、法律宣传、征兵入伍相关工作、开具职能范围内的相关证明等共计40余项工作。
                </p>
                <p>
                  社区自2001年建立以来在街道办事处的带领下，获得了诸多荣誉，如西安市创建国家卫生城市先进单位、第二次全国经济普查先进集体等。
                </p>
                <hr>
              </div>
              <div class="dayanta">
                <h1>大雁塔社区</h1>
                <p>大雁塔社区成立于2001年10月，隶属于雁塔区大雁塔街道办事处，地处文化气息十分浓欲的唐大雁塔周边，即雁塔区雁引路1号，周围环境优美、交通便利、治安良好。社区涵盖了大雁塔十字以南的周边地区，由大雁塔保管所、大雁塔慈恩寺、大雁塔曲江风景区管理处、西安市社会科学院、西安市园林技校、国家无线电频谱管理研究所、唐华宾馆、雁苑宾馆、御花园、曲江皇家花园、曲江派出所、丰景佳园、等十余家单位（住宅小区）以及大雁塔村和太平堡村中的城镇居民组成，是一个典型的板块型社区。社区现有常住居民2016余户，人口6048余人。60岁以上老年人近300百余人；特困人员10余户；残疾人员近30人；占地面积3方公里。社区内建有阅览室、乒乓球室、台球室、健身房和棋牌室等室内活动场所；室外有两处晨练活动广场和两处健身器材；辖区内有唐大雁塔、大慈恩寺、大慈恩寺遗址公园、大雁塔北广场和南广场、大雁塔东苑和西苑等9处旅游观光景点等。</p>
                <p>社区有一支团结协作、奋发向上、勤于为民的居委会班子，由主任、副主任、委员、协管、专职构成。社区自2001年10月成立以来在为广大居民救助保障、计划生育、医疗保健、文体活动、便民服务、普法维权等方面提供了较为周到的帮助和服务，使社区的面貌发生了较为深刻的变化和发展。同时，社区也获得诸多殊荣：2005年创卫工作中获 “先进社区”表彰，大雁塔街道2009年度安全生产工作中获 “先进单位”表彰，全省社区建设中获“示范社区”表彰，雁塔区劳保局颁发的“先进集体”表彰，2008年的创卫工作中获“先进单位”表彰，2005年西安市创卫领导小组颁发的“市级卫生社区”表彰，并于2006年和2009年分别获得“先进党支部”的表彰。</p>
                <p>在社区建设中我们将通过不断改善服务管理机制，整合社区资源，努力打造出一个服务全面、环境优美、秩序优良、人际关系融洽的和谐社区。</p>
                <hr>
              </div>
              <div class="haiboziting">
                <h1>海珀紫庭社区</h1>
                <div>
                  <h3>一、辖区划分及单位组成</h3>
                  <p>海珀紫庭社区为小区型社区，社区党支部、居委会分别组建于2016年6月、2016年8月。</p>
                  <p>社区所辖3个小区，分别为绿地乐和公馆、绿地海珀紫庭、绿地乐和城，居民共计2577户，7700余人，商户共计42家。</p>
                  <p>绿地乐和公馆小区位于后村西路61号，物业管理企业为长城物业乐和公馆管理处。小区共3栋楼，居民户数704户，常驻人口2700余人，小区户籍所在地为雁塔区西影路派出所。</p>
                  <p>绿地海珀紫庭小区位于后村北路1号，物业管理企业为长城物业海珀紫庭管理处，小区共16栋楼，居民户数875户，常驻人数2000余人，小区户籍所在地为雁塔区育才路派出所。</p>
                  <p>绿地乐和城小区位于南二环东段323号，物业管理企业为永绿物业乐和城管理处，小区共4栋楼，居民户数998户，常驻人口3000余人，小区户籍所在地为雁塔区育才路派出所。绿地乐和城小区城管执法、市容、食药监、工商、税务等执法部门均为碑林区管辖。</p>
                </div>
                <div>
                  <h3>二、社区选址及办公设施</h3>
                  <p>海珀紫庭社区办公室位于后村北路1号绿地海珀紫庭小区2号楼负1层，办公用房面积约为350㎡，目前已完成基础装修，因经费等客观问题，现办公设备及办公设施正在完善中。后期将逐步完成“一部三室三站一场所”即党支部、居委会办公室、警务室、图书室、最低生活保障和劳动社会保障工作站、计生卫生服务站、文化生活指导站、室外健身活动场所的建设。</p>
                  <p>因我社区办公用房尚未正常投入使用，现临时办公地址位于大雁塔街道西延路枫林宾馆院内社区服务中心大厅。</p>
                </div>
                <div>
                  <h3>三、社区工作人员组成</h3>
                  <p>海珀紫庭社区共13名工作人员：</p>
                  <p>党支部3人：书记1名、宣传委员1名（兼任居委会主任）、组织委员1名（兼任居委会委员）；</p>
                  <p>居委会9人：主任1人、副主任3人（其中1人为社区民警）、委员5人（其中1人借调于大雁塔街道城管科，1人借调于大雁塔街道纪委）；/p>
                  <p>社区专职1人、劳动保障协管1人、残疾人专干1人。</p>
                </div>
                <div>
                  <h3>四、社区主要工作</h3>
                  <p>海珀紫庭社区开展的主要工作有：社区党建工作、党员学习教育管理等工作；物业服务监督、环境卫生治理、社区矛盾调解及维稳工作；开具各项证明、居民医保办理、就业失业登记、计划生育指标办理、独生子女证办理、残疾人、老年人各项工作、公租房手续交接、社会事务、社区文化活动等。</p>
                  <p>
                    社区工作中心：探索“党建+社区治理”模式，以党建工作为引领，结合社区工作实际，为居民提供优质服务，力争打造美丽、平安、和谐的服务型社区。
                  </p>
                </div>
                <hr>
              </div>
              <div class="houcun">
                <h1>后村社区</h1>
                <p>后村坐落于大雁塔以北，毗邻省委，占地30万平方米。于09年实施城中村改造，历时30个月，于2012年8月整村回迁，同时完成新农村社区建设，新建小区总共11栋楼，住宅面积28万平方米，商用面积2万平方米。后村社区总人口约为6800人，其中常住人口约为2800人，流动人口约为4000人。后村社区居民委员会于2013年11月成立，设主任1名，副主任3名，委员5名；社区党支部3人，书记1名，委员2名，社区党员77名；大学生“村官”1名；社区专职人员1名；社区工作人员4名。</p>
                <p>后村社区位于后村小区内，社区公共服务设置有社区服务大厅、党员活动室、图书阅览室、综合会议室、社区居民委员会管理办公室、警务室、社区卫生服务站、文化活动广场、幼儿园等。</p>
                <p>
                  社区服务大厅约为50平方米，内设劳动保障、计划生育、就业指导、民政事务、综合治理、科教文体等服务窗口，各项规章制度完善，相关办公设施齐全；党员活动室（图书阅览室）约为40平方米，室内配置党旗、入党宣誓词，党支部各项规章制度及相关办公设施。配置标准书柜5个，图书约2600册；社区居民委员会管理办公室（综合会议室）约为50平方米，相关办公座椅、文件柜等办公用品齐全，设置社会救助委员会、劳动保障委员会、残疾人委员会、公共卫生委员会、综合调解委员会、人口计生委员会、文体科教委员会等；警务室约为50平方米，相关办公座椅、文件柜、电脑等办公用品齐全；正和社区卫生服务站设置全科诊断室、治疗室、检验室、药房、预防保健室、观察室、计划生育服务室等；社区文化活动广场约600平方米，配置体育健身器材，能满足一般室外中小型演出等活动；社区小天鹅幼儿园约200平方米，设置大、中、小班，相关教育教学设备齐全。
                </p>
                <hr>
              </div>
              <div class="jianyuan">
                <h1>建苑社区</h1>
                <p>建苑社区成立于2001年10月，隶属于大雁塔街道办事处，属板块型社区，地处西影路中段颖园小区22号院内，占地0.6平方公里，辖区院落13处及企事业单位4个，常住居民约3299户、8073人。</p>
                <p>建苑社区办公场所位于西影路22号，实行“一站式”办公，为居民提供一站式办公服务，设有计生、医保、廉租房、劳动保障、低保残联等服务窗口，其它功能场所有党员活动站、阅览室、党员远程教育站、居家养老室、警务室、矛盾调解室、会议室、文化娱乐活动室、棋牌室等，总面积达300平米。便民服务设施齐备，“十分钟”生活便利圈有幼儿园、诊所、技校、大型超市、农贸市场、商业街、各类银行、交通站点等。各类文化活动队伍如舞蹈队、秦腔自乐班、秧歌队、锣鼓队等，长期在辖区内排练和表演，丰富居民的精神文化生活。</p>
                <p>近年来在上级部门和社区居民的支持下，建苑社区致力于打造“服务全民 、环境优美、秩序优良、人际关系融洽”的和谐社区，不断提升社区办事效率和服务质量，深受上级领导和广大居民的好评。</p>
                <hr>
              </div>
              <div class="jiaodacaijing">
                <h1>交大财经社区</h1>
                <p>交大财经社区成立于2002年，属于单位型社区，位于翠华南路，由三个家属院组成。占地面积136亩，18栋居民楼，共有2020户，居民5580人。其中党员591人，其他民主党派49人。社区党支部有党员8人（其中有3人是在外务工的党员）。两委会成员7人、专职2人、协管3人。社区工作人员共计12人。</p>
                <p>交大财经社区依托交大以及在地域上依托交大继续教育学院，有离退休办、校医院的卫生服务站、水电维修部、采暖部、绿化部、物业服务部等为居民提供各种服务。有阅览室、棋牌室、文体活动室、门球场、篮球场、礼堂、未成年人活动室、等可共享的居民活动场所。</p>
                <p>社区设有老年协会、妇女工作联合会、残疾人协会、人民调节委员会等组织。开展居民最低生活保障、劳动保障、计划生育、居民医保工作，还开展了爱卫会、文体活动等服务社区居民方面的工作，竭尽全力为社区居民群众服务。交大的后勤服务中心为居民提供水电费收缴服务，社区内和社区周边的超市场购物非常方便。近年给符合条件的多层家属楼加装了电梯。</p>
                <p>
                  社区治安情况良好，安防措施得当，人防与机防相结合，18个家属楼均安装了摄像监控。本社区努力建成：平安社区、和谐社区、便利社区、美丽社区。
                </p>
                <hr>
              </div>
              <div class="keda">
                <h1>西安科技大学社区</h1>
                <p>西安市雁塔区大雁塔街道西安科技大学社区，位于雁塔路南段98号，办公场所设在科技大学南院。社区2001年成立，辖区面积290亩，社区住户2021户，人口6063人，老龄人口613户，残疾人96人，居民小区3个，驻地单位1家。辖区科研实力较强，文化层次、人口素质较高、文化氛围浓厚，是一个单位性社区。</p>
                <p>西安科技大学社区在雁塔区委、区政府的正确领导下，在大雁塔街道党工委、办事处的悉心指导下，以加强社区组织建设为基础，以拓展社区服务为核心，以优化社区资源为突破口，以创建和谐社区为载体，扎实推进社区各项工作，重视健全各项服务机制，热情提供各类便民服务，得到了辖区居民群众的一致好评。</p>
                <p>西安科技大学社区先后荣获西安市地震安全示范社区、雁塔区促进就业工作模范示范站、雁塔区便民示范社区、陕西省和谐社区建设示范社区、雁塔区残疾人工作示范社区、全省和谐社区建设示范社区等荣誉称号。在新的形势下，西安科技大学社区以创建人居环境最佳，服务体系最完善的新型社区为目标，创新服务理念，强化工作机制，完善服务功能，提升管理水平，为建设管理有序、服务完善、文明和谐的现代化社区而不懈努力。</p>
                <hr>
              </div>
              <div class="qinglong">
                <h1>青龙社区</h1>
                <p>青龙社区成立于2001年，隶属于大雁塔街道办事处，属于纯居民型社区。青龙社区地处西安市南二环东段192号，占地面积20公顷，分A、B、C、D、E、F、G、H、P等九个组团，所辖区域有铁一中南校区、西安东车辆段家属院、省机械进出口公司家属院、省五矿化工进出口公司家属院、市机械医保进出口公司家属院、骊山微电子进出口公司家属院、女友杂志社家属院、人民日报、二六二厂、黄陵煤炭、轻工业进出口公司、正信大厦等17个单位，45栋楼，2900余户居民，10000余人，残疾人76人，低保户3户，老年人500余人，育龄妇女300余人。近年来，社区距离铁一中较近，流动人口大于常住人口，并且人口流动的频率较高。</p>
                <p>青龙社区居委会由社区主任、副主任和委员共7人组成。办公场所位于南二环东段192号青龙小区内，设有一站式服务大厅，设有计生、医保、社会救助、廉租房、劳动保障、低保、残联等服务窗口，党员活动站、阅览室、党员远程教育工作站、青少年教育工作站、警务室、矛盾调解室、文化娱乐活动室、棋牌室等运行良好。周围有幼儿园、学校、社区医院、技校、超市、农贸市场、商业街等，便民设施齐备，形成了十分便捷的生活圈。</p>
                <p>近年来，在上级部门和社区居民的支持下，青龙社区致力于打造美丽社区、文明社区、和谐社区，不断提升社区办事效率和服务质量，深受上级领导和广大居民的好评，先后获得过“优秀社区”、“先进党支部”、“陕西省妇女之家精品点”等多项荣誉。</p>
                <hr>

              </div>
              <div class="shengwei">
                <h1>省委社区</h1>
                <p>省委机关东小区社区属单位型社区，位于南二环东段368号，由省委东小区、东院、西院和联建小区组成，驻区单位为中共陕西省委，社区占地近380余亩，辖区共有1500余户，4500余人。</p>
                <p>社区工作人员共13人，包括社区主任1人，副主任1人，委员5人（其中一名专干兼委员），社区专干2人，公益性岗位4人，监委会委员2人（其中一名协管兼任）。</p>
                <p>社区主要工作范围包括经适房、廉租房、公租房申请和办理、居民医保、居民养老、就业失业登记证办理、计划生育、高龄补贴、低保认定等工作。
                  省委机关东小区社区成立于2006年1月，现有办公用房330平米，活动场地1000余平米，社区设有图书室、棋牌室、象棋室、健身房、乒乓球室等居民活动场所。
                </p>
                <p>社区现直管党员25人，在支部班子领导的带领下，积极开展各种活动，组织学习党员远程教育相关内容，社区党支部认真贯彻落实基层党建“三有一化”的要求，有力促进了社区的和谐发展。</p>
                <p>近年来，社区先后被评为“园林式住宅区”、“陕西省妇女儿童工作示范社区”、“国家卫生城市先进单位”、“安全生产先进集体”、“西安市和谐社区建设示范社区“等荣誉称号。</p>
                <p>社区班子成员通过不断努力，努力建设一个服务全面、环境优美、秩序优良、人际关系和谐的新社区。

                </p>
                <hr>
              </div>
              <div class="tieyiyuan">
                <h1>铁一院社区</h1>
                <p>铁一院社区成立于2008年底，位于西影路2号，总面积约0.3平方公里，拥有住户2680户，居民6940余人，老年人460人，下岗失业人员110人，残疾人29人，低保户3户，育龄妇女151人。</p>
                <p>辖区单位铁一院集团公司积极响应政府“共驻共建，共创和谐”精神，为社区无偿提供建设用地并出资300万元建设资金，于2012年6月，建成上下三层，面积1500平方米的社区办公活动用房及400平方米室外活动广场。在雁塔区委、区政府和大雁塔街道党工委、办事处的大力支持下对社区用房进行了内外装修，设置了 “一厅式办公大厅”（厅内设有民政事务、综治管理、社保就业、卫生计生、教科文体等服务窗口）、娱乐活动室、心理咨询室、社区大讲堂、党员活动室、阅览图书室等办公和文体活动场所。</p>
                <p>铁一院社区“两委会”由社区书记兼主任1名，副主任2名及委员等7人组成，另有社区专职工作人员3名、协管1名，还有监委会3人。</p>
                <p>自社区成立以来我们一直秉承着“四心”（即工作有耐心、服务要热心、做事有恒心、对人有诚心）的理念，全心全意为社区居民办好事、办实事，得到了居民的一直认可。几年来，铁一院社区先后被授予“雁塔区科普示范社区”、“大雁塔街道2012年度人口和计划生育工作先进集体” “敬老文明号”、“五星级示范书屋”、2013年度“优秀社区”、 全省和谐社区建社“示范社区”、“西安市科普示范社区”、全省“文明社区、和谐家园”活动四星社区党组织、省级妇女之家“示范点”、西安市雁塔区社区教育示范学习中心、西安市廉政文化示范点、“职工书屋”、2014年度西安市社区科普大学“优秀分校”、创建全国文明城市工作“先进单位”等荣誉称号。</p><hr>
              </div>
              <div class="wujingyiyuan">
                <h1>武警医院社区</h1>
                <p>
                  武警医院社区成立于2001年11月，属于版块型社区。辖区面积0.96平方公里，辖区住户2583户，辖区人口7568人。低保户有3户。四个家属院：武警医院家属院、西旅公司、市政公司、沙坡派出所。十个小区：樱花园小区、刘家庄小区、康怡园小区、开元新村、庆环小区、翔园大厦、友和大厦、伟业都市远景、新2号楼、新5号楼。驻辖区单位1个（武警医院）。驻辖区非公有制经济组织1个（融迪管材）。
                </p>
                <p>社区居委会7人、书记主任交叉任职。社区专职工作者3人、协理员2人、残联专干1人。社区主要围绕党建、民政优抚、劳动保障、计划生育、残疾人工作、人民调解、和综合治安以及社区文体娱乐活动等方面开展工作。
                  社区获得的主要荣誉有西安市和谐社区建设示范社区、创建国家卫生城市先建单位、陕西省人口和计划生育工作先进社区。
                </p><hr>
              </div>
              <div class="xikan">
                <h1>西勘社区</h1>
                <p>西勘社区成立于2001年10月，是由中国有色金属工业西安勘察设计研究院一个单位组成，属单位型社区，地处大雁塔以东西影路中段48号，占地面积0.84平方公里，现有居民住宅楼30栋，住户2040户，常住人口3672人，流动人口120多人。现有社区工作人员16人，其中两委、主任副主任共3人，书记1人，委员4人，专职工作者3人，协管员4人，残疾专干1人。有志愿者队伍2支，共45人。</p>
                <p>西勘社区办公场所在社区院内，设一站式服务大厅。社区设有计生、医保、劳动保障、低保、残联等服务窗口，其他功能场所有党员活动站、阅览室、矛盾调解室、会议室、文化娱乐活动室、棋牌室等，总面积达320平米。近年来在上级部门和社区居民的支持下，西勘社区致力于打造“四季有约、爱在社区”的和谐社区，不断提升社区办事效率和服务质量。</p><hr>
              </div>
              <div class="xiyanlu">
                <h1>西延路社区</h1>
                <p>西延路社区成立于2013年9月12日，隶属于大雁塔街道办事处，属板块型社区，南接曲江路，北至南二环，贯穿西延路全段，占地0.7平方公里；辖区内现有11个居民小区、9个驻地单位，常住居民约3597户、10791人，包括大方实业总公司、陕西省计算中心、民政小区、乡镇企业学校、宝枫佳苑小区、城南锦绣小区、石油仪器小区、陕西省石油化工研究设计院、住友小区。</p>
                <p>社区办公场所位于西影路58号大方小区东院内，地处西影路与北池头十字东南角，办公用房面积达到432㎡，室外活动场所面积达1800㎡；社区工作人员19人，其中“两委会”人员10人（包括选聘到社区工作的大学生村官1人）、居监会委员2人、专职工作者3人、协管4人，专职党务工作者5人；支部现有直管党员20名，其中女性党员9名、离退休党员5名、大专以上学历党员11名、困难党员3名，无流动党员。</p>
                <p>社区自成立以来，紧紧围绕着便民、利民、为民服务的宗旨，以“为民、务实、清廉”为主题，为广大居民群众在老龄、救助、残疾、就业、医保、养老、计划生育、综合治理、安全生产、精神文化活动及和谐社区建设等方面提供耐心细致的服务。</p>
                <p>社区全体工作人员以认真细致的工作态度、热情为民的服务态度和坚持不懈的努力，圆满完成了上级下达的各项任务及为民惠民服务事项，分别荣获了西安市民政局2014年12月颁发的“西安市和谐社区建设示范社区”、中共西安市委、西安市人民政府2015年4月颁发的“创建全国文明城市工作先进单位”及西安市委组织部2015年7月验收“评星定级、晋位提档”三星示范社区。
                  接下来，社区将严格按照“三严三实”要求，加强作风建设，全心全意为居民服务，侧重在丰富辖区居民群众文体活动和精神文化生活方面加大力度，全力打造文明和谐大社区。
                </p><hr>
              </div>
              <div class="xiying">
                <h1>西影社区</h1>
                <p>西影社区位于西影路西段路北513号，占地面积约64亩，分西影路南北两区，有16栋居民住宅楼，平房8排，居民住户1114户，户口在册居民居民2800多人，外来租房户12多户300多人。在区政府、大雁塔街道办事处大力支持和扶持下，西影社区新建办公楼340多平方米，活动中心配备健身器材、乒乓球台十余台、套，供居民休闲娱乐，使社区“三有一化”工作得以落实。社区居委会按照“以人为本，服务居民”的基本原则积极开展各项工作，在居民最低生活保障、劳动保障、计生、居民医保、残疾人活动、民事调解等方面，竭尽全力为居民群众服务。</p>
                <p>加强党组织建设:
                  社区党组织是社区各类组织和各项工作的领导核心，搞好社区党支部建设工作是建设和谐社区的保证。社区党支部在“争先创优”“双评晋级”活动中认真学习党的政策，紧紧依靠广大党员，为将西影社区建成先进社区、模范社区而努力。
                </p>
                <p>丰富群众业余文化生活:
                  为丰富居民业余文化生活，社区根据群众要求，办起了秦腔自乐班、合唱队，每周坚持活动、训练。自乐班人员众多、设施齐全，已经成为西影路影响最大的群众娱乐团体。自乐班、合唱队经常参加广电厅、区政府、办事处举办的各种文艺汇演，在社区内更是经常举行演出，极大丰富了社区居民的业余生活，促进了社区和谐。
                </p>
                <p>全心全意为居民服务:
                  社区本着以人为本，全心全意为居民服务的原则，竭尽全力为居民服务。在劳动保障、居民医疗、计划生育、残疾人权益保障、城市居民最低生活保障、社区治安、环卫等一系列关系到居民生活方面的问题，都做出了很大努力，使居民对社区的认同感和归属感不断加强。
                </p>
                <p>进行“居家养老”工作探索:
                  随着社区人口老龄化的不断增加，居家养老成为社区考虑和探索解决的重要课题。在市老龄委、区民政局、办事处社会事务科、西部电影集团领导的支持下，社区开办了老年餐厅，老年人文化活动室等，加强了针对老年人的专项服务，受到社区老年人和居民的欢迎。
                </p><hr>
              </div>
              <div class="xingke">
                <h1>兴科社区</h1>
                <p>兴科社区隶属于雁塔区大雁塔街道办事处，成立于2001年11月，地处西安市西影路东段，属板块型社区。社区现有11个驻地单位，其中包括企事业单位7个（钻探所、青龙寺、伟达集团、南郊水厂、水科所、微生物研究搜、盐湖研究所）、学校1个（陕西省理工学校）、住宅小区3个（水木兰亭小区、乾唐雁月小区、梅园小区），总住户2880户，常住人口7188人。</p>
                <p>社区办公面积为300平米，室外活动场所面积达1000平米，工作人员14名，其中选聘到社区工作的大学生村官1名，社区专职工作者3人，协管4人，直管党员11名。社区一站式服务大厅为广大社区居民群众在社会保障、社会救助、安全防范、计生、社区环境、社区文化等方面提供细致周到的服务。社区设有群众书屋、道德讲堂、科普教室、书画室、居民活动室、未成年人活动室等阵地。</p>
                <p>近年来，社区获得了各项荣誉，受到了群众的认可和好评，2015年被中国科协授予“全国科普示范社区”；2013年被陕西省科协授予“陕西省科普示范社区”；2013年被西安市科协授予“西安市科普示范社区”；2012年被雁塔区科协授予“雁塔区科普示范社区”；2014年、2012年被西安市科协授予“西安市优秀科普分校”；2014年被大雁塔街道办事处授予“先进党支部”；2013年被大雁塔街道办事处授予“先进党支部”；2012年被大雁塔街道办事处授予“创先争优先进党支部”； 2013年荣获大雁塔街道办事处“首届群众文化艺术节二等奖”。</p><hr>
              </div>
              <div class="yantalu">
                <h1>雁塔路社区</h1>
                <p>雁塔路社区位于大雁塔东北部，南邻著名大雁塔及雁塔北广场，北邻陕西省委，属板块型社区。社区成立于2001年11月，辖区面积0.25平方公里，现有14个居民小区，居民住宅楼27栋，住户2142户，常住人口5994人，辖区单位9个，其中包括陕西省科技信息研究所、陕西省科学器材公司、陕西省考古所、陕西省质检所、西影路派出所、沙坡地区检察院、交警11大队、外事办车队、大雁塔街道办事处等单位以及红星小学。</p>
                <p>社区办公面积为400平米，室外活动场所面积达1000平米，工作人员18名，其中选聘到社区工作的大学生村官1名，社区专职工作者5人，协管5人，直管党员29名，在职党员450名。</p>
                <p>社区内部设有一站式服务办公大厅，为广大社区居民群众在社会保障、社会救助、安全防范、计生、社区环境、社区文化等方面提供细致周到的服务。社区设有群众书屋、道德讲堂、科普教室、书画室、居民活动室、居家养老日间照料室、老年餐厅、未成年人活动室等阵地。</p>
                <p>近年来，社区获得了各项荣誉，受到了群众的认可和好评，2013年被陕西省人民政府授予“全省和谐社区建设示范社区”；2012年被西安市文明办授予“文明社区”；2012年被西安市老龄委授予“西安市老年宜居社区”；2012年被西安市雁塔区总工会授予“示范社区联合会”；2012年被西安市雁塔区政府授予“安全生产工作优秀基层单位”； 2010年被西安市雁塔区委授予“示范社区党支部”；2013年被大雁塔街道授予“优秀社区”，2014年6月被大雁塔街道党工委授予“先进党支部“；”2013年7月被大雁塔街道党工委授予“先进社区党支部”；2012年度被 大雁塔街道授予“安全生产工作”先进集体。</p>
                <p>总之，雁塔路社区以“积极践行社会主义核心价值观，提升社区为民服务水平，构建平安和谐社区”为工作目标，以“便民利民，有求必应，有问必答，有难必帮”为工作原则，竭诚为社区单位、居民群众提供热情、周到优质服务。</p><hr>
              </div>
              <div class="yanxi">
                <h1>雁西社区</h1>
                <p>雁西社区成立于2001年1月，是在西安市、雁塔区民政局及大雁塔街道大力支持和指导下，依法成立的居民自治机构。社区位于西安市西影路466号，大雁塔以东，与国家曲江文化产业园相邻，地理位置优越，交通发达，人文氛围浓厚。</p>
                <p>大雁塔脚下的雁西社区辖区面积约0.18平方公里，辖区内有机关企事业单位4所（西京医院正和住院部，市委党校，疾控中心，太阳食品集团），有住宅小区6处（太阳食品集团家属院，党校家属院，正和医院家属院，雁影华庭小区，金裕花园小区，疾控中心家属院）。常住居民2100户、总人口约6100多人居民，由汉、维、回、蒙族等民族组成，其中汉族5660人，回族27人，维族1人，其他民族12人。辖区在册党员62人，低保人员13户，残疾人217人。
                  社区现有工作人员21人，两委会成员9人，专职人员3 人，公益性岗位9 人。社区工青妇、计生、民政、社保、环境卫生、文化教育、社区服务、社区警务室等配套组织齐全。雁西社区办公楼于2003年投入使用，总面积150平方米。
                  雁西社区在大雁塔街道党委办事处的领导下，坚持“以人为本，服务居民”的方针，发挥党总支部的战斗堡垒作用和共产党员的先锋模范作用，充分调动各方积极性，以标准化建设为抓手，设立“一站式”服务大厅，实施全程代办服务，为居民办理各项业务提供便利，进一步完善以最低生活保障为基础，医疗、住房、教育等专项救助为配套，灾害救助、临时救助等应急救助和社会互助为补充的综合性的社会救助体制，加大对老年人、残疾人、优抚对象、低保户等困难群体的救助力度，进一步密切党群、干群关系，构建和谐社区。
                </p>
                <p>社区先后荣获西安市社区建设示范社区、国家卫生城市先进单位、社区建设先进社区、创先争优先进党支部、党员干部现代远程教育三星级站点、人力资源社会保障工作优秀集体、西安市和谐社区示范社区等荣誉称号。在新的形势下，雁西社区将本着“以人为本，服务居民”的原则，全面建成一个环境优良、秩序井然、管理规范、人际和谐的幸福新家园。</p><hr>
              </div>
              <div class="dayantacun">
                <h1>大雁塔村</h1>
                <p>大雁塔村隶属雁塔区大雁塔街道办事处，于1953年成立集体组织，2003年大雁塔村土地被曲江管委会征用，从大雁塔南广场以南搬迁至雁塔区雁南四路雁鸣小区。东邻陕西省烟草公司，西邻庙坡头村，北邻曲江地税局，南邻曲江南苑，现雁鸣小区为大雁塔村拆迁重组小区。雁鸣小区占地80亩，24幢楼，总建筑面积为6.5万㎡，全村208户，总人口760人。室外活动场所面积500㎡，室内活动面积400㎡。村党支部书记1名，党组织委员2名，村正副主任各一名，村委会委员4人，党员28人，工作人员12人。</p>
                <p>村委会逐步完善了村级管理系统，为广大村民提供小区环境卫生、生活用水用电，安全防范、计生、社会保障等服务。小区设有农家书屋、党员活动室、道德讲堂、家长学校、未成年人活动室等活动场所。
                </p>
                <p>近年来，在雁塔区街道办事处的领导下，村级管理和服务体系逐步提升和完善，并得到了村民的支持和认可。今年6月被大雁塔街道办事处授予绘制民情地图绘制工作“先进党支部”。</p><hr>
              </div>
              <div class="guanyinmiaocun">
                <h1>观音庙村</h1>
                <p>观音庙村隶属于雁塔区大雁塔街道办事处管辖，起源清朝末年，历史悠久，现地处西安市西影路中段，占地面积220余亩，包括老村、西村、北村。老村户数125户，西村成立于1988年。户数80户，北村成立于1996年，户数63户。观音庙村现总户数为346户，总人口数为1380人，暂住人口约1800余人。</p>
                <p>观音庙村办公面积为300平米，室外活动场所面积达1000平米，工作人员13名，党员53名。观音庙村一站式服务办公室为村民社会保障、社会救助、安全防范、计生、社区环境、村文化等方面提供细致周到的服务。观音庙村设有群众书屋、道德讲堂、科普教室、书画室、居民活动室、未成年人活动室等阵地。
                </p>
                <p>近年来，我村获得了各项荣誉，受到了广大村民的认可和好评，2014年被中国西安市雁塔区大雁塔街道工作委员会评为先进党支部”；2013年被中国西安市雁塔区大雁塔街道工作委员会评为先进党支部；2012年被中国西安市雁塔区大雁塔街道工作委员会评为创先争优先进党支部；2011年被中国西安市雁塔区大雁塔街道工作委员会评为先进党支部；</p><hr>
              </div>
              <div class="taipingbaocun">
                <h1>太平堡村</h1>
                <p>太平堡村隶属雁塔区大雁塔街道办事处，1974年政府通过置换大雁塔村的土地，将全村整体搬迁而来的。1984年随着人民公社的撤消，太平堡大队改为村民委员会至今。位于著名的大雁塔以东，东、南面紧邻一处高级别墅皇家花园，西接大雁塔南广场酒吧一条街，南至皇家花园，北面隔慈恩东路分别与慈恩寺遗址公园和唐华宾馆相望。</p>
                <p>太平堡村占地57亩，全村277户，总人口548人。室外活动场所面积100㎡，室内活动面积260㎡。村党支部书记1名，党组织委员2名，党员47人，工作人员17人。
                </p>
                <p>村委会逐步完善了村级管理系统，为广大村民提供环境卫生、生活用水用电，安全防范、计生、法律咨询援助、社会保障等服务。村设有农家书屋、党员活动室、道德讲堂、家长学校等活动场所。</p><hr>
              </div>
              <div class="tieercun">
                <h1>铁二村</h1>
                <p>铁二村隶属于雁塔区大雁塔街道办事处，地处西安市西影路中段，南到西影路，北至青龙寺，东和铁一村为邻，西与王家村接壤。村民主打产业就是房屋出租。全村总面积204亩，现有3个村民小组，全村总户数335户，总人口830人。党员37人，流动人口6000多人，属典型城中村。</p>
                <p>全村办公面积为150平米，室外活动场所面积达100平米，工作人员21名。村两委会为村民提供便捷服务，缴纳电费水费卫生费一步完成，还设立了党员示范岗，在综治、劳保医保零距离为村民提供周到细致的服务。我们设有共享活动室，为群众提供群众书屋、道德讲堂、科普教室、活动室、未成年人活动室等阵地。
                </p>
                <p>近年来，我村获得了各项荣誉，受到了群众的认可和好评，2004被评为区级敬老模范村；2001年、2002年、2004年、2006年、2009年、2012年被街办评为先进集体单位；2003年、2004年、2011年、2012年、2013年、2014年、2017年被大雁塔街道办事处授予“先进党支部”；</p><hr>
              </div>
              <div class="tieyicun">
                <h1>铁一村</h1>
                <p>铁炉庙一村位于西影路中段北边，乐游原之畔，雁翔路将村子一分为二，北面临近青龙北路、南二环，南边与交大科技园、南郊水厂接壤。东边和延兴门北村为邻，西边和铁炉庙二村交错。现有土地300多亩，村民1294人，村三位会成员13人，党员33人，村民代表37人。</p>
                <hr>
              </div>
              <div class="wangjiacun">
                <h1>王家村</h1>
                <p>王家村隶属于雁塔区大雁塔街道办事处，1982年3月成立王家村委员会，地处西安市西影路中段。村内驻地单位1个（西部家具城），村内私立幼儿园1个，总户数368户，总人口1089人。</p>
                <p>
                  村办公面积423平方米，室外活动场所1000平方米，三委会工作人员11人，交叉任职2人，协管8人，直管党员61名。村委会逐步完善了村级管理系统，为广大村民提供小区环境卫生、生活用水用电，安全防范、计生、社会保障等服务。村内设有家长学校、图书室、党员活动室、道德讲堂等阵地。
                </p>
                <p>
                  近年来，我村获得了各种荣誉，受到了群众的认可和好评，2014年-2016年连续三年荣获大雁塔街道“先进党支部”荣誉称号。
                </p>
                <hr>
              </div>
              <div class="row" id='person'>
                <h1>领导班子</h1>
                <div class="col-md-4" ng-repeat="v in vm.photos" >
                  <ul class="thumbnails">
                    <li class="span4">
                      <div class="thumbnail">
                        <img src="{{v.photo}}">
                        <div class="row" style="height: 30px;padding-left: 10px;line-height: 30px;">
                          <div class="col-md-6">{{v.name}}</div>
                          <div class="col-md-6">{{v.duty}}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="partybuild_dongt" style="width: 100%;margin-bottom: 20px;">
                <div class="partybuild_title" style="margin-bottom: 10px;">
                  <b class="partybuild_tactive" style="border-bottom: 0">
                    <i class="icon_huodong"></i>
                    <a ui-sref="authentication.signin">
                      {{vm.type}}动态
                    </a>
                  </b>
                </div>
                <div class="baokan">
                  <div style="overflow: hidden;" class="row">
                    <div class="item" ng-repeat="partydt in vm.dongtai">
                      <a href="/partydtxq?id={{partydt.dynamicid}}">
                        <span style="display: block;padding:20px;font-weight: bold">{{partydt.dynamictitle}}</span>
                        <img width="33%" height="260" src="{{partydt.photoone}}">
                        <img width="33%" height="260" src="{{partydt.phototwo}}">
                        <img width="33%" height="260" src="{{partydt.photothree}}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="partyxq_fenye" style="padding-right: 30px;">
                  <a href="javascript:void(0)" ng-click="vm.shouye($event)" class="pageactive">首页</a><a href="javascript:void(0)" ng-click="vm.shangye($event)">上一页</a><input type="text" style="width: 40px;border: 1px solid #ddd;text-align: right" ng-model="vm.num">/{{vm.yeshu}}页<a href="javascript:void(0)" ng-click="vm.xiaye($event)">下一页</a><a href="javascript:void(0)" ng-click="vm.weiye($event)">尾页</a><a href="javascript:void(0)" ng-click="vm.tiao($event)">跳转</a> 总共 {{vm.count}} 条数据
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="index1_foot">
    <div class="index1_mainbox">
      <div class="index1_line"></div>
      <div class="index1_line1"></div>
      <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
    </div>
  </div>
</div>


