
<style>
  .container-fluid{
    padding: 0;
  }
  .page-container{
    margin-top: 0!important;
    background-image: url("/modules/core/client/img/image/liangxueyizuo/top.png");
  }
  .container{
    background-color: #fff;
    padding:20px;
    font-size: 14px;
  }
  .liangxue_title{
    padding:10px 0;
  }
  .liangxue_title span{
    font-size: 30px;
    color: red;
  }
  .liangxue_title span:nth-of-type(1){
    font-size: 15px;
    border-right: 2px solid red;
    margin-right:10px;
  }
  .liangxue_cont img{
    height: 50px;
    width: 100%;
  }
  .liangxue_cont ul li{
    width: 100%;
    padding:10px 10px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #index1_nav{
    background-image: url("/modules/core/client/img/image/map1/top.png");
  }
  .index1_title1 {
    width: 100%;
    height: 364px;
  }
  li:hover{
    cursor: pointer;
  }
</style>
<div class="logomask" ng-style="maskStyle" ng-show="logoShow"ng-click="showLogo()">

</div>
<div class="index1_model" ng-show="logoShow" style="height:logoHeight;width: 1200px;" ng-click="showLogo()">
  <div class="asa">    <a href="#"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toSHYK()"></a>    <a href="javascript:void(0)" ng-click="toLXYZ()"></a>    <a href="/partybuild#jiaoliu"></a>    <a href="/partyDQ#dangzhishi"></a>    <a href="/partyInter"></a>    <a href="/partydt"></a>    <a href="/basic"></a>    <a href="#"></a>    <a href="javascript:void(0)" ng-click="toGDDR()"></a>    <a href="/fulian"></a>    <a href="/study#studydt"></a>    <a href="http://www.12371.cn/special/zsjs/sj2/index.shtml"></a>    <a href="#"></a>    <a href="#"></a>    <a href="/minqingE"></a>    <a href="/basic#jiadaobanzi"></a>    <a href="#"></a>    <a href="/partybuild#jifen"></a>    <a href="/basic"></a>    <a href="http://dygbjy.12371.cn/"></a>    <a href="/partybuild#xiangmu1"></a>    <a href="#"></a>    <a href="/tuanwei#tuanwei"></a>    <a href="/xiaqu#xiaqu"></a>    <a href="/gonghui"></a>    <a href="/lingtouyan"></a>    <div class="clear"></div>  </div>
</div>
<div id="index1_nav">
    <div class="index1_title1">
        <div class="index1_airt">
            <div class="index1_mainbox">
                <div class="top_left lt">
                    <a href="http://www.gov.cn/">中央人民政府</a>
                    <span></span>
                    <a href="http://www.shaanxi.gov.cn/">陕西省人民政府</a>
                    <span></span>
                    <a href="http://www.xa.gov.cn/ptl/index.html">西安市人民政府</a>
                </div>
              <div class="top_right rt">
                <a href="#">
                  <i class="ic"></i>
                  <span ng-click="wap()">手机版</span>
                  <div class="top_ewm" ng-show="phone" >
                    <img src="/modules/core/client/img/image/index/wap.png" width="100px;">
                    <b>关注我们</b>
                  </div>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="ic1"></i>
                  <span>登录</span>
                </a>
              </div>
              <div class="top_right rt" style="margin-right: 10px">
                <a ui-sref="authentication.signin">
                  <i class="sb"></i>
                  <span>民情地图</span>
                </a>
                <a ui-sref="authentication.signin">
                  <i class="sb1"></i>
                  <span>党建地图</span>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="tubiao">
        <div class="div" ng-style="{'marginLeft': fixedLeft}">
            <span ></span>
            <ul class="tiem">
                <li><a href="/index1"><span class="wit1 tiem"></span><span class="tiem">首页</span></a></li>
                <li><a href="/basic"><span class="wit2 tiem"></span><span class="tiem">基础信息管理</span></a></li>
                <li><a href="/study"><span class="wit3 tiem"></span><span class="tiem">重点工作动态</span></a></li>
                <li><a href="/partybuild"><span class="wit4 tiem"></span><span class="tiem">区域化党建</span></a></li>
                <li><a href="/partymap"><span class="wit5 tiem"></span><span class="tiem">党建地图</span></a></li>
                <li ng-click="showLogo()"><span class="wit6 tiem"></span><span class="tiem logo">logo</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<img src="/modules/core/client/img/image/liangxueyizuo/top.png" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-md-4">
            <div>
              <div class="liangxue_title">
                <span></span>
                <span>亲商助企</span>
              </div>
              <div class="liangxue_cont">
                <!--<img src="/modules/core/client/img/image/liangxueyizuo/01.png">-->
                <ul>
                  <li><a href="#">找准企业运营瓶颈 落实精准包抓工作</a></li>
                  <li><a href="#">我委财政金融局赴华南城有限公司 帮助企业解决实际困难</a></li>
                  <li><a href="#">构建亲清新型政商关系 支持企业做大做强做优</a></li>
                  <li><a href="#">上官吉庆市长调研亲商助企联系企业</a></li>
                  <li><a href="#">六月份“千人亲商助企”活动开展情况</a></li>
                  <li><a href="#">关于贯彻落实省委常委、市委书记王永康同志批示精神的通知</a></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>精准扶贫</span>
            </div>
            <div class="liangxue_cont">
              <!--<img src="/modules/core/client/img/image/liangxueyizuo/02.png">-->
              <ul>
                <li><a href="#">西安雁塔区：凝心聚力惠民生 精准扶贫促发展</a></li>
                <li><a href="#">雁塔发力精准扶贫 打赢攻坚硬仗</a></li>
                <li><a href="#">以产业扶贫助力精准脱贫</a></li>
                <li><a href="#">西安市脱贫攻坚政策之精准脱贫</a></li>
                <li><a href="#">脱贫攻坚进行时 | 有一种温暖叫“精准扶贫”</a></li>
                <li><a href="#">全力推动精准扶贫精准脱贫落地生根</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>社会救助</span>
            </div>
            <div class="liangxue_cont">
              <!--<img src="/modules/core/client/img/image/liangxueyizuo/03.png">-->
              <ul>
                <li><a href="#">双创无盲点 雁塔区为残疾人搭建文创空间</a></li>
                <li><a href="#">关于提高城乡最低生活保障标准的通知</a></li>
                <li><a href="#">关于调整我市部分优抚对象等人员抚恤和生活补助标准的通知</a></li>
                <li><a href="#">农村五保供养工作条例</a></li>
                <li><a href="#">西安市城市低收入家庭认定暂行办法的通知</a></li>
                <li><a href="#">城市生活无着的流浪乞讨人员救助管理办法</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img class="intervalImg" src="/modules/core/client/img/image/map1/04.png" style="width: 100%"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>网格化管理</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li><a href="#">西安:社会管理“网格化” 服务市民“随叫随到”</a></li>
                <li><a href="#">雁塔区治污减霾网格化管理实施方案</a></li>
                <li><a href="#">雁塔：网格化监管为食药安全“兜底”</a></li>
                <li><a href="#">西安市雁塔区230名网格长集中开展城乡环境大整治</a></li>
                <li><a href="#">让群众在雁塔生活得更方便更舒心更美好</a></li>
                <li><a href="#">雁塔区鱼化寨街道精细化管理出实招</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>文化生活</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li><a href="#">西安全面构建现代公共文化服务体系</a></li>
                <li><a href="#">西安城墙根的文化生活</a></li>
                <li><a href="#">西安积极发展文化事业 提升城市竞争力影响力</a></li>
                <li><a href="#">集群化发展让西安文化更具影响力和穿透力</a></li>
                <li><a href="#">国家重大文化活动频定西安 中华文化首善之都再迎历史机遇</a></li>
                <li><a href="#">中央候补委员王永康：西安将打造“丝路文化高地”</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="liangxue_title">
              <span></span>
              <span>平安建设</span>
            </div>
            <div class="liangxue_cont">
              <ul>
                <li><a href="#">群众的平安才是雁塔的平安</a></li>
                <li><a href="#">雁塔：聚力平安建设 助力追赶超越</a></li>
                <li><a href="#">放飞平安翅膀 翱翔和谐蓝天 </a></li>
                <li><a href="#">西安市雁塔区：平安建设宣传周活动--拉开帷幕</a></li>
                <li><a href="#">雁塔区举行平安建设宣传周活动</a></li>
                <li><a href="#">发动群众一起做社区平安的建设者</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="index1_foot">
        <div class="index1_mainbox">
            <div class="index1_line"></div>
            <div class="index1_line1"></div>
            <p>主办：西安市雁塔区大雁塔街道 &nbsp;&nbsp;承办：西安杰森电子科技有限公司</p>
        </div>
    </div>
</div>
