<div>
  <!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 signin">-->
    <!--<h3 class="text-center">系统登录</h3>-->
    <!--<form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">-->
      <!--<fieldset>-->
        <!--<div class="form-group" show-errors>-->
          <!--<uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">-->
            <!--<span ng-bind="vm.error"></span>-->
          <!--</uib-alert>-->
          <!--<label for="usernameOrEmail">用户名称</label>-->
          <!--<input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus>-->
          <!--<div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">必须输入用户名称.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" show-errors>-->
          <!--<label for="password">密码</label>-->
          <!--<input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>-->
          <!--<div ng-messages="vm.userForm.password.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">必须输入密码.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="text-center form-group">-->
          <!--<button type="submit" class="btn btn-primary">登录</button>-->
          <!--&nbsp; /&nbsp;-->
          <!--<a ui-sref="authentication.signup">注册</a>-->
        <!--</div>-->
        <!--<div class="text-center forgot-password">-->
          <!--<a ui-sref="password.forgot">忘记密码?</a>-->
        <!--</div>-->
        <!--<br />-->
      <!--</fieldset>-->
    <!--</form>-->
  <!--</div>-->
  <style>
    * {
      margin: 0;
      padding: 0;
      border: 0;
    }
    html, body {
      height: 100%;
      width:100%
    }
    /*背景图*/
    body {
      background: url(/modules/core/client/img/image/login/loginbg.png) no-repeat;
      background-size:100% 100%;
    }

    .loginbox {
      position: absolute;
      top: 56%;
      width: 50%;
      left: 27%;
      height: 8%;
    }
    .loginbox i{
      display: inline-block;
      position: absolute;
      width: 50px;
      height: 50px;
    }
    .icon{
      top:15px;
      left: 16px;
      background: url("/modules/core/client/img/image/login/011-Contact-User-Icon.png")no-repeat;
    }
    .icon1{
      top:15px;
      left: 39.1%;
      background: url("/modules/core/client/img/image/login/053-Lock-Icon.png") no-repeat;
    }
    input{
      width: 36%;
      height: 50px;
      float: left;
      margin-top: 15px;
      margin-right: 6px;
      text-indent: 5em;
    }
    input:nth-of-type(1){
      margin-left: 17px;
    }
    form input[type="submit"]{
      width: 19.5%;
      margin-left: 0!important;
      margin-right: 0!important;
      margin-top: 15px!important;
      margin-right: 10px!important;
      background:url("/modules/core/client/img/image/login/denglu.png") no-repeat;
      background-color:transparent;
    }

    /*公司*/
    .copyright {
      position: absolute;
      width: 100%;
      top: 93%;
    }
    .copyright > p {
      text-align: center;
      font-size: 20px;
      color: #000;
    }
  </style>
  <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" novalidate autocomplete="off">
    <div class="loginbox">
      <i class="icon"></i><input type="text" name="userName" ng-model="vm.credentials.usernameOrEmail" />
      <i class="icon1"></i><input type="password" name="password"  ng-model="vm.credentials.password" />
      <input type="submit" value=""/>
    </div>
  </form>
</div>
