<div class="map-modal">
  <div class="modal-body">
    <uib-tabset active="0">
      <uib-tab index="0" heading="人员信息 {{vm.method}}">
        <form name="vm.mapPersonForm" class="form-horizontal"
              style="margin-top: 10px" novalidate>
          <fieldset ng-disabled="vm.disabled">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-12 form-group" show-errors>
                      <label class="control-label" for="name">姓名</label>
                      <input name="name" type="text" ng-model="vm.mapPersonData.name" id="name"
                             ng-pattern="/^[\u4e00-\u9fa5]/"
                             maxlength="20"
                             class="form-control" placeholder="请输入姓名" required autofocus>
                      <div ng-messages="vm.mapPersonForm.name.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">姓名不能为空！</p>
                      </div>
                      <div ng-show="vm.mapPersonForm.name.$dirty && vm.mapPersonForm.name.$invalid" class="has-error"
                           style="text-align: left">
                        <span class="help-block" ng-show="vm.mapPersonForm.name.$error.pattern">姓名必须是汉字!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12 form-group">
                      <label class="control-label">性别</label>
                      <select class="form-control"
                              ng-model="vm.mapPersonData.sex"
                              ng-options="pt.name as pt.name for pt in sexInfo">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-12 form-group">
                      <label class="control-label">所属社区</label>
                      <select class="form-control"
                              ng-disabled="vm.userCommId"
                              ng-model="vm.mapPersonData.communityid"
                              ng-options="c.id as c.name for c in communityInfo">
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12 form-group">
                      <label class="control-label">人员类型</label>
                      <select class="form-control"
                              ng-model="vm.mapPersonData.persontype"
                              ng-options="pt.persontypeid as pt.persontypename for pt in personTypeInfo">
                      </select>
                    </div>
                  </div>
                </div>
                <!--<div class="row">-->
                  <!--<div class="col-md-12">-->
                    <!--<div class="col-md-12 form-group" show-errors>-->
                      <!--<label class="control-label" for="identityid">身份证号码</label>-->
                      <!--<input name="identityid" type="text" ng-model="vm.mapPersonData.identityid" id="identityid"-->
                             <!--maxlength="18" ng-minlength="15"-->
                             <!--ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/"-->
                             <!--class="form-control" placeholder="请输入身份证号码" required autofocus>-->
                      <!--<div ng-messages="vm.mapPersonForm.identityid.$error" role="alert">-->
                        <!--<p class="help-block error-text" ng-message="required">身份证号码不能为空！</p>-->
                      <!--</div>-->
                      <!--<div ng-show="vm.mapPersonForm.identityid.$dirty &&-->
              <!--vm.mapPersonForm.identityid.$invalid" class="has-error"-->
                           <!--style="text-align: left">-->
                <!--<span class="help-block" ng-show="vm.mapPersonForm.identityid.$error.pattern||-->
                <!--vm.mapPersonForm.identityid.$error.minlength">请输入有效的身份证号码!</span>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  <label class="control-label">图片</label>
                  <div class="form-group text-center">
                    <img ngf-src="vm.fileSelected ? vm.picFile : vm.mapPersonData.photos"
                         alt="" class="img-thumbnail organization-profile-picture" ngf-drop>
                  </div>
                  <div ng-show="vm.loading" class="form-group text-center">
                    <img ng-src="/modules/core/client/img/loaders/loader.gif"
                         height="80" width="40" alt="Loading image...">
                  </div>
                  <div class="text-center form-group">
                    <button class="btn btn-default btn-file"
                            ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                            ng-model="vm.picFile" accept="image/*"
                            ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                            ngf-resize-if="$width > 400 || $height > 400">点击选择图片
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="tel">联系电话</label>
                  <input name="tel" type="text" ng-model="vm.mapPersonData.tel" id="tel"
                         ng-minlength="11" maxlength="11"
                         ng-pattern="/^1(3|4|5|7|8)\d{9}$/"
                         class="form-control" placeholder="请输入联系电话" required autofocus>
                  <div ng-messages="vm.mapPersonForm.tel.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">联系电话不能为空！</p>
                  </div>
                  <div ng-show="vm.mapPersonForm.tel.$dirty && vm.mapPersonForm.tel.$invalid" class="has-error"
                       style="text-align: left">
                <span class="help-block" ng-show="vm.mapPersonForm.tel.$error.pattern||
                vm.mapPersonForm.tel.$error.minlength">请输入有效的手机号码!</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="familynum">家庭人口</label>
                  <input name="familynum" type="text" ng-model="vm.mapPersonData.familynum" id="familynum"
                         maxlength="10"
                         ng-pattern="/^[0-9]*$/"
                         class="form-control" placeholder="请输入家庭人口" required autofocus>
                  <div ng-messages="vm.mapPersonForm.familynum.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">家庭人口不能为空！</p>
                  </div>
                  <div ng-show="vm.mapPersonForm.familynum.$dirty && vm.mapPersonForm.familynum.$invalid"
                       class="has-error" style="text-align: left">
                    <span class="help-block" ng-show="vm.mapPersonForm.familynum.$error.pattern">家庭人口只能为数字!</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="lng">经度</label>
                  <input name="lng" type="text" ng-model="vm.mapPersonData.lng" id="lng"
                         maxlength="50"
                         class="form-control" placeholder="请在地图上标注位置" required autofocus>
                  <div ng-messages="vm.mapPersonForm.lng.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">经度不能为空！</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="lat">维度</label>
                  <input name="lat" type="text" ng-model="vm.mapPersonData.lat" id="lat"
                         maxlength="50"
                         class="form-control" placeholder="请在地图上标注位置" required autofocus>
                  <div ng-messages="vm.mapPersonForm.lat.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">维度不能为空！</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="familymember">家庭成员</label>
                  <input name="familymember" type="text" ng-model="vm.mapPersonData.familymember" id="familymember"
                         maxlength="50"
                         class="form-control" placeholder="请输入家庭成员" required autofocus>
                  <div ng-messages="vm.mapPersonForm.familymember.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">家庭成员不能为空！</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12 form-group" show-errors>
                  <label class="control-label" for="familyaddress">家庭住址</label>
                  <input name="familyaddress" type="text" ng-model="vm.mapPersonData.familyaddress" id="familyaddress"
                         maxlength="50"
                         class="form-control" placeholder="请输入家庭住址" required autofocus>
                  <div ng-messages="vm.mapPersonForm.familyaddress.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">家庭住址不能为空！</p>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="form-group" show-errors>-->
            <!--<label class="control-label" for="birth">生日</label>-->
            <!--<input name="birth" type="text" ng-model="vm.mapPersonData.birth" id="birth"-->
            <!--class="form-control" placeholder="请输入生日" required autofocus>-->
            <!--<div ng-messages="vm.mapPersonForm.birth.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">生日不能为空！</p>-->
            <!--</div>-->
            <!--</div>-->
            <div class="col-md-12 form-group">
              <label class="control-label" for="difficultreason">困难原因</label>
              <textarea name="difficultreason" data-ng-model="vm.mapPersonData.difficultreason"
                        maxlength="400"
                        id="difficultreason" class="form-control" cols="30" rows="3"
                        placeholder="请输入困难原因"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzDifficultreason">*困难原因不能为空！</span>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label" for="difficultdemand">困难需求</label>
              <textarea name="difficultdemand" data-ng-model="vm.mapPersonData.difficultdemand"
                        maxlength="400"
                        id="difficultdemand" class="form-control" cols="30" rows="3"
                        placeholder="请输入困难需求"></textarea>
              <div>
                <span style="color: red" ng-show="vm.yzDifficultdemand">*困难需求不能为空！</span>
              </div>
            </div>
          </fieldset>
        </form>
      </uib-tab>
      <uib-tab index="1" heading="地图定位标注" ng-click="vm.showMap()"
               ng-show="vm.method=='新增'||vm.method=='修改'">
        <div class="row">
          <div class="col-md-12 clearfix" style="margin-top: 10px">
            <div id="allmap" style="height: 600px;width: 100%"></div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled"
            ng-click="vm.ok(vm.mapPersonForm.$valid)">提交
    </button>
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
